@charset "UTF-8";
@import "variable";


//____________________________
// style
//____________________________
@mixin content{
  padding-top: 12rem;
  padding-bottom: 12rem;

  @media#{$sp}{
    padding-top: 8.8rem;
    padding-bottom: 8.8rem;
  }
}


@mixin bgi{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin flex{
  display: flex;
}


@keyframes slideUp{
  0%{
    height: auto;
  }
  100%{
    height: 0;
    // display: none;
  }
}
