@charset "UTF-8";

//____________________________
//color
//____________________________

$black: #222222;
$white: #ffffff;
$primary: #cb0015;
$primary-hover: #e8253a;
$sub: 仮;
$lightgray1: #eeeeee;
$lightgray2: #f8f8f8;
$gray1: #999999;
$gray2: #cccccc;
$dark-gray: #666666;
$google: #ea4335;
$google-hover: #fa5445;
$facebook: #39569c;
$management-blue: #003686;
$facebook-hover: #507ce0;
$twitter: #5aabf3;
$twitter-hover: #67b4f7;
$apple-hover: #666666;
$lp-black: #000000;
$lp-grey: #41424e;
$lp-red: #c5282a;
$lp-lightgrey: #f2f2f2;
$lp-bgGrey: #f3f3f4;
$lp-yellow: #e4e1a6;
$lp-bgRed: #fdf6f6;
$lp-questionRed: #f9f2f2;

//____________________________
// media
//____________________________
$msp: "only screen and (max-width:349px)";
$sp: "only screen and (max-width:768px)";
$pc: "only screen and (min-width:769px)";
