@charset "UTF-8";
@import "mixin";
@import "variable";

// 2/17 長谷川
.payment{
  margin-top: 1rem;
  margin-bottom: 4rem;
  border: 1px solid $gray1;
  &--card{
    @include flex;
    padding: 1rem;
    border-bottom: 1px solid $gray1;
    &--new{
      // width: 50%;
      width: auto;
      padding: 1rem 1rem 2rem 1rem;
      // @media #{$sp}{
      //   width: 100%;
      // }
      &__yen{
        margin-left: 1rem;
        font-size: 1.4rem;
      }
      &__wrap{
        width: 50%;
        @media#{$sp}{
          width: 100%;
        }
      }
      &__title{
        margin-left: 1rem;
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1.8rem;
        white-space: nowrap;
      }
      .number{
        width: 60%;
        @media #{$sp}{
          justify-content: space-between;
        }
        &__input{
          width: 30%;
          margin-right: 1rem;
          @media #{$sp}{
            width: 48%;
            margin-right: 0;
          }
        }
      }
      &__input{
        // width: 100%;
        padding: 1.2rem 1rem;
        font-size: 1.4rem;
        background-color: $white!important;
        border: 1px solid $gray2;
        border-radius: 0!important;
      }
      &__text{
        padding-top: 2rem;
        padding-bottom: 1rem;
        font-size: 1.2rem;
      }
      &__btn{
        margin: 41px auto 0;
        @media#{$sp}{
          max-width: 33.4rem;
        }
      }
    }
    .card{
      margin-left: 1rem;
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 1.8rem;
    }
  }
}


// input[type=radio]{
//   display: none;
// }
// .radio01{
//   position: relative;
//   box-sizing: border-box;
//   display: inline-block;
//   width: auto;
//   padding: 5px 30px;
//   cursor: pointer;
// }
// .radio01::before{
//   position: absolute;
//   top: 50%;
//   left: 5px;
//   display: block;
//   width: 16px;
//   height: 16px;
//   margin-top: -8px;
//   content: "";
//   background: #ffffff;
//   border: 1px solid #231815;
//   border-radius: 50%;
// }
// .radio01::after{
//   position: absolute;
//   top: 50%;
//   left: 9px;
//   display: block;
//   width: 10px;
//   height: 10px;
//   margin-top: -4px;
//   content: "";
//   background: #ed7a9c;
//   border-radius: 50%;
//   opacity: 0;
// }
// input[type=radio]:checked + .radio01::after{
//   opacity: 1;
// }

// 3/3　長谷川


.profile{
  &__content{
    border-bottom: 1px ;
    &__item{
      margin-bottom: 1rem;
      color: $black;
      font-size: 1.6rem;
      font-weight: 500;
    }
    &__detail{
      margin-bottom: 2rem;
      font-size: 1.4rem;
    }
  }
}
