@charset "UTF-8";
@import "mixin";
@import "variable";
@import "space";

// スクロールバーが不必要に出てきてしまう対策
*::-webkit-scrollbar{
  display: none;
}
// inputタグのfocus削除
*:focus{
  outline: none;
}

ion-input{
  color: $black !important;
  input{
    color: $black !important;
  }
}
input{
  color: $black !important;
}

// 背景色の変更　ダークモード実装する場合は要調整
ion-content{
  --background: $lightgray2;
}
ion-router-link{
  color: $black;
  a{
    display: block;
    width: 100%;
    height: 100%;
  }
}
ion-page{
  height: 100%;
}
// buttonをデフォルトでpointerに
button{
  cursor: pointer;
}

.bg-gray{
  background: $lightgray2;
}

//コンテンツが少ない時footerの下に余白ができる対策
@media only screen and (max-width: 768px){
  ion-content{
    --background: $white;
  }
  *{
    box-sizing: border-box;

    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body ,html{
  color: $black;
  font-size: 62.5%;
  letter-spacing: .04em;
  background-color: $lightgray2;
  @media #{$sp}{
    background-color: $white;
  }
  // sp,pc表示切り替え用クラス
  .sp{
    display: none;
    @media #{$sp}{
      display: flex;
    }
  }
  .pc{
    display: flex;
    @media #{$sp}{
      display: none;
    }
  }
  .max--textOverflow{
    display: block;
    width: 200px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.inner{
  // width: 100%;
  max-width: 1104px;
  min-height: 100vh;
  padding-right: 4rem;
  padding-left: 4rem;
  margin: 0 auto;
  @media #{$sp}{
    padding-right: 2rem;
    padding-left: 2rem;
  }

  &--auth{
    @include flex;
    flex-direction: column;
    justify-content: center;
    max-width: 480px;
    min-height: 503px;
    // min-height: 480px;
    padding: 4rem;
    margin-top: 8rem;
    margin-right: auto;
    margin-left: auto;
    background-color: $white;
    border-radius: 8px;
    @media #{$sp}{
      min-height: calc(100vh - 46px - 48px);
      padding-right: 2rem;
      padding-left: 2rem;
      margin-top: 0;
    }

    &--sp{
      @media #{$sp}{
        padding-right: 0;
        padding-left: 0;
        // background-color: $lightgray2;
      }
    }
    &--select{
      max-width: 1024px;
      padding-right: 4rem;
      padding-left: 4rem;
      margin-top: 6.4rem;
      margin-right: auto;
      margin-bottom: 11.5rem;
      margin-left: auto;
      @media #{$sp}{
        padding-top: 4.4rem;
        padding-right: 0;
        padding-left: 0;
        margin-top: auto;
        margin-bottom: 2rem;
        background-color: $lightgray2;
      }
    }
  }
}
//sidebarとwrapのbox
// sidebarのあるページの余白
.main__wrap{
  @include flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 19.2rem;
  @media #{$sp}{
    padding-top: 1rem;
    padding-bottom: 9.7rem;
  }
}

//メインコンテンツのwrap
.content{
  &__wrap{
    position: relative;
    width: 76.5625%;
    padding: 4rem 5rem;
    overflow: hidden;
    background-color: $white;
    border-radius: 8px;
    @media #{$sp}{
      width: 100%;
      padding: 0;
      border-radius: 0;
    }
    &--chatPage{
      padding-top: 80px;
      @media #{$sp}{
        padding-top: 0;
      }
    }
  }
  &--box{
    &:not(:first-of-type){
      margin-top: 4rem;
    }

    &__title{
      @include flex;
      align-items: flex-end;
      h3{
        font-size: 1.8rem;
        font-weight: 600;
      }
      p{
        margin-top: 0;
        margin-bottom: 1rem;
        margin-left: 1rem;
        font-size: 1.4rem;
      }
    }
    &__list{
      padding: 3.2rem 0;
      font-size: 1.2rem;
      text-align: center;
      background-color: $lightgray2;
      @media #{$sp}{
        padding: 2.5rem 0;
      }
    }
  }
}

//footer
.footer{
  @include flex;
  justify-content: center;
  width: 100%;
  padding: .8rem 0 1rem;
  margin-top: auto;
  color: $white;
  background-color: $primary;
  @media #{$sp}{
    display: none;
  }
  &--copyright{
    font-size: 1.2rem;
    font-weight: 600;
  }
}

/* 2021/02/25 nana XD6 */
.applying__container{
  justify-content: space-around;
  display: flex;
  width: calc(100% - 32px);
  max-width: 1024px;
  margin: 80px auto 100px;
  border-radius: 8px;

  @media #{$sp}{
    flex-direction: column;
  }

  &__flex{
    &__title{
      display: block;
      margin-top: 40px;
      font-size: 2rem;

      @media #{$sp}{
        font-size: 1.8rem;
      }
    }

    &__status{
      display: inline-block;
      padding: 3px;
      margin: 10px 0 30px;
      color: $white;
      font-size: 1rem;
      background: $primary;
      border: 1px solid $primary;

      @media #{$sp}{
        font-size: 1.4rem;
      }

      &--management{
        background: $management-blue;
      }
    }

    &--width{
      width: 76.5%;
      padding: 0 50px;
      background: $white;

      @media #{$sp}{
        width: 100%;
      }
    }

    &__accordion{
      margin-bottom: 30px;

      &--border{
        border: 1px solid $gray2;
      }
    }
  }
}

/* 2021/3/3 nana XD2・4 */

.recruitment{
  &__title{
    @media #{$sp}{
      font-size: 1.4rem;
    }
  }
  &__chatNone{
    position: relative;
    align-items: center;
    display: flex;
    height: 80px;
    margin-bottom: 1rem;
    background-color: $lightgray2;
    transition: .3s;

    &__message{
      margin: 0 auto;

      &--pr{
        padding-right: 0;
      }
    }
  }

  &__status{
    color: $primary;
    background: $white;
    border: 1px solid $primary;
  }

  &__flex{
    display: flex;
    margin-top: 40px;
  }

  &__number{
    padding-top: 4px;
    margin-left: 10px;
    font-size: 1.4rem;

    @media #{$sp}{
      font-size: 1.2rem;
    }
  }
}

.applicationList{
  &__requests{
    &__title{
      @media #{$sp}{
        font-size: 1.8rem;
      }
    }
  }

  &__pb{
    padding-bottom: 40px;
  }
  &__bg{
    justify-content: space-between;
    display: flex;
    padding: 15px 25px;
    // height: 68px;
    background-color: $lightgray2;
    cursor: pointer;
    &:not(:first-of-type){
      margin-top: 1rem;
    }
  }

  &__statusWrap{
    display: flex;
    max-width: 500px;
  }

  &__name{
    padding-top: 3px;
    margin-left: 1rem;
    font-size: 1rem;
  }

  &__status{
    display: inline-block;
    padding: 3px 4px;
    color: $primary;
    font-size: 1rem;
    // margin-top: 15px;
    font-weight: 500;
    border: 1px solid $primary;

    &--sinsei{
      color: $white;
      background-color: $primary;
    }

    &--kanri{
      color: $white;
      background-color: $management-blue;
      border: 1px solid $management-blue;
    }
  }

  &__text{
    margin-top: 6px;
    font-size: 1.6rem;
    font-weight: 600;
  }

  &__icons{
    padding-top: 14px;

    &__img{
      width: 14px;
      height: 14px;
      margin-right: 2px;
    }

    &__number{
      display: inline-block;
      color: $primary;
    }
  }
}
//完了形のスタイル
.complete{
  @include flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 482px;
  padding: 7rem;
  @media #{$sp}{
    height: calc(100vh - 14rem);
    padding: 7rem 0;
  }
  &__title{
    margin: 0;
    margin-bottom: 3.6rem;
    font-size: 3.2rem;
    font-weight: 600;
    letter-spacing: .1em;
    text-align: center;
    @media #{$sp}{
      font-size: 2.8rem;
    }
  }
  &__desc{
    font-size: 1.6rem;
    line-height: 1.8;
    letter-spacing: 0;
    text-align: left;
  }
  .complete__desc + .complete__desc{
    margin-top: 2.6rem;
  }

  .complete__button{
    display: inline-block;
    width: 100%;
    height: 5.6rem;
    max-width: 31rem;
    margin: 4rem auto 0;
    color: $white;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 5.6rem;
    background-color: $primary;
    border-radius: 50rem;
    transition: .3s;
    @media screen and (max-width: 480px){
      max-width: 100%;
    }
    &:hover{
      background-color: $primary-hover;
      transition: .3s;
      cursor: pointer;
      opacity: .7;
    }
  }
}

.display__none{
  display: none !important;
}
.active{
  display: block !important;
}

//3/6長谷川
.auth{
  &--top{
    text-align: center;
    &__logo{
      width: 150px;
      margin-top: 4rem;
      margin-bottom: 5rem;
    }
    &__text{
      margin-top: 3rem;
      margin-bottom: 1rem;
      font-size: 1.4rem;
      font-weight: 300;
    }
  }
}

.tokkyo{
  &__title{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.2rem;
    @media #{$sp}{
      font-size: 1.8rem;
    }
  }
  &--state{
    &--applying{
      display: inline-block;
      padding: 3px 4px;
      margin-bottom: 3rem;
      color: $white;
      font-size: 1rem;
      font-size: 1rem;
      font-weight: 500;
      background-color: $primary;
    }
    &--management{
      display: inline-block;
      padding: 3px 4px;
      margin-bottom: 3rem;
      color: $white;
      font-size: 1rem;
      font-weight: 500;
      background-color: #003686;
    }
  }
}
.common{
  &__flex{
    @include flex;
    align-items: center;
  }
  &__form__title{
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    &--gray--bg{
      padding: 1.2rem 1rem;
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 1.8;
      background-color: $lightgray2;
      &:not(:first-of-type){
        margin-bottom: 1rem;
      }
    }
  }
  &__title{
    margin-bottom: 2rem;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 2;
  }
}

.file{
  &__item{
    margin-right: .8rem;
    font-size: 1.6rem;
    list-style: none;
    @media #{$sp}{
      font-size: 1.4rem;
    }
    &:first-of-type{
      margin-bottom: 1rem;
    }
    &__link{
      color: $primary;
      font-size: 1.2rem;
      border-bottom: 1px solid $primary;
    }
  }
}

/* 2021/03/17 nana XD 101 */

.p-applicantContact{
  &__status{
    display: flex;

    &--mt{
      display: flex;
      margin-top: 3rem;
    }
  }

  &__title{
    font-size: 1.6rem;
    font-weight: normal;
  }
  &__form{
    padding: 0 0 15px !important;
    border: none !important;

    &:first-of-type{
      margin-top: 1.5rem !important;
    }

    input[type="radio"]{
      width: 16px;
    }

    &__title{
      margin-top: 0 !important;
      font-size: 1.6rem !important;
      font-weight: normal !important;
    }
  }

  &__textarea{
    box-sizing: border-box;
    margin-bottom: 40px !important;
  }

  &__btn{
    padding-top: 0 !important;

    &--b{
      max-width: 33.4rem !important;
    }
  }
}

/* XD 100 */

.p-applicantReport{
  margin-bottom: 40px;

  &__reportTxt{
    padding: 15px 0 15px 15px;
    margin: 0;
    font-size: 1.6rem;
    font-weight: 500;
    background: $lightgray2;
    border-bottom: 1px solid $white;
  }

  &__reportWrap{
    padding: 15px 0 0 15px;
    margin-bottom: 0 !important;
    background: $lightgray2;

    &__img{
      width: 4rem !important;
      height: 4rem !important;
    }

    &__text{
      margin-top: 6px;
    }

    &--fw{
      font-weight: 500 !important;
    }
  }

  &__name{
    padding: 15px 0 15px 15px;
    background: $lightgray2;

    &__flex{
      display: flex;

      p{
        font-size: 1.4rem;

        @media #{$sp}{
          font-size: 1.2rem;
        }
      }

      &--mt{
        margin-top: 15px;
      }

      &--w{
        width: 200px;
        font-weight: 500;
        white-space: nowrap;
      }

      &--fw{
        width: 80%;
        font-weight: 300;
      }
    }
  }
}

// 余白のスタイル
.mt{
  &-30{
    margin-top: 3rem;
  }
}

// complete
.complete{
  &--page{
    min-height: calc(480px - 80px);
  }
  &__wrap{
    @include flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 540px;
    margin: 0 auto;
    // @media#{$sp}{
    //   height: 100vh;
    // }
  }
  &__title{
    margin-bottom: 4rem;
    font-size: 3.2rem;
    font-weight: 600;
    @media #{$sp}{
      font-size: 2.8rem;
    }
  }
  &__text{
    margin-bottom: 4rem;
    font-size: 1.6rem;
    line-height: 1.8;
    letter-spacing: .04em;
    @media #{$sp}{
      font-size: 1.6rem;
    }
  }
}

ion-router-link{
  &::shadow{
    color: blue !important;
  }
}

.pagination__box{
  justify-content: center;
  display: flex;
  width: 100%;
  margin-top: 4rem;
  .topend{
    width: 80px;
    height: 36px;
    @media #{$sp}{
      width: 45px;
    }
  }
  #active{
    width: 34px;
    height: 34px;
    color: $primary;
    line-height: 34px;
    background-color: $white;
    border: 1px $primary solid;
  }
}
.pagination--dot{
  margin-right: 1rem;
  color: $black;
  line-height: 36px;
  @media #{$sp}{
    margin-right: .4rem;
  }
}

.pagination__item{
  display: block;
  width: 36px;
  height: 36px;
  color: $white;
  font-size: 1.4rem;
  line-height: 36px;
  text-align: center;
  background-color: $primary;

  &:not(:last-of-type){
    margin-right: 1rem;
    @media #{$sp}{
      margin-right: .4rem;
    }
  }

  @media #{$sp}{
    font-size: 1rem;
  }
}
.validate__text{
  margin-top: -1rem;
  margin-bottom: 2rem;
  color: red;
}
.accordion__edit__text{
  position: relative;
  margin-left: 2rem;
  color: $primary;
  font-size: 1.2rem;
  font-weight: 600;
  transition: .3s;
  &:hover{
    opacity: .7;
  }
  &:after{
    position: absolute;
    bottom: -1px;
    left: 0;
    width: calc(100% - 16px);
    height: 2px;
    content: "";
    background-color: $primary;
  }
  img{
    position: relative;
    top: 1px;
    margin-left: .5rem;
  }
}
