@-webkit-keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

@keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

.accordion {
  margin-bottom: 3rem;
  border: 1px solid #cccccc;
}

.accordion:last-child {
  margin-bottom: 0;
}

.accordion__header {
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 3.8rem;
  padding: 2px 2.5rem 0;
  color: #222222;
  background-color: #eeeeee;
}

.accordion__header:hover {
  background-color: rgba(238, 238, 238, 0.2);
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .accordion__header {
    height: 3.5rem;
    padding: 0 1.5rem;
  }
}

.accordion__header__img {
  width: 1.4rem;
  height: 1.4rem;
  margin: 0;
  margin-right: 1rem;
}

.accordion__header__img img {
  width: 100%;
  vertical-align: middle;
}

.accordion__header__title {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .accordion__header__title {
    font-size: 1.6rem;
  }
}

.accordion__header__arrow {
  position: absolute;
  top: 48%;
  right: 2.5rem;
  display: inline-block;
  width: 9px;
  height: 5px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .3s;
  transition: .3s;
}

@media only screen and (max-width: 768px) {
  .accordion__header__arrow {
    right: 1.5rem;
  }
}

.accordion__header__arrow--active {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: .3s;
  transition: .3s;
}

@-webkit-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.accordion__contents {
  display: none;
  height: auto;
  padding: 1.5rem 2.5rem;
}

.accordion__contents--active {
  display: block;
  -webkit-animation: show .3s linear 0s;
          animation: show .3s linear 0s;
}

@media only screen and (max-width: 768px) {
  .accordion__contents {
    padding: 1.5rem;
  }
}

.accordion__contents__commonText {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.8;
}

@media only screen and (max-width: 768px) {
  .accordion__contents__commonText {
    font-size: 1.2rem;
  }
}

.accordion__contents__commonText--mb12 {
  display: inline-block;
  margin-bottom: 1.2rem;
}

.accordion__contents__commonTitle {
  margin: 0;
  margin-bottom: .2rem;
  font-size: 1.6rem;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .accordion__contents__commonTitle {
    font-size: 1.4rem;
  }
}

.accordion__contents__commonFilelist {
  padding: 0;
  margin: 0;
  margin-top: .8rem;
}

.accordion__contents__commonFilelist__child {
  margin-bottom: 4px;
}

@media only screen and (max-width: 768px) {
  .accordion__contents__commonFilelist__child {
    margin-bottom: 1rem;
  }
}

.accordion__contents__commonFilelist__child:last-child {
  margin-bottom: 0;
}

.accordion__contents__commonFilelist__child__text {
  display: inline-block;
  color: inherit;
  font-size: 1.4rem;
  text-decoration: underline;
  -webkit-transition: .3s;
  transition: .3s;
}

.accordion__contents__commonFilelist__child__text:hover {
  color: #cb0015;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .accordion__contents__commonFilelist__child__text {
    font-size: 1.2rem;
  }
}

.accordion__contents__externalLink {
  position: relative;
  color: inherit;
  text-decoration: underline;
  -webkit-transition: .3s;
  transition: .3s;
}

.accordion__contents__externalLink:hover {
  color: #cb0015;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .accordion__contents__externalLink {
    font-size: 1.4rem;
  }
}

.accordion__contents__externalLink:after {
  position: absolute;
  top: 50%;
  left: calc(100% + 1rem);
  display: inline-block;
  content: url(../img/common/external__link__icon.svg);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.accordion__contents__flex {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
  .accordion__contents__flex {
    margin-bottom: 0;
  }
}

.accordion__contents__flex__child {
  width: 50%;
}

.accordion__contents__flex__child:first-child {
  padding-right: 1.6rem;
}

@media only screen and (max-width: 768px) {
  .accordion__contents__flex__child {
    width: 100%;
  }
}

.accordion__contents__profile {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
}

.accordion__contents__profile__img {
  width: 8rem;
  height: 8rem;
  margin: 0;
  margin-right: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

@media only screen and (max-width: 768px) {
  .accordion__contents__profile__img {
    width: 6rem;
    height: 6rem;
    margin-right: 1rem;
  }
}

.accordion__contents__profile__text__kanji {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
  .accordion__contents__profile__text__kanji {
    margin-bottom: .5rem;
  }
}

.accordion__contents__profile__text__kana {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  .accordion__contents__profile__text__kana {
    margin-bottom: .7rem;
  }
}

.accordion__contents__profile__text__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.accordion__contents__profile__text__flex__child {
  display: none;
  padding: 2px 4px;
  margin-right: 1rem;
  color: #cb0015;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid #cb0015;
}

.accordion__contents__profile__text__flex__child--applicant {
  display: none;
  padding: 2px 4px;
  margin-right: 1rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  background-color: #cb0015;
  border: none;
}

.accordion__contents__profile__text__flex .dislay__active {
  display: block;
}

.accordion__contents__table {
  padding: 0;
  margin-bottom: 3rem;
}

.accordion__contents__table__child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #cccccc;
}

.accordion__contents__table__child:first-child {
  border-top: 1px solid #cccccc;
}

.accordion__contents__table__child:nth-child(odd) {
  background-color: #f8f8f8;
}

.accordion__contents__table__child__title, .accordion__contents__table__child__text {
  margin: 0;
  font-size: 1.4rem;
}

@media only screen and (max-width: 768px) {
  .accordion__contents__table__child__title, .accordion__contents__table__child__text {
    font-size: 1.2rem;
  }
}

.accordion__contents__table__child__title {
  width: 14rem;
  min-width: 14rem;
}

@media only screen and (max-width: 768px) {
  .accordion__contents__table__child__title {
    width: 12rem;
    min-width: 12rem;
  }
}

.accordion__contents__priceText {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.accordion__contents__priceText__red {
  color: #cb0015;
  font-size: 150%;
  font-weight: 600;
}

.accordion__contents__caution {
  margin: 0;
  color: #999999;
  font-size: 1rem;
}
