@-webkit-keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

@keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

.account__title {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.account__link {
  position: relative;
  display: block;
  padding: 2rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 300;
  border-bottom: 1px #eeeeee solid;
  -webkit-transition: .3s;
  transition: .3s;
}

@media only screen and (max-width: 768px) {
  .account__link {
    width: auto;
  }
}

.account__link:hover {
  background-color: #f8f8f8;
}

.account__link:after {
  position: absolute;
  right: 1.7rem;
  bottom: 41.9%;
  width: 5px;
  height: 8.77px;
  content: "";
  background: url(../img/btn-arrow.svg) no-repeat;
  background-position: center;
  background-size: cover;
}

.account__other--sp {
  display: none;
}

@media only screen and (max-width: 768px) {
  .account__other--sp {
    display: block;
    margin-bottom: 156px;
  }
  .account__other--sp__title {
    padding: 30px 0 10px 16px;
    margin-top: 48px;
    margin-left: 0;
    background: #eeeeee;
  }
  .account__other--sp__btn {
    width: auto;
    padding: 2rem 0 2rem 1rem;
  }
}

.profile__media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 1rem 2rem;
  color: #222222;
}

.profile__media__img {
  width: 80px;
  height: 80px;
  margin: 0;
  margin-right: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.profile__media__company {
  margin-top: .8rem;
  margin-bottom: .4rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.profile__media__kana {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 300;
}

.profile__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 2rem 0;
  border-bottom: 1px #eeeeee solid;
}

.profile__item__title {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.7rem;
}

.profile__item__text {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.8rem;
}

.profile__item__link {
  position: relative;
  display: block;
  padding-top: 2rem;
  padding-right: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: right;
  -webkit-transition: .3s;
  transition: .3s;
}

.profile__item__link:hover {
  opacity: .6;
}

.profile__item__link:after {
  position: absolute;
  right: 0;
  bottom: 2px;
  width: 5px;
  height: 8.77px;
  content: "";
  background: url(../img/btn-arrow.svg) no-repeat;
  background-position: center;
  background-size: cover;
}
