@-webkit-keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

@keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

.arrivalsList__tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 2.8rem;
  -webkit-transition: .3s;
  transition: .3s;
}

@media only screen and (max-width: 768px) {
  .arrivalsList__tabs {
    position: fixed;
    top: 8px;
    z-index: 1000;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 0;
  }
}

.arrivalsList__tabs--child {
  width: 49%;
  padding: 2.1rem 2.4rem;
  color: #222222;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: #eeeeee;
  pointer-events: pointer;
}

@media screen and (max-width: 900px) {
  .arrivalsList__tabs--child {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }
}

.arrivalsList__tabs--child:hover {
  background-color: #cccccc;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .arrivalsList__tabs--child {
    width: 50%;
    padding: 1.9rem 2rem;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 320px) {
  .arrivalsList__tabs--child {
    font-size: 1rem;
  }
}

.arrivalsList__tabs .active__tab {
  color: #ffffff;
  background-color: #cb0015;
  -webkit-transition: .3s;
  transition: .3s;
}

.arrivalsList__tabs .active__tab:hover {
  background-color: #e8253a;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .arrivalsList__wrap {
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .arrivalsList {
    margin-top: 3.4rem;
  }
}

.arrivalsList .arrivalsList__posts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: .46rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #cccccc;
}

.arrivalsList .arrivalsList__posts__text {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0;
}

.arrivalsList .arrivalsList__posts__text--unit {
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  .arrivalsList .arrivalsList__posts__text--show {
    font-size: 1.2rem;
  }
}

.arrivalsList .arrivalsList__catOrder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  .arrivalsList .arrivalsList__catOrder {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.arrivalsList .arrivalsList__catOrder__catWrap {
  width: 27rem;
  height: 3rem;
}

@media only screen and (max-width: 768px) {
  .arrivalsList .arrivalsList__catOrder__catWrap {
    width: 100%;
    margin-bottom: 1.6rem;
  }
}

.arrivalsList .arrivalsList__catOrder__cat {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

@media only screen and (max-width: 768px) {
  .arrivalsList .arrivalsList__catOrder__cat {
    font-size: 1rem;
  }
}

.arrivalsList .arrivalsList__catOrder__cat:before {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 3rem;
  height: 100%;
  content: "";
  background-color: #cccccc;
}

.arrivalsList .arrivalsList__catOrder__cat:after {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  display: inline-block;
  content: url(../img/common/icon-arrow-white-down.svg);
  -webkit-transform: translate(50%, -65%);
          transform: translate(50%, -65%);
}

.arrivalsList .arrivalsList__catOrder__cat__select {
  width: 100%;
  height: 100%;
  padding: 0 .4rem;
  color: #222222;
  font-size: 1.2rem;
  background-color: #ffffff;
  border: none !important;
  outline: none;
}

.arrivalsList .arrivalsList__catOrder__cat__select:focus {
  outline: none;
}

@media only screen and (max-width: 768px) {
  .arrivalsList .arrivalsList__catOrder__cat__select {
    font-size: 1rem;
  }
}

.arrivalsList .arrivalsList__catOrder__order {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrivalsList .arrivalsList__catOrder__order img {
  display: inline-block;
  margin-right: .5rem;
}

.arrivalsList .arrivalsList__catOrder__order__select {
  position: static;
  width: 3.6rem;
  direction: rtl;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
}

.arrivalsList .arrivalsList__catOrder__order__select::-ms-expand {
  display: none;
}

.arrivalsList .arrivalsList__child {
  margin-bottom: 3rem;
}

@media only screen and (max-width: 768px) {
  .arrivalsList .arrivalsList__child {
    margin-bottom: 2rem;
  }
}

.arrivalsList .arrivalsList__child:last-child {
  margin-bottom: 1rem;
}

.arrivalsList .arrivalsList__child:hover {
  cursor: pointer;
}

.arrivalsList .arrivalsList__child:hover .arrivalsList__child__top {
  background-color: #eeeeee;
  -webkit-transition: .3s;
  transition: .3s;
}

.arrivalsList .arrivalsList__child .arrivalsList__child__top {
  padding: 1.3rem 1.5rem .9rem;
  background-color: #f8f8f8;
  -webkit-transition: .3s;
  transition: .3s;
}

@media only screen and (max-width: 768px) {
  .arrivalsList .arrivalsList__child .arrivalsList__child__top {
    padding: 1.3rem 1rem .9rem;
  }
}

.arrivalsList .arrivalsList__child__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .7rem;
}

.arrivalsList .arrivalsList__child__info .child__info {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0;
}

.arrivalsList .arrivalsList__child__info .info--register {
  margin-left: .4rem;
}

.arrivalsList .arrivalsList__child__info .info--cat {
  padding: .2rem .3rem;
  margin-left: 1rem;
  color: #ffffff;
  background-color: #cb0015;
}

.arrivalsList .arrivalsList__child__name {
  margin: 0;
  margin-bottom: .7rem;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: .04em;
}

.arrivalsList .arrivalsList__child__desc {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: .04em;
}

.arrivalsList .arrivalsList__child .read__more {
  color: #cb0015;
  font-size: .8rem;
  font-weight: 300;
  text-decoration: underline;
}

.arrivalsList .arrivalsList__child .arrivalsList__child__bottom {
  padding: .5rem 1.5rem .2rem;
  background-color: #cb0015;
}

@media only screen and (max-width: 768px) {
  .arrivalsList .arrivalsList__child .arrivalsList__child__bottom {
    padding: .4rem 1rem .2rem;
  }
}

.arrivalsList .arrivalsList__child .arrivalsList__child__bottom__text {
  margin: 0;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0;
  text-align: right;
}

.arrivalsList .arrivalsList__child .arrivalsList__child__bottom__text--number {
  font-size: 133%;
}

.arrivalsList--noResult {
  padding: 3.4rem 1.6rem;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: .04em;
  text-align: center;
  background-color: #f8f8f8;
}

@media only screen and (max-width: 768px) {
  .arrivalsList--noResult {
    padding: 2.5rem .8rem;
    font-size: 1rem;
  }
}
