@-webkit-keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

@keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

.bank__list {
  width: 100%;
  margin-bottom: 4rem;
}

.bank__list__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  padding: 1rem 2.5rem;
}

.bank__list__item:nth-of-type(odd) {
  background-color: #f8f8f8;
}

.bank__list__item__title {
  width: 20%;
  color: #222222;
  font-size: 1.6rem;
  font-weight: 500;
}

@media only screen and (max-width:768px) {
  .bank__list__item__title {
    width: 33%;
    font-size: 1.4rem;
  }
}

.bank__list__item__text {
  width: 80%;
  color: #222222;
  font-size: 1.6rem;
}

@media only screen and (max-width:768px) {
  .bank__list__item__text {
    width: 67%;
    font-size: 1.4rem;
  }
}

.bank__info {
  margin-bottom: 4rem;
}

.bank__info__item {
  width: 100%;
}

.bank__info__item--half {
  width: 50%;
}

.bank__info__item__title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.bank__info__item__title :first-of-type {
  margin-top: 0;
}

.bank__info__item__text {
  padding: 1.2rem 1rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  background-color: #f8f8f8;
}

.bank__info__item__text--l {
  height: 90px;
}

.bank__info__item__text:last-of-type {
  margin-bottom: 0;
}

.bank__info__btn {
  width: 100%;
  height: 5.6rem;
  max-width: 280px;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 5.6rem;
  background-color: #cb0015;
  border-radius: 2.8rem;
  -webkit-transition: .3s;
  transition: .3s;
}

@media only screen and (max-width:768px) {
  .bank__info__btn {
    max-width: 100%;
  }
}

.bank__info__btn:hover {
  background-color: #e8253a;
}

.bank__info__btn-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 100%;
  margin-top: 4rem;
}

@media only screen and (max-width:768px) {
  .bank__info__btn-box {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.bank__info__btn:first-of-type {
  margin-right: 1.5rem;
  color: #222222;
  background-color: #eeeeee;
}

@media only screen and (max-width:768px) {
  .bank__info__btn:first-of-type {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 1.5rem;
    margin-right: 0;
  }
}

.bank__info__btn:first-of-type:hover {
  background-color: #cccccc;
}

.bank__proceeds__bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 460px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 3rem;
  background-color: #f8f8f8;
  border-radius: 1.2rem;
}

@media only screen and (max-width:768px) {
  .bank__proceeds__bar {
    width: 100%;
  }
}

.bank__proceeds__bar--month {
  color: #222222;
  font-size: 1.2rem;
  background-color: #f8f8f8;
}

.bank__proceeds__bar__btn {
  width: 13.91304%;
  min-width: 64px;
  padding: .6rem 0;
  color: #ffffff;
  background-color: #cccccc;
  border-radius: 1.2rem;
}

.bank__proceeds__bar__btn:first-of-type {
  background-color: #cb0015;
}

.bank__proceeds__box {
  width: 100%;
  border: 1px #eeeeee solid;
}

.bank__proceeds__box--amount {
  padding: 1.5rem 2.5rem;
}

@media only screen and (max-width:768px) {
  .bank__proceeds__box--amount {
    padding: 1rem;
  }
}

.bank__proceeds__box--amount .date {
  font-size: 1.4rem;
  font-weight: 600;
}

.bank__proceeds__box--amount .amount__text {
  font-size: 1.4rem;
  font-weight: 600;
}

@media only screen and (max-width:768px) {
  .bank__proceeds__box--amount .amount__text {
    font-size: 1.2rem;
  }
}

.bank__proceeds__box--amount .amount__text--flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bank__proceeds__box--amount .amount__text--s {
  margin-left: 1rem;
}

@media only screen and (max-width:768px) {
  .bank__proceeds__box--amount .amount__text--s {
    margin-left: .4rem;
  }
}

.bank__proceeds__box--amount .amount__text--red {
  color: #cb0015;
  font-size: 2.4rem;
  font-weight: 600;
}

@media only screen and (max-width:768px) {
  .bank__proceeds__box--amount .amount__text--red {
    font-size: 2rem;
  }
}

.bank__proceeds__box__title {
  padding: .8rem 2.5rem;
  font-size: 1rem;
  background-color: #eeeeee;
}

.bank__proceeds__box__item {
  padding: 1rem 2.5rem;
  background-color: #ffffff;
}

@media only screen and (max-width:768px) {
  .bank__proceeds__box__item {
    padding: 1rem 2.5rem;
    padding: 1rem;
  }
}

.bank__proceeds__box__item:nth-of-type(odd) {
  background-color: #f8f8f8;
}

.bank__proceeds__box__item .date {
  font-size: 1.4rem;
  font-weight: 500;
}

@media only screen and (max-width:768px) {
  .bank__proceeds__box__item .date {
    font-size: 1rem;
  }
}

.bank__proceeds__box__item .item__text {
  overflow: hidden;
  font-size: 1.6rem;
  font-weight: 600;
}

@media only screen and (max-width:768px) {
  .bank__proceeds__box__item .item__text {
    font-size: 1.4rem;
  }
}

.bank__proceeds__box__item .item__text--s {
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

@media only screen and (max-width:768px) {
  .bank__proceeds__box__item .item__text--s {
    margin-left: .4rem;
    font-size: 1rem;
  }
}

.bank__proceeds__box__item .item__text--l {
  font-size: 1.8rem;
  font-weight: 600;
}

@media only screen and (max-width:768px) {
  .bank__proceeds__box__item .item__text--l {
    font-size: 1.4rem;
  }
}

.bank__proceeds__box__item .item__text--flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: .4rem;
}
