@-webkit-keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

@keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

.footerSP__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: calc(56px + env(safe-area-inset-bottom));
  overflow: visible;
  background-color: #ffffff;
  border-top: 1px solid #cccccc;
}

.footerSP__wrap * {
  overflow: visible;
}

@media only screen and (max-width: 768px) {
  .footerSP__wrap {
    position: fixed;
    bottom: 0;
  }
}

.applicant__footerSP__inner {
  width: 100%;
  max-width: 338px;
  padding-right: 16px;
  padding-left: 16px;
  margin: 0 auto;
}

.attorney__footerSP__inner {
  width: 100%;
  max-width: 353px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
}

.footerSP {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerSP__menuItem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 5rem;
  overflow: visible;
  text-align: center;
}

.footerSP__menuItem__img {
  display: inline-block;
  width: 2.5rem;
  height: 2.7rem;
  margin: 0;
}

.footerSP__menuItem__img img {
  display: none;
  width: 100%;
  margin-bottom: auto;
  vertical-align: top;
}

.footerSP__menuItem__img .img--active {
  display: inline-block;
}

.footerSP__menuItem__text {
  color: #999999;
  font-size: 1rem;
  font-weight: 300;
  white-space: nowrap;
}

.footerSP__menuItem--notice {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 6px;
  right: -1px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2rem;
  height: 2rem;
  margin: 0;
  color: #ffffff;
  background-color: #cb0015;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footerSP__menuItem--notice--Text {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footerSP__menuItem--active .footerSP__menuItem__text {
  color: #222222;
}
