@-webkit-keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

@keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

.a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: red;
}
/*# sourceMappingURL=Footer.css.map */