@charset "UTF-8";
@-webkit-keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}
@keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

.gray__bg {
  padding: 1.3rem 1rem;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  line-height: 1.8;
  background-color: #f8f8f8;
}

.gray__bg__half {
  width: 50%;
}

.form__classification {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 1rem;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  cursor: pointer;
}

.form__classification--circle {
  border-radius: 50%;
}

.form__classification:first-of-type {
  margin-top: 1rem;
}

.form__classification[for="0"] {
  border-top: 1px solid #cccccc;
}

.form__classification__end {
  border-bottom: 1px solid #cccccc;
}

.form__classification input {
  display: none;
}

.form__classification__checkbox {
  position: relative;
  width: 15px;
  height: 15px;
  margin-right: 1rem;
  border: 1px #cccccc solid;
}

.form__classification__checkbox--active {
  position: relative;
  width: 15px;
  height: 15px;
  margin-right: 1rem;
  border: 1px #cccccc solid;
}

.form__classification__checkbox--active::after {
  position: absolute;
  top: 48%;
  left: 3px;
  display: block;
  width: 4px;
  height: 8px;
  margin-top: -7px;
  content: "";
  border-right: 3px solid #cb0015;
  border-bottom: 3px solid #cb0015;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 1;
}

.form__classification__checkbox::after {
  position: absolute;
  top: 48%;
  left: 3px;
  display: block;
  width: 4px;
  height: 8px;
  margin-top: -7px;
  content: "";
  border-right: 3px solid #cb0015;
  border-bottom: 3px solid #cb0015;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
}

.form__classification__title {
  color: #222222;
  font-size: 1.4rem;
  line-height: 1.8rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form__classification__disc {
  color: #666666;
  font-size: 1.2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form__classification--undertext {
  display: inline-block;
  margin-top: 1rem;
  color: #999999;
  font-size: 1rem;
}

.form__classification--undertext__link {
  color: #222222;
  text-decoration: underline;
}

.form__classification--undertext__link:hover {
  opacity: .8;
}

.form--bank__formtype {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #222222;
  font-size: 1.2rem;
}

.form--bank__undertext {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #999999;
  font-size: 1rem;
}

.form__profile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.form__profile__wrap {
  margin-bottom: 29.7px;
}

.form__profile__img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 100px;
  margin-right: 1rem;
  border: 1px solid #cccccc;
  cursor: pointer;
}

.form__profile__img:hover {
  background-color: #f8f8f8;
}

.form__profile__img .camera {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form__profile__input {
  display: none;
}

.form__profile__text .heading {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3.1rem;
}

@media only screen and (max-width: 768px) {
  .form__profile__text .heading {
    font-size: 1.6rem;
  }
}

.form__profile__text .disc {
  color: #999999;
  font-size: 1rem;
  line-height: 1.8;
}

.form__textarea {
  min-height: 100px;
}

@media only screen and (max-width: 768px) {
  .form__textarea {
    min-height: 128px;
  }
}

.form__input {
  width: 100%;
  padding: 1.2rem 1rem;
  margin-top: 1rem;
  color: #222222;
  font-size: 1.4rem;
  background-color: #ffffff !important;
  border: 1px solid #cccccc;
  border-bottom: 1px solid #999999;
  border-radius: 0 !important;
}

@media only screen and (max-width: 768px) {
  .form__input {
    width: 99%;
  }
}

.form__input--l {
  height: 128px;
}

.form__input--half {
  width: 50%;
}

@media only screen and (max-width:768px) {
  .form__input--half {
    width: 100%;
  }
}

.form__select {
  position: relative;
  width: 100%;
  max-height: 39px;
  padding: 1.2rem 1rem;
  color: #999999;
  font-size: 1.4rem;
  -webkit-appearance: none;
  /*デフォルトのスタイルを解除 */
  -moz-appearance: none;
  appearance: none;
  background-color: #ffffff;
  border: 1px solid #999999;
  cursor: pointer;
}

.form__select--deco {
  position: relative;
  display: block;
  width: 40.8%;
  cursor: pointer;
}

.form__select--deco:not(:first-of-type) {
  margin-top: 1rem;
}

.form__select--deco::before {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 1;
  width: 3%;
  padding-top: 1.9%;
  content: "";
  background: url(../img/select__arrow.svg) no-repeat;
  background-position: center;
  background-size: cover;
}

.form__select--deco::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 14%;
  height: 39px;
  content: "";
  background-color: #999999;
  pointer-events: none;
}

.form__select__option {
  color: #222222;
}

.form__title {
  display: block;
  font-size: 2rem;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .form__title {
    font-size: 1.6rem;
  }
}

.form__title--ib {
  display: inline-block;
}

.form__title__wrap {
  margin-bottom: 30px;
}

.form__title__wrap__flex {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
}

.form__title__wrap--mt {
  margin-bottom: 20px;
}

.form__title__12 {
  position: relative;
  top: 2px;
  margin-top: 3rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.form__title__20 {
  display: block;
  font-size: 2rem;
}

@media only screen and (max-width: 768px) {
  .form__title__20 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }
}

.form--address {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.form--address .mark {
  display: inline-block;
  padding-right: 1rem;
  color: #222222;
  font-size: 1.4rem;
}

.form--address .address {
  max-width: 100px;
  padding: 1.2rem 1rem;
  margin-right: 1rem;
  font-size: 1.4rem;
  background-color: #ffffff !important;
  border: 1px solid #cccccc;
  border-radius: 0 !important;
}

.form--address .number {
  display: none;
  height: 42px;
  padding: 1.2rem 1rem;
  color: #ffffff;
  font-size: 1.4rem;
  background-color: #666666;
}

.form__badge--recruitment {
  display: inline-block;
  padding: 3px 4px;
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: #cb0015;
  font-size: 1rem;
  font-weight: 500;
  border: 1px #cb0015 solid;
}

.form__badge--required {
  display: inline-block;
  padding: 3px 4px;
  margin-left: 1rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  background-color: #cb0015;
}

.form__badge--mt {
  height: 16px;
  margin-top: 3rem;
}

.form--plan {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  cursor: pointer;
}

.form--plan input[type="radio"] {
  width: 18px;
  height: 18px;
}

.form--plan:first-of-type {
  margin-top: 1rem;
}

.form--plan:last-of-type {
  border-bottom: 1px solid #cccccc;
}

.form--plan--price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-left: 1rem;
}

.form--plan--price__title {
  margin: 0;
  color: #222222;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.form--plan--price__text {
  display: block;
  color: #666666;
  font-size: 1rem;
  line-height: 1.8rem;
}

.form--plan--price--offer {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #222222;
  font-size: 1rem;
}

.form--plan--price__textarea {
  width: 100%;
  min-height: 128px;
  padding: 1.2rem 1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  background-color: #ffffff !important;
  border: 1px solid #cccccc;
  border-bottom: 1px solid #999999;
  border-radius: 0 !important;
}

.form__text__company {
  margin-left: 10px;
  font-size: 1.6rem;
}

.form__input__company {
  width: 16px;
  height: 16px;
}

.radioBtn__input {
  display: none;
}

.radioBtn__label {
  position: relative;
  width: 14px;
  height: 14px;
  border: #cccccc solid 1px;
  border-radius: 50%;
}

.radioBtn__label:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  content: "";
  background-color: #cb0015;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.radioBtn__input:checked + .radioBtn__label::after {
  opacity: 1;
}
