@-webkit-keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

@keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

.payment {
  margin-top: 1rem;
  margin-bottom: 4rem;
  border: 1px solid #999999;
}

.payment--card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #999999;
}

.payment--card--new {
  width: auto;
  padding: 1rem 1rem 2rem 1rem;
}

.payment--card--new__yen {
  margin-left: 1rem;
  font-size: 1.4rem;
}

.payment--card--new__wrap {
  width: 50%;
}

@media only screen and (max-width:768px) {
  .payment--card--new__wrap {
    width: 100%;
  }
}

.payment--card--new__title {
  margin-left: 1rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.8rem;
  white-space: nowrap;
}

.payment--card--new .number {
  width: 60%;
}

@media only screen and (max-width: 768px) {
  .payment--card--new .number {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.payment--card--new .number__input {
  width: 30%;
  margin-right: 1rem;
}

@media only screen and (max-width: 768px) {
  .payment--card--new .number__input {
    width: 48%;
    margin-right: 0;
  }
}

.payment--card--new__input {
  padding: 1.2rem 1rem;
  font-size: 1.4rem;
  background-color: #ffffff !important;
  border: 1px solid #cccccc;
  border-radius: 0 !important;
}

.payment--card--new__text {
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.payment--card--new__btn {
  margin: 41px auto 0;
}

@media only screen and (max-width:768px) {
  .payment--card--new__btn {
    max-width: 33.4rem;
  }
}

.payment--card .card {
  margin-left: 1rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.8rem;
}

.profile__content {
  border-bottom: 1px;
}

.profile__content__item {
  margin-bottom: 1rem;
  color: #222222;
  font-size: 1.6rem;
  font-weight: 500;
}

.profile__content__detail {
  margin-bottom: 2rem;
  font-size: 1.4rem;
}
