@-webkit-keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

@keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

ion-header {
  padding-top: env(safe-area-inset-top);
}

@media only screen and (max-width: 768px) {
  ion-header {
    color: #222222 !important;
    background-color: #707070;
  }
}

.header__base {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8rem;
  padding: 0 3rem 0 4rem;
  background-color: #ffffff;
  border-bottom: 1px #707070 solid;
}

@media only screen and (max-width: 768px) {
  .header__base {
    height: 4.8rem;
    padding: 0 1.5rem 0 1.5rem;
    background-color: #f8f8f8;
  }
}

.header__base .close__icon {
  margin-left: auto;
  font-size: 3rem;
  cursor: pointer;
}

.header__base .hover__pointer {
  margin-left: auto;
}

.header__base .hover__pointer:hover {
  cursor: pointer;
}

.header__base .header__backButton {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
  color: #666666;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: .04em;
  text-decoration: none;
  background: #ffffff;
}

@media only screen and (max-width: 768px) {
  .header__base .header__backButton {
    font-size: 1.2rem;
  }
}

.header__base .header__backButton--text {
  display: inline-block;
  margin-left: .8rem;
}

.header__home--logo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 20rem;
  margin-left: 0;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .header__home--logo {
    width: 12rem;
    margin: 0 auto;
  }
}

.header__home--logo img {
  width: 100%;
}

.header__home--logo a {
  max-width: 100%;
  vertical-align: middle;
}

.header__home--logo a img {
  width: 100%;
  vertical-align: middle;
}

.header__title {
  width: 100%;
}

.header__title--text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #222222;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: .04em;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
  .header__title--text {
    font-size: 1.6rem;
  }
}

.header__back {
  width: 100%;
  text-align: right;
}

.header__backclose {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
          flex-flow: wrap;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  width: calc(100% - 61px);
  -webkit-box-pack: justify;
}

.header--center__text {
  position: absolute;
  top: 3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.header--center__text--Xcenter {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

.header--center__text--Xcenter .title {
  color: #222222;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
}

.header--center__text--Xcenter .name {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
}

.header--center__text .name {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
}

.header--center__text .case {
  font-size: 1rem;
  line-height: 1.8;
}

.header__desc {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__desc--bold {
  font-size: 1.6rem;
  font-weight: bold;
}

.header__desc--text {
  margin-top: .5rem;
  font-size: 1.2rem;
}

.header__chat {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: calc(100% - 70px);
  height: 5.6rem;
}

@media only screen and (max-width: 768px) {
  .header__chat {
    display: none;
  }
}

.header__chat--info {
  position: absolute;
  top: 50%;
  right: 2.1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
