@-webkit-keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

@keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

ion-input {
  height: 40px;
}

.aaa {
  position: fixed;
  height: 100vh !important;
  overflow: hidden;
}

.auth--regist__tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .auth--regist__tabs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
  }
}

.auth--regist__tabs .active__tab {
  color: #ffffff;
  background-color: #cb0015;
}

.auth--regist__tabs__tab {
  width: 48.684211%;
  padding: 2.1rem 2.4rem;
  color: #222222;
  font-size: 1.4rem;
  background-color: #eeeeee;
  pointer-events: pointer;
}

@media only screen and (max-width: 768px) {
  .auth--regist__tabs__tab {
    width: 50%;
    padding: 1.9rem 2rem;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 320px) {
  .auth--regist__tabs__tab {
    font-size: 1rem;
  }
}

.auth--regist__heading {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.8rem;
}

@media only screen and (max-width: 768px) {
  .auth--regist__heading {
    margin-top: 8rem;
  }
}

.auth--regist__disc {
  display: block;
  margin-bottom: 2rem;
  color: #999999;
  font-size: 1rem;
  line-height: 2;
  line-height: 2.1rem;
  text-align: left;
}

.auth--regist__disc--center {
  text-align: center;
}

@media only screen and (max-width:768px) {
  .auth--regist__disc--center {
    text-align: left;
  }
}

.auth--regist__disc--snsbtn {
  width: 335px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width:768px) {
  .auth--regist__disc--snsbtn {
    width: 100%;
  }
}

.auth--regist--undertext {
  padding-top: 2rem;
  line-height: 2.1;
}

.auth--select__title {
  margin-bottom: 2rem;
  color: #222222;
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: .1em;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .auth--select__title {
    font-size: 2.8rem;
  }
}

.auth--select__disc {
  color: #666666;
  font-size: 2rem;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .auth--select__disc {
    font-size: 1.6rem;
  }
}

.auth--select__btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 4rem;
}

@media only screen and (max-width: 768px) {
  .auth--select__btns {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.auth--select__btns input[type="radio"] {
  display: none;
}

.auth--select__btns input[type="radio"]:checked + .auth--select__btns__btn {
  border: 3px #cb0015 solid;
}

.auth--select__btns input[type="radio"]:checked + .auth--select__btns__btn .btn__text {
  color: #cb0015;
}

.auth--select__btns input[type="radio"]:checked + .auth--select__btns__btn .btn__icon__fill {
  fill: #cb0015;
}

.auth--select__btns__btn {
  width: 48%;
  padding: 5rem 4.6rem;
  margin-right: 1%;
  background-color: #ffffff;
  border: 3px #ffffff solid;
  border-radius: 8px;
  cursor: pointer;
}

.auth--select__btns__btn:last-of-type {
  margin-right: 0;
  margin-left: 1%;
}

@media only screen and (max-width: 768px) {
  .auth--select__btns__btn {
    width: 100%;
    padding: 4rem 1.6rem 3rem;
    margin-right: 0;
    margin-left: 0;
  }
  .auth--select__btns__btn:first-of-type {
    margin-bottom: 2rem;
  }
}

.auth--select__btns__btn .btn__text {
  padding-bottom: 5rem;
  color: #222222;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .auth--select__btns__btn .btn__text {
    padding-bottom: 2rem;
    font-size: 1.8rem;
  }
}

.auth--select__btns__btn .btn__icon {
  display: inline;
  text-align: center;
}

.auth--select__btns__btn .btn__icon--applicant {
  width: 208.912px;
}

@media only screen and (max-width: 768px) {
  .auth--select__btns__btn .btn__icon--applicant {
    width: 36.555%;
    min-width: 121px;
  }
}

.auth--select__btns__btn .btn__icon--attorney {
  width: 198.789px;
}

@media only screen and (max-width: 768px) {
  .auth--select__btns__btn .btn__icon--attorney {
    width: 33.232%;
    min-width: 113.38px;
  }
}

@media only screen and (max-width: 768px) {
  .auth--select__btns__btn .btn__icon {
    width: 120px;
  }
}

.auth--select__btns__btn .btn__icon__fill {
  fill: #222222;
}

.auth__title {
  margin-top: 5.6rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}

@media only screen and (max-width:768px) {
  .auth__title {
    text-align: left;
  }
}

.auth__heading {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

@media only screen and (max-width:768px) {
  .auth__heading {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.5rem;
  }
}

.auth__input {
  width: 100%;
  height: 4rem;
  padding: 1.2rem 1rem;
  margin-bottom: 2rem;
  color: #222222;
  font-size: 1.4rem;
  background-color: #ffffff !important;
  border: 1px solid #cccccc;
}

.auth__input:last-of-type {
  margin-bottom: 1rem;
}

.auth__input__text {
  margin-bottom: 1rem;
  color: #222222;
  font-size: 1.6rem;
  font-weight: 500;
}

.auth--link--primary {
  margin-bottom: 2rem;
  color: #cb0015;
  font-size: 1rem;
  line-height: 2;
  text-decoration: underline;
}

.auth--link--primary:hover {
  opacity: .8;
}

.auth--link--pass {
  display: block;
  margin-bottom: 2rem;
  color: #999999;
  font-size: 1rem;
  line-height: 2;
  text-align: right;
  text-align: right;
}

.auth--link--pass:hover {
  opacity: .8;
}

.auth__undertext {
  position: relative;
  left: -4rem;
  max-width: 480px;
  margin-top: 1.5rem;
  margin-right: auto;
  margin-bottom: 10rem;
  margin-left: auto;
}

@media only screen and (max-width: 768px) {
  .auth__undertext {
    left: auto;
    padding-right: 2rem;
    padding-left: 0;
    margin-bottom: 2rem;
  }
}

.auth__undertext--select {
  max-width: 1024px;
  margin-top: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .auth__undertext--select {
    margin-top: 5.6rem;
  }
}

.auth__undertext__link {
  margin-right: 2rem;
  color: #222222;
  font-size: 1rem;
}

.auth__undertext__link:hover {
  opacity: .8;
}
