@charset "UTF-8";
@-webkit-keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}
@keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  position: relative;
  z-index: -999;
  height: 100%;
  margin: 0;
  color: #222222;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
}

.inner {
  position: relative;
  max-width: 1200px;
  margin: 64px auto 0;
}

.l-header__flex {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 45.1px 0 34.5px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .l-header__flex {
    padding: 20px 0 0 21px;
  }
}

.l-header__flex__link {
  cursor: pointer;
}

.l-header__flex__link:hover {
  opacity: 0.8;
}

.l-header__flex__img {
  width: 201.43px;
  height: 36.85px;
  padding-top: 13.6px;
}

@media only screen and (max-width: 768px) {
  .l-header__flex__img {
    width: 140px;
    height: 25.61px;
    padding-top: 0;
  }
}

.l-header__flex__button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .l-header__flex__button {
    display: none;
  }
}

.l-header__flex__button__login {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 43.2px;
  color: #000000;
  font-size: 2rem;
  text-decoration: none;
}

.l-header__flex__button__signup {
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  height: 56px;
  color: #ffffff;
  font-size: 2rem;
  text-decoration: none;
  background: #C5282A;
  border-radius: 32px;
}

.l-header__flex__button__signup::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  display: block;
  width: 288px;
  height: 64px;
  content: "";
  background-color: rgba(216, 122, 123, 0.6);
  border-radius: 32px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.l-header__flex__button__signup--top {
  color: #222222;
  background: #ffffff;
}

.l-header__flex__button__signup--top::before {
  background: rgba(224, 226, 217, 0.6);
}

.l-footer {
  background: #41424E;
}

.l-footer__flex {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 46px 120px 81.6px;
}

@media only screen and (max-width: 768px) {
  .l-footer__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 54.8px 0 0;
  }
}

.l-footer__flex__img {
  width: 201px;
  height: 36.85px;
  cursor: pointer;
}

.l-footer__flex__img:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 768px) {
  .l-footer__flex__img {
    margin: 0 auto 34.5px;
  }
}

@media only screen and (max-width: 768px) {
  .l-footer__flex__links {
    margin: 0 auto;
  }
}

.l-footer__flex__links__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-top: 0;
}

.l-footer__flex__links__link__a {
  margin-right: 48px;
  list-style-type: none;
}

.l-footer__flex__links__link__a:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 768px) {
  .l-footer__flex__links__link__a {
    margin-right: 24px;
  }
}

.l-footer__flex__links__link__a--noMargin {
  margin-right: 0;
}

.l-footer__flex__links__link__a a {
  color: #ffffff;
  font-size: 1.2rem;
  text-decoration: none;
}

.l-footer__copyright {
  padding: 0 0 40px 120px;
  margin: 0;
  color: #ffffff;
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  .l-footer__copyright {
    padding: 0 0 39px;
    text-align: center;
  }
}

.l-footer__border {
  height: 6px;
  background: #C5282A;
}

.l-footer__border--op {
  opacity: 0.6;
}

.p-privacy__bg {
  position: relative;
  z-index: -10;
  background-color: #f3f3f4;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(66.66667%, #f8f8f8), color-stop(33.33333%, transparent));
  background-image: -webkit-linear-gradient(right, #f8f8f8 66.66667%, transparent 33.33333%);
  background-image: linear-gradient(-90deg, #f8f8f8 66.66667%, transparent 33.33333%);
  background-size: 12px 12px;
}

.p-privacy__container {
  max-width: 1024px;
  padding: 40px 120px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .p-privacy__container {
    padding: 0 14.8px 120px 17.2px;
  }
}

.p-privacy__container__title {
  margin: 140px 0 0;
  color: #000000;
  font-size: 4.8rem;
  font-weight: normal;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .p-privacy__container__title {
    margin: 68px 0 0;
    font-size: 3.2rem;
  }
}

.p-privacy__container__text {
  font-size: 1.6rem;
  line-height: calc(32 / 16);
}

@media only screen and (max-width: 768px) {
  .p-privacy__container__text {
    font-size: 1.4rem;
  }
}

.p-privacy__container__text--mt {
  margin-top: 20px;
}

.p-privacy__container__text--pl {
  padding-left: 20px;
}

.p-privacy__container__text--sub {
  margin-bottom: 4px;
  font-size: 1.4rem;
  line-height: calc(28 / 14);
}

@media only screen and (max-width: 768px) {
  .p-privacy__container__text--sub {
    margin-bottom: 5px;
    font-size: 1.2rem;
  }
}

.p-privacy__container__wrap {
  padding: 48px 80px 40px;
  margin-top: 60px;
  color: #222222;
  font-family: "ヒラギノ角ゴシック";
  background: #ffffff;
}

@media only screen and (max-width: 768px) {
  .p-privacy__container__wrap {
    padding: 32px 24px 22px;
    margin-top: 33px;
  }
}

.p-privacy__container__wrap__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 51px;
}

.p-privacy__container__wrap__title img {
  width: 16px;
  height: 16px;
  padding-top: 7px;
}

@media only screen and (max-width: 768px) {
  .p-privacy__container__wrap__title img {
    padding-top: 6px;
  }
}

.p-privacy__container__wrap__title__h3 {
  margin: 0 0 0 10px;
  font-size: 2rem;
  font-weight: normal;
}

@media only screen and (max-width: 768px) {
  .p-privacy__container__wrap__title__h3 {
    font-size: 1.8rem;
  }
}

.p-privacy__container__contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  line-height: calc(24 / 12);
}

@media only screen and (max-width: 768px) {
  .p-privacy__container__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-privacy__container__contact ul {
  padding-left: 0;
  list-style-type: none;
}

.p-privacy__container__contact__items {
  width: 120px;
}

.p-privacy__container__btn {
  margin: 48px auto 0;
}

.p-top__header {
  padding-bottom: 34px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.p-top__header--fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffffff;
  background-image: none;
}

.p-top__header--relative {
  position: relative;
  z-index: -1;
}

.p-top__mv {
  position: relative;
  z-index: -10;
  min-height: 900px;
  background-image: url(../img/top/mv.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1060px) {
  .p-top__mv {
    min-height: initial;
  }
}

@media only screen and (max-width: 768px) {
  .p-top__mv {
    min-height: 842px;
    overflow: hidden;
    background-image: url(../img/top/mv-sp.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (max-width: 414px) {
  .p-top__mv {
    background-image: url(../img/top/mv-sp.png);
    background-position: center -60px;
  }
}

.p-top__mv--btn {
  color: #ffffff;
  background: #C5282A;
}

.p-top__mv__wrapper {
  max-width: 618px;
  padding-bottom: 245px;
  margin-right: 188px;
  margin-left: auto;
}

@media screen and (max-width: 1060px) {
  .p-top__mv__wrapper {
    margin-right: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .p-top__mv__wrapper {
    padding-bottom: 0;
    margin: 0 auto;
  }
}

.p-top__mv__wrapper__red {
  max-width: 338px;
  padding: 9px 0;
  margin: 58px auto 26.2px;
  color: #ffffff;
  font-family: "HiraginoSans-W3";
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  background: #C5282A;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .p-top__mv__wrapper__red {
    max-width: 240px;
    margin: 0 auto;
    font-size: 1.4rem;
  }
}

.p-top__mv__wrapper__title {
  margin-top: 16.9px;
  font-size: 4.8rem;
  font-weight: normal;
  line-height: calc(67.2 / 48);
  letter-spacing: 0.04em;
  text-align: center;
  white-space: nowrap;
}

@media screen and (max-width: 1060px) {
  .p-top__mv__wrapper__title {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .p-top__mv__wrapper__title {
    font-size: 2.4rem;
    line-height: calc(33.6 / 24);
  }
}

.p-top__mv__wrapper__title--fz {
  display: block;
  font-size: 6.4rem;
}

@media screen and (max-width: 1060px) {
  .p-top__mv__wrapper__title--fz {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 768px) {
  .p-top__mv__wrapper__title--fz {
    font-size: 4rem;
  }
}

.p-top__mv__wrapper__flex {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 574px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .p-top__mv__wrapper__flex {
    position: relative;
    top: 100px;
    margin-top: 435px;
  }
}

.p-top__mv__wrapper__flex__img {
  width: calc(100% / 3);
  height: 180px;
}

@media screen and (max-width: 1060px) {
  .p-top__mv__wrapper__flex__img {
    height: 140px;
  }
}

@media only screen and (max-width: 768px) {
  .p-top__mv__wrapper__flex__img {
    height: 107px;
  }
}

@media screen and (max-width: 375px) {
  .p-top__mv__wrapper__flex__img {
    height: 100px;
  }
}

.p-top__mv__wrapper__bottom {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 188px;
  background-image: url(../img/top/mv-bottom.png);
}

@media only screen and (max-width: 768px) {
  .p-top__mv__wrapper__bottom {
    bottom: -115px;
    height: 180px;
    min-height: 0;
    margin-bottom: 115px;
    background-image: url(../img/top/mv-bottom.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
}

.p-top__mv__wrapper__bottom__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  width: 90%;
  max-width: 880px;
  padding: 0 30px 37px;
  padding-bottom: 37px;
  margin: 40px auto 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
  .p-top__mv__wrapper__bottom__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 37px;
    margin: 15px auto 0;
    text-align: center;
  }
}

.p-top__mv__wrapper__bottom__wrapper__txt {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-family: "HiraginoSans-W3";
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0.08em;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .p-top__mv__wrapper__bottom__wrapper__txt {
    margin: 17px auto;
    font-size: 2rem;
  }
}

.p-top__mv__wrapper__bottom__wrapper__icons {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .p-top__mv__wrapper__bottom__wrapper__icons {
    margin: 0 auto;
  }
}

.p-top__mv__wrapper__bottom__wrapper__img {
  width: 100%;
}

.p-top__mv__wrapper__bottom__wrapper__img--google:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 768px) {
  .p-top__mv__wrapper__bottom__wrapper__img--google {
    max-width: 162px;
  }
}

.p-top__mv__wrapper__bottom__wrapper__img--ml {
  margin-left: 16px;
}

.p-top__mv__wrapper__bottom__wrapper__img--ml:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 768px) {
  .p-top__mv__wrapper__bottom__wrapper__img--ml {
    max-width: 130px;
  }
}

.p-top__about__bg {
  background-color: #f3f3f4;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(66.66667%, #f8f8f8), color-stop(33.33333%, transparent));
  background-image: -webkit-linear-gradient(right, #f8f8f8 66.66667%, transparent 33.33333%);
  background-image: linear-gradient(-90deg, #f8f8f8 66.66667%, transparent 33.33333%);
  background-size: 12px 12px;
}

.p-top__about__bg--header {
  position: relative;
  z-index: -1;
  margin-top: 110px;
}

@media only screen and (max-width: 768px) {
  .p-top__about__bg--header {
    margin-top: 81.61px;
  }
}

.p-top__about__bottomBg {
  position: absolute;
  bottom: -30px;
  left: 50%;
  width: 100%;
  padding-top: 17.91%;
  background-image: url(../img/top/mv-bottom.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media only screen and (max-width: 768px) {
  .p-top__about__bottomBg {
    bottom: -1px;
    padding-top: 48%;
    background-image: url(../img/top/mv-bottom.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }
}

.p-top__about__container {
  position: relative;
  padding: 0 120px;
}

@media only screen and (max-width: 768px) {
  .p-top__about__container {
    padding: 0 16.5px;
  }
}

.p-top__about__container__title {
  padding-top: 119px;
  margin: 0;
  font-size: 6rem;
  font-weight: normal;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .p-top__about__container__title {
    padding-top: 63px;
    font-size: 3.6rem;
  }
}

.p-top__about__container__text {
  max-width: 720px;
  margin: 20px auto 0;
  font-family: "HiraginoSans-W3";
  font-size: 2rem;
  line-height: calc(50 / 20);
  letter-spacing: 0.04em;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .p-top__about__container__text--br {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .p-top__about__container__text {
    margin: 20px auto 40px;
    font-size: 1.6rem;
    text-align: left;
  }
}

.p-top__about__container__wrap {
  position: relative;
  max-width: 1200px;
  margin: 64px auto 0;
}

@media only screen and (max-width: 768px) {
  .p-top__about__container__wrap {
    display: none;
  }
}

.p-top__about__container__wrap--sp {
  display: none;
}

@media only screen and (max-width: 768px) {
  .p-top__about__container__wrap--sp {
    display: block;
    padding: 0 16px;
  }
}

.p-top__about__container__wrap--sp--box {
  position: relative;
  max-width: 311px;
}

.p-top__about__container__wrap--sp--box:not(:first-of-type) {
  padding-top: 64px;
}

@media only screen and (max-width: 768px) {
  .p-top__about__container__wrap--sp--box {
    margin: 0 auto;
  }
}

.p-top__about__container__spSp {
  position: relative;
  z-index: 2;
}

.p-top__about__container__flex {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .p-top__about__container__flex {
    max-width: 292px;
  }
}

.p-top__about__container__flex--sp {
  margin-top: 50px;
}

.p-top__about__container__flex--sp__img {
  position: relative;
  bottom: -5px;
  z-index: 2;
  width: calc(100% / 3);
}

@media only screen and (max-width: 768px) {
  .p-top__about__container__flex--sp__img {
    width: 100%;
  }
}

.p-top__about__container__flex__number {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 18.6px;
  font-size: 2.8rem;
}

.p-top__about__container__flex__number span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #e4e1a6));
  background: -webkit-linear-gradient(transparent 60%, #e4e1a6 60%);
  background: linear-gradient(transparent 60%, #e4e1a6 60%);
}

@media only screen and (max-width: 768px) {
  .p-top__about__container__flex__number {
    margin-left: 16px;
    font-size: 2.4rem;
  }
}

.p-top__about__container__flex__numbers {
  width: 18.5px;
  height: 56px;
}

@media only screen and (max-width: 768px) {
  .p-top__about__container__flex__numbers {
    width: 13.21px;
    height: 40px;
  }
}

.p-top__about__container__flex__numbers--2 {
  width: 33px;
  height: 56px;
}

@media only screen and (max-width: 768px) {
  .p-top__about__container__flex__numbers--2 {
    width: 24.23px;
    height: 40px;
  }
}

.p-top__about__container__flex__numbers--3 {
  width: 35px;
  height: 56px;
}

@media only screen and (max-width: 768px) {
  .p-top__about__container__flex__numbers--3 {
    width: 25.52px;
    height: 40px;
  }
}

.p-top__about__container__flex--textbox {
  position: absolute;
  bottom: 32px;
  z-index: 3;
  width: 100%;
}

.p-top__about__container__flex--textbox__img {
  width: calc(90% / 3);
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .p-top__about__container__flex--textbox__img {
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 3;
    width: 100%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.p-top__steps {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .p-top__steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .p-top__steps--bg {
    background: #F2F2F2;
  }
}

.p-top__steps:first-child {
  margin-top: 30px;
}

.p-top__steps__left__wrap {
  position: relative;
  width: 50%;
  height: 100vh;
  padding: 230px 0 0 180px;
  color: #ffffff;
  background: #F2F2F2;
}

@media only screen and (max-width: 768px) {
  .p-top__steps__left__wrap {
    width: 100%;
    padding: 0;
    margin-bottom: 65px;
    background: transparent;
  }
}

.p-top__steps__left__wrap__display {
  width: 50%;
}

.p-top__steps__right__wrap {
  width: 50%;
  padding: 120px 121px 0 0;
  margin-left: 81px;
  background: #ffffff;
}

@media only screen and (max-width: 768px) {
  .p-top__steps__right__wrap {
    width: 90%;
    height: 100%;
    padding: 0 17px;
    margin: 0 0 51px;
    background: transparent;
  }
}

.p-top__steps__right__wrap--icon {
  color: #C5282A;
  font-family: "Comfortaa";
  font-size: 1.6rem;
}

@media only screen and (max-width: 768px) {
  .p-top__steps__right__wrap--icon {
    font-size: 1.4rem;
  }
}

.p-top__steps__right__wrap__title {
  margin-top: 28.2px;
  margin-bottom: 40px;
  font-size: 4.8rem;
  font-weight: normal;
  line-height: calc(67.2 / 48);
  letter-spacing: 0.04em;
}

@media only screen and (max-width: 768px) {
  .p-top__steps__right__wrap__title {
    margin-bottom: 23px;
    font-size: 2.4rem;
  }
}

.p-top__steps__right__wrap__text {
  margin-bottom: 64.6px;
  font-family: "HiraginoSans-W3";
  font-size: 1.8rem;
  line-height: calc(39.6 / 18);
  letter-spacing: 0.04em;
}

@media only screen and (max-width: 768px) {
  .p-top__steps__right__wrap__text {
    font-size: 1.4rem;
    line-height: calc(30.8 / 14);
  }
}

.p-top__steps__right__wrap__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.p-top__steps__right__wrap__link__txt {
  margin: 0;
  color: #C5282A;
  font-size: 1.8rem;
  line-height: calc(31.5 / 18);
  letter-spacing: 0.04em;
}

@media only screen and (max-width: 768px) {
  .p-top__steps__right__wrap__link__txt {
    font-size: 1.6rem;
    line-height: calc(22.4 / 16);
  }
}

.p-top__steps__right__wrap__link__icon {
  display: block;
  width: 56px;
  height: 56px;
  margin-left: 19px;
}

.p-top__app__bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 65px 0;
  background-image: url(../img/top/app-bg.png);
}

@media only screen and (max-width: 768px) {
  .p-top__app__bg {
    padding: 64px 16px;
  }
}

.p-top__app__flex {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1120px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .p-top__app__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-top__app__flex--sp {
  width: 35%;
  max-width: 400px;
  max-height: 660px;
  margin-top: 82px;
}

@media only screen and (max-width: 768px) {
  .p-top__app__flex--sp {
    display: none;
    margin: 0 auto;
    margin-top: 0;
  }
}

.p-top__app__flex--spSp {
  display: none;
}

@media only screen and (max-width: 768px) {
  .p-top__app__flex--spSp {
    display: block;
    width: 100%;
    max-width: 311px;
    margin: 0 auto;
  }
}

.p-top__app__flex__right {
  padding: 0 40px 0 0;
  margin-top: 173px;
}

@media only screen and (max-width: 768px) {
  .p-top__app__flex__right {
    padding: 0;
    margin-top: 41px;
  }
}

.p-top__app__flex__right__app {
  margin: 0 0 21px;
  color: #C5282A;
  font-family: "Comfortaa";
  font-size: 1.6rem;
}

@media only screen and (max-width: 768px) {
  .p-top__app__flex__right__app {
    font-size: 1.4rem;
    text-align: center;
  }
}

.p-top__app__flex__right__title {
  margin: 0;
  font-size: 4.8rem;
  font-weight: normal;
}

@media only screen and (max-width: 768px) {
  .p-top__app__flex__right__title {
    font-size: 3.6rem;
    text-align: center;
  }
}

.p-top__app__flex__right__text {
  max-width: 585px;
  margin: 30px 0 24px;
  font-family: "HiraginoSans-W3";
  font-size: 1.8rem;
  line-height: calc(39.6 / 18);
  letter-spacing: 0.04em;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .p-top__app__flex__right__text {
    margin: 8px auto 0;
    line-height: calc(40 / 16);
  }
}

.p-top__app__flex__right__text--br {
  display: none;
}

@media only screen and (max-width: 768px) {
  .p-top__app__flex__right__text--br {
    display: block;
  }
}

.p-top__app__flex__right__detail {
  padding: 0 20px;
  margin: 15.8px 0 0;
}

.p-top__app__flex__right__detail__txt {
  line-height: calc(22 / 10);
}

.p-top__app__flex__right__box {
  background: #ffffff;
}

.p-top__app__flex__right__box__txt {
  padding-top: 20.1px;
  margin: 30px 0 18.5px;
  font-family: "HiraginoSans-W3";
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .p-top__app__flex__right__box__txt {
    padding-top: 24.1px;
    margin: 25.9px 0 14px;
  }
}

.p-top__app__flex__right__box__flex {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 407px;
  padding-bottom: 20.1px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .p-top__app__flex__right__box__flex {
    max-width: 310px;
    padding: 0 16.2px 24.1px;
  }
}

.p-top__app__flex__right__box__flex__img {
  width: 100%;
}

.p-top__app__flex__right__box__flex__img--ios {
  max-width: 174px;
  margin-left: 16.9px;
}

.p-top__app__flex__right__box__flex__img--ios:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 768px) {
  .p-top__app__flex__right__box__flex__img--ios {
    max-width: 130px;
  }
}

.p-top__app__flex__right__box__flex__img--google {
  max-width: 216px;
}

.p-top__app__flex__right__box__flex__img--google:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 768px) {
  .p-top__app__flex__right__box__flex__img--google {
    max-width: 162px;
  }
}

.p-top__question__bg {
  padding: 81px 40px 120px;
  background-color: #f9f2f2;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(66.66667%, #fdf6f6), color-stop(33.33333%, transparent));
  background-image: -webkit-linear-gradient(right, #fdf6f6 66.66667%, transparent 33.33333%);
  background-image: linear-gradient(-90deg, #fdf6f6 66.66667%, transparent 33.33333%);
  background-size: 12px 12px;
}

@media only screen and (max-width: 768px) {
  .p-top__question__bg {
    padding: 62px 16px 101px;
  }
}

.p-top__question__container {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.p-top__question__container__q {
  margin-bottom: 24.5px;
  color: #C5282A;
  font-family: "Comfortaa";
  font-size: 1.6rem;
}

@media only screen and (max-width: 768px) {
  .p-top__question__container__q {
    font-size: 1.4rem;
  }
}

.p-top__question__container__title {
  margin: 0;
  font-size: 4.8rem;
  font-weight: normal;
}

@media only screen and (max-width: 768px) {
  .p-top__question__container__title {
    font-size: 3.6rem;
  }
}

.p-top__question__container__flex {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 18px;
  background: #ffffff;
}

.p-top__question__container__flex--mt {
  margin-top: 30px;
}

@media only screen and (max-width: 768px) {
  .p-top__question__container__flex--mt {
    margin-top: 34.3px;
  }
}

.p-top__question__container__flex--mt2 {
  margin-top: 16px;
}

.p-top__question__container__flex__q {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.p-top__question__container__flex__q--ml {
  margin-top: 1.8rem;
  margin-right: 16px;
  margin-bottom: 1.8rem;
  margin-left: 18px;
  font-family: "HiraginoSans-W3";
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: justify;
}

@media only screen and (max-width: 768px) {
  .p-top__question__container__flex__q--ml {
    font-size: 1.6rem;
  }
}

.p-top__question__container__flex__q__img {
  width: 50px;
}

@media only screen and (max-width: 768px) {
  .p-top__question__container__flex__q__img {
    width: 40px;
  }
}

.p-top__question__container__flex__arrow {
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.p-top__question__container__flex__arrow--active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.p-top__question__container__contents {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 18px;
  margin-top: 4px;
  background: #ffffff;
}

.p-top__question__container__contents__txt {
  max-width: 848px;
  margin: 18px 0 0 23px;
  font-size: 1.4rem;
  line-height: calc(30.8 / 14);
  letter-spacing: 0.04em;
  text-align: left;
}

.p-top__question__container__contents__icon {
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 768px) {
  .p-top__question__container__contents__icon {
    width: 40px;
    height: 40px;
  }
}

.active {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.active-arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.js-anser-box {
  display: none;
}

.pagination-active {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pagination_js_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 50%;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 9999;
  height: 27.6rem;
  padding: 2.4rem 1.4rem 2.4rem 0.8rem;
  border-radius: 0 0.8rem 0.8rem 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pagination_js_wrap .pagination_js_child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.6rem;
}

.pagination_js_wrap .pagination_js_child-dot {
  position: relative;
  display: inline-block;
  width: 1.6rem;
  height: 100%;
}

.pagination_js_wrap .pagination_js_child-dot:before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 12px;
  height: 12px;
  content: "";
  background-color: #cccccc;
  border-radius: 1px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pagination_js_wrap .pagination_js_child .dot-active {
  background-color: rgba(197, 40, 42, 0.6);
}

.pagination_js_wrap .pagination_js_child .dot-active:before {
  content: "";
  background-color: #c5282a;
  border-radius: 1px;
}

.pagination_js_wrap .pagination_js_child-text {
  display: none;
  margin-left: 1rem;
  font-size: 1.2rem;
  letter-spacing: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pagination_js_wrap:hover {
  background-color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pagination_js_wrap:hover .pagination_js_child-text {
  display: inline-block;
}

.pagination_js_wrap-white {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@-webkit-keyframes buttonAnimation {
  0% {
    height: 32px;
  }
  30% {
    height: 27px;
  }
  100% {
    height: 32px;
  }
}

@keyframes buttonAnimation {
  0% {
    height: 32px;
  }
  30% {
    height: 27px;
  }
  100% {
    height: 32px;
  }
}

.slide .button-active {
  -webkit-animation: buttonAnimation 0.6s;
          animation: buttonAnimation 0.6s;
}

.slide__section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
}

@media only screen and (max-width: 768px) {
  .slide__section {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.slide__img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  background-color: #f2f2f2;
}

@media only screen and (max-width: 768px) {
  .slide__img {
    width: 100%;
  }
}

.slide__img__box {
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 72.2222%;
  height: 46.666666%;
  margin: auto;
}

.slide__img__item {
  width: 100%;
  height: 100%;
}

.slide__img__item--phone {
  display: block;
  width: 250px;
  height: 450px;
  margin: 0 auto;
}

.slide__img__item--step1--message {
  position: absolute;
  width: 280px;
  height: 64px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slide__img__item--step1--message1 {
  top: 70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slide__img__item--step1--message2 {
  top: 150px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slide__img__item--step1--message3 {
  top: 230px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slide__img__item--step1--button {
  position: absolute;
  top: 330px;
  left: 50%;
  width: 150px;
  height: 32px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slide__img__item--step2--message {
  position: absolute;
  width: 230px;
  height: 92px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slide__img__item--step2--message1 {
  top: 60px;
  left: 50%;
  -webkit-transform: translateX(-90%);
          transform: translateX(-90%);
}

.slide__img__item--step2--message2 {
  top: 170px;
  left: 50%;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

.slide__img__item--step2--message3 {
  top: 278px;
  left: 50%;
  -webkit-transform: translateX(-90%);
          transform: translateX(-90%);
}

.slide__img__item--step3--plan {
  position: absolute;
  top: 140px;
  left: 50%;
  width: 340px;
  height: 120px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slide__img__item--step3--button {
  position: absolute;
  top: 330px;
  left: 50%;
  width: 150px;
  height: 32px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slide__img__item--step3--line {
  width: 0;
}

.slide__img__item--step4--message {
  position: absolute;
}

.slide__img__item--step4--message1 {
  top: 66px;
  left: 20%;
  width: 200px;
  height: 97px;
}

.slide__img__item--step4--message2 {
  top: 135px;
  left: 45%;
  width: 183px;
  height: 122px;
}

.slide__img__item--step4--message3 {
  top: 243px;
  left: 20%;
  width: 168px;
  height: 100px;
}

.slide__img__item--step5 {
  display: block;
  width: 350px;
  height: 450px;
  margin: 0 auto;
}

.slide__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .slide__text {
    width: 100%;
    height: 100vh;
  }
}

.slide__text__box {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 72.2222%;
  height: 46.666666%;
  margin: auto;
}

.slide__text__title {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 6.7rem;
  font-size: 4.8rem;
  font-weight: bold;
}

.slide__text__title:before {
  position: absolute;
  top: -35px;
  left: 0;
  color: #cb0015;
  content: attr(step);
  font-size: 1.6rem;
  letter-spacing: 0.08em;
}

.slide__text__text {
  margin-bottom: 6.7rem;
  font-size: 1.8rem;
  line-height: 2.5;
}

.slide__text__link {
  width: 330px;
  height: 65px;
}

.slide__text__link img {
  width: 100%;
  height: auto;
}

.slide__section:first-of-type .cls-1 {
  fill: #ffffff;
}

.slide__section:first-of-type .cls-2,
.slide__section:first-of-type .step1-3-cls-2 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #cc5258;
}

.slide__section:first-of-type .step1-3-cls-3,
.slide__section:first-of-type .step1-3-cls-4 {
  width: 0;
  fill: #cccccc;
}

.slide__section:first-of-type .active-line1 {
  -webkit-animation: line_animation1 0.5s both;
          animation: line_animation1 0.5s both;
}

.slide__section:first-of-type .active-line2 {
  -webkit-animation: line_animation2 0.8s both;
          animation: line_animation2 0.8s both;
}

@-webkit-keyframes line_animation1 {
  0% {
    width: 0;
  }
  100% {
    width: 80.31px;
  }
}

@keyframes line_animation1 {
  0% {
    width: 0;
  }
  100% {
    width: 80.31px;
  }
}

@-webkit-keyframes line_animation2 {
  0% {
    width: 0;
  }
  100% {
    width: 183px;
  }
}

@keyframes line_animation2 {
  0% {
    width: 0;
  }
  100% {
    width: 183px;
  }
}

.slide__section:first-of-type .active-check {
  r: 20;
}

.slide__section:nth-of-type(2) .line {
  width: 0;
}

.slide__section:nth-of-type(2) .active-line1 {
  -webkit-animation: line_animation3 0.4s both;
          animation: line_animation3 0.4s both;
}

.slide__section:nth-of-type(2) .active-line2 {
  -webkit-animation: line_animation4 0.6s both;
          animation: line_animation4 0.6s both;
}

.slide__section:nth-of-type(2) .active-line3 {
  -webkit-animation: line_animation5 1s both;
          animation: line_animation5 1s both;
}

.slide__section:nth-of-type(2) .active-line4 {
  -webkit-animation: line_animation6 0.6s both;
          animation: line_animation6 0.6s both;
}

.slide__section:nth-of-type(2) .step2name {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slide__section:nth-of-type(2) .active-check {
  r: 5 !important;
}

@-webkit-keyframes line_animation3 {
  0% {
    width: 0;
  }
  100% {
    width: 190px;
  }
}

@keyframes line_animation3 {
  0% {
    width: 0;
  }
  100% {
    width: 190px;
  }
}

@-webkit-keyframes line_animation4 {
  0% {
    width: 0;
  }
  100% {
    width: 140px;
  }
}

@keyframes line_animation4 {
  0% {
    width: 0;
  }
  100% {
    width: 140px;
  }
}

@-webkit-keyframes line_animation5 {
  0% {
    width: 0;
  }
  100% {
    width: 40px;
  }
}

@keyframes line_animation5 {
  0% {
    width: 0;
  }
  100% {
    width: 40px;
  }
}

@-webkit-keyframes line_animation6 {
  0% {
    width: 0;
  }
  100% {
    width: 145px;
  }
}

@keyframes line_animation6 {
  0% {
    width: 0;
  }
  100% {
    width: 145px;
  }
}

.slide__section:nth-of-type(3) .active-line1 {
  -webkit-animation: line_animation7 0.6s both;
          animation: line_animation7 0.6s both;
}

.slide__section:nth-of-type(3) .active-line2 {
  -webkit-animation: line_animation8 0.4s both;
          animation: line_animation8 0.4s both;
}

@-webkit-keyframes line_animation7 {
  0% {
    width: 0;
  }
  100% {
    width: 120px;
  }
}

@keyframes line_animation7 {
  0% {
    width: 0;
  }
  100% {
    width: 120px;
  }
}

@-webkit-keyframes line_animation8 {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}

@keyframes line_animation8 {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}

.slide__section:nth-of-type(4) .line {
  width: 0;
}

@-webkit-keyframes line_animation9 {
  0% {
    width: 0;
  }
  100% {
    width: 40.31px;
  }
}

@keyframes line_animation9 {
  0% {
    width: 0;
  }
  100% {
    width: 40.31px;
  }
}

@-webkit-keyframes line_animation10 {
  0% {
    width: 0;
  }
  100% {
    width: 166px;
  }
}

@keyframes line_animation10 {
  0% {
    width: 0;
  }
  100% {
    width: 166px;
  }
}

@-webkit-keyframes line_animation11 {
  0% {
    width: 0;
  }
  100% {
    width: 100px;
  }
}

@keyframes line_animation11 {
  0% {
    width: 0;
  }
  100% {
    width: 100px;
  }
}

@-webkit-keyframes line_animatio12 {
  0% {
    width: 0;
  }
  100% {
    width: 50px;
  }
}

@keyframes line_animatio12 {
  0% {
    width: 0;
  }
  100% {
    width: 50px;
  }
}

@-webkit-keyframes line_animation13 {
  0% {
    width: 0;
  }
  100% {
    width: 136px;
  }
}

@keyframes line_animation13 {
  0% {
    width: 0;
  }
  100% {
    width: 136px;
  }
}

@-webkit-keyframes line_animation14 {
  0% {
    width: 0;
  }
  100% {
    width: 70.31px;
  }
}

@keyframes line_animation14 {
  0% {
    width: 0;
  }
  100% {
    width: 70.31px;
  }
}

@-webkit-keyframes line_animation15 {
  0% {
    width: 0;
  }
  100% {
    width: 118px;
  }
}

@keyframes line_animation15 {
  0% {
    width: 0;
  }
  100% {
    width: 118px;
  }
}

.slide__section:nth-of-type(4) .active-line9 {
  -webkit-animation: line_animation9 0.2s both;
          animation: line_animation9 0.2s both;
}

.slide__section:nth-of-type(4) .active-line10 {
  -webkit-animation: line_animation10 1s both;
          animation: line_animation10 1s both;
}

.slide__section:nth-of-type(4) .active-line11 {
  -webkit-animation: line_animation11 0.5s both;
          animation: line_animation11 0.5s both;
}

.slide__section:nth-of-type(4) .active-line12 {
  -webkit-animation: line_animation12 0.3s both;
          animation: line_animation12 0.3s both;
}

.slide__section:nth-of-type(4) .active-line13 {
  -webkit-animation: line_animation13 0.8s both;
          animation: line_animation13 0.8s both;
}

.slide__section:nth-of-type(4) .active-line14 {
  -webkit-animation: line_animation14 0.4s both;
          animation: line_animation14 0.4s both;
}

.slide__section:nth-of-type(4) .active-line15 {
  -webkit-animation: line_animation15 0.6s both;
          animation: line_animation15 0.6s both;
}
