/* 中身を全てコメントアウトしてchat.scssに移動 */

/* ion-content ion-toolbar {
  --background: translucent;
}
.imgNormalFile {
  margin: 5px 0;
  border: 1px solid #d3d3d3;
}
.imgNormalFile:hover {
  opacity: 0.6;
  transition-duration: 0.3s;
} 
.imgAlbumFile {
  border: 1px solid red;
}
.chat-bubble {
  background-color: rgb(136, 255, 0);
  color: #333;
  padding: 7px 15px;
  border-radius: 10px;
} */
