@-webkit-keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

@keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

.modal__close__btn {
  position: absolute;
  top: -24px;
  right: -24px;
  z-index: 10;
  width: 48px;
  height: 48px;
  background-image: url(../img/modal__close__btn.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.modal-wrapper {
  width: 100% !important;
  height: 100% !important;
  max-width: 800px !important;
  max-height: 650px !important;
  margin: 0 3rem !important;
  overflow-y: scroll !important;
}

@media only screen and (max-width:768px) {
  .modal-wrapper {
    height: calc(71vh + 30px) !important;
    margin-top: 15vh !important;
    margin-bottom: 15vh !important;
  }
}

@media screen and (max-width: 350px) {
  .modal-wrapper {
    height: 85vh !important;
  }
}

ion-modal {
  --box-shadow: 0!important;
  --backdrop-opacity: .72!important;
}

.tutorial .ion-page {
  width: 100% !important;
  max-width: 800px !important;
  min-height: 100%;
}

.tutorial ion-slides {
  height: 100%;
}

.tutorial ion-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100% !important;
  max-width: 800px !important;
  min-height: auto;
  padding: 5rem 8rem 3rem;
}

@media only screen and (max-width:768px) {
  .tutorial ion-slide {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 4rem 2rem;
  }
}

.tutorial .swiper-pagination {
  bottom: 30px !important;
}

.tutorial .swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
  background-color: #cccccc !important;
  opacity: 1 !important;
}

.tutorial .swiper-pagination-bullet-active {
  background-color: #cb0015 !important;
  opacity: 1 !important;
}

.modal--tutorial__button {
  margin-top: auto;
  margin-bottom: 3rem;
}

.modal--tutorial__title {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.modal--tutorial__img {
  width: 75%;
  padding-top: 31%;
  margin-bottom: 3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.modal--tutorial__img--sp {
  display: none;
}

@media only screen and (max-width:768px) {
  .modal--tutorial__img--sp {
    display: block;
  }
}

.modal--tutorial__img--pc {
  display: block;
}

@media only screen and (max-width:768px) {
  .modal--tutorial__img--pc {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .modal--tutorial__img {
    width: 100%;
    padding-top: 56%;
  }
}

.modal--tutorial__text {
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
}

.modal--tutorial__text__img {
  position: relative;
  top: 8px;
  width: 30px;
  height: 30px;
  margin: 0 .6rem;
}

@media only screen and (max-width:768px) {
  .modal--tutorial__text {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 350px) {
  .modal--tutorial__text {
    font-size: 1.4rem;
    line-height: 3rem;
  }
}

.modal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10000;
  display: none;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(34, 34, 34, 0.88);
}

.modal-contentscroll {
  position: absolute;
  top: 2.4rem;
  left: 2.4rem;
  width: calc(100% - 4.8rem);
  height: calc(100% - 4.8rem);
  overflow-y: scroll;
}

@media only screen and (max-width: 768px) {
  .modal-contentscroll {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.modal-content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 4rem;
}

@media only screen and (max-width: 768px) {
  .modal-content-wrap {
    padding: 4rem 3rem;
  }
}

.modal-content-inner {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 800px;
  overflow: visible;
}

.modal-content-inner .modal__close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background-image: url(../img/common/modal-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-transition: .3s;
  transition: .3s;
}

.modal-content-inner .modal__close:hover {
  background-image: url(../img/common/modal-close-hover.svg);
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .modal-content-inner .modal__close {
    width: 4.8rem;
    height: 4.8rem;
  }
}

.modal__contents__inside {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 3.6rem 8rem;
  overflow-y: scroll;
  background-color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .modal__contents__inside {
    padding: 3rem 2rem 4rem;
  }
}

.modal__contents__commonText1 {
  margin: 0;
  font-size: 1rem;
  line-height: 1.8;
}

.modal__contents__commonText2 {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.8;
}

@media only screen and (max-width: 768px) {
  .modal__contents__commonText2 {
    font-size: 1rem;
  }
}

.modal__contents__commonText--mb12 {
  display: inline-block;
  margin-bottom: 2rem;
}

.modal__contents__commonTitle1 {
  margin: 0;
  margin-bottom: .2rem;
  font-size: 1.6rem;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .modal__contents__commonTitle1 {
    font-size: 1.4rem;
  }
}

.modal__contents__commonTitle2 {
  padding: 1.2rem 1.5rem;
  margin-top: 0;
  margin-bottom: .4rem;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: #eeeeee;
}

@media only screen and (max-width: 768px) {
  .modal__contents__commonTitle2 {
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
  }
}

.modal__contents__ButtonWrap {
  display: block;
  margin-top: 4rem;
  text-align: center;
}

.modal__contents__ButtonWrap--button {
  width: 100%;
  height: 5.6rem;
  max-width: 28rem;
  margin: 0 auto;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #cb0015;
  border-radius: 50rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.modal__contents__ButtonWrap--button:hover {
  background-color: #e8253a;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  opacity: .7;
}

.modal__contents__ButtonWrap--report {
  width: 100%;
  margin-top: 2rem;
  color: #999999;
  font-size: 1rem;
  font-weight: 300;
  background-color: transparent;
  -webkit-transition: .3s;
  transition: .3s;
}

.modal__contents__ButtonWrap--report:hover {
  color: #cb0015;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.modal__contents__commonFilelist {
  padding: 0;
  margin: 0;
  margin-top: .8rem;
}

.modal__contents__commonFilelist__child {
  margin-bottom: 4px;
}

@media only screen and (max-width: 768px) {
  .modal__contents__commonFilelist__child {
    margin-bottom: 1rem;
  }
}

.modal__contents__commonFilelist__child:last-child {
  margin-bottom: 0;
}

.modal__contents__commonFilelist__child__text {
  display: inline-block;
  color: inherit;
  font-size: 1.4rem;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .modal__contents__commonFilelist__child__text {
    font-size: 1.2rem;
  }
}

.modal__contents__externalLink {
  position: relative;
  color: inherit;
  text-decoration: underline;
  -webkit-transition: .3s;
  transition: .3s;
}

.modal__contents__externalLink:hover {
  color: #cb0015;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .modal__contents__externalLink {
    font-size: 1rem;
  }
}

.modal__contents__externalLink:after {
  position: absolute;
  top: 50%;
  left: calc(100% + 1rem);
  display: inline-block;
  content: url(../img/common/external__link__icon.svg);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal__contents__flex {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  .modal__contents__flex {
    margin-bottom: 0;
  }
}

.modal__contents__flex__child {
  width: 50%;
}

.modal__contents__flex__child:first-child {
  padding-right: 1.6rem;
}

@media only screen and (max-width: 768px) {
  .modal__contents__flex__child {
    width: 100%;
  }
}

.modal__contents__profile {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.4rem;
}

@media only screen and (max-width: 768px) {
  .modal__contents__profile {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: 1.6rem;
  }
}

.modal__contents__profile__img {
  width: 12rem;
  height: 12rem;
  margin: 0;
  margin-right: 3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

@media only screen and (max-width: 768px) {
  .modal__contents__profile__img {
    margin: 0 auto 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .modal__contents__profile__text {
    width: 100%;
  }
}

.modal__contents__profile__text__kanji {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .modal__contents__profile__text__kanji {
    margin-bottom: .5rem;
    font-size: 2rem;
    text-align: center;
  }
}

.modal__contents__profile__text__kana {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  .modal__contents__profile__text__kana {
    margin-bottom: .7rem;
    text-align: center;
  }
}

.modal__contents__profile__text__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .modal__contents__profile__text__flex {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.modal__contents__profile__text__flex--ver1 {
  padding: 2px 4px;
  margin-right: 1rem;
  color: #cb0015;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid #cb0015;
}

.modal__contents__profile__text__flex--ver1:last-child {
  margin-right: 0;
}

.modal__contents__profile__text__flex--ver2 {
  padding: 3px 4px 2px;
  margin-right: 1rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  background-color: #cb0015;
}

.modal__contents__profile__text__flex--ver2:last-child {
  margin-right: 0;
}

.modal__contents__table {
  padding: 0;
  margin-bottom: 3rem;
}

.modal__contents__table__child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #cccccc;
}

.modal__contents__table__child:first-child {
  border-top: 1px solid #cccccc;
}

.modal__contents__table__child:nth-child(odd) {
  background-color: #f8f8f8;
}

.modal__contents__table__child__title, .modal__contents__table__child__text {
  margin: 0;
  font-size: 1.4rem;
}

@media only screen and (max-width: 768px) {
  .modal__contents__table__child__title, .modal__contents__table__child__text {
    font-size: 1.2rem;
  }
}

.modal__contents__table__child__title {
  width: 14rem;
  min-width: 14rem;
}

@media only screen and (max-width: 768px) {
  .modal__contents__table__child__title {
    width: 12rem;
    min-width: 12rem;
  }
}

.modal__contents__priceText {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.modal__contents__priceText__red {
  color: #cb0015;
  font-size: 150%;
  font-weight: 600;
}

.modal__contents__caution {
  margin: 0;
  color: #999999;
  font-size: 1rem;
}

.modal__album__inner {
  position: relative;
  text-align: center;
}

.modal__album__inner .modal__album__img {
  position: relative;
  padding-top: 4rem;
  margin: 0;
  margin-bottom: 3rem;
  text-align: center;
}

.modal__album__inner .modal__album__img img {
  max-width: 100%;
}

.modal__album__inner .modal__album__img__saved {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 4rem 3rem 3.2rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1.7rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
  .modal__album__inner .modal__album__img__saved {
    padding: 3rem 2rem 2rem;
  }
}

.modal__album__inner .modal__album__img__saved--checkmark {
  display: inline-block;
  width: 6.4rem;
  margin-bottom: 2.8rem;
}

@media only screen and (max-width: 768px) {
  .modal__album__inner .modal__album__img__saved--checkmark {
    width: 4.8rem;
    margin-bottom: 1.7rem;
  }
}

.modal__album__inner .modal__album__img__saved--text {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 25.6px;
}

@media only screen and (max-width: 768px) {
  .modal__album__inner .modal__album__img__saved--text {
    font-size: 1.2rem;
  }
}

.modal__album__inner .modal__album__button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.modal__album__inner .modal__album__button--save {
  width: 180px;
  height: 3.4rem;
  margin-bottom: 4rem;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 3.4rem;
  background-color: #cb0015;
  border-radius: 30rem;
}

.modal__album__inner .modal__album__button--save:first-of-type {
  margin-right: .8rem;
}

@media only screen and (max-width: 768px) {
  .modal__album__inner .modal__album__button--save {
    width: 150px;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 380px) {
  .modal__album__inner .modal__album__button--save {
    width: 120px;
    font-size: 1rem;
  }
}

.modal__album__inner .modal__album__button--delete {
  color: #ffffff;
  font-size: 1rem;
  background-color: transparent;
}

.modalTutorial__wrap + .modal__close {
  display: none;
}

.modalTutorial {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto;
}

.modalTutorial__title {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}

.modalTutorial__img {
  max-width: 28rem;
  margin: 0 auto 3rem;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .modalTutorial__img {
    margin: 0 auto 2.4rem;
  }
}

.modalTutorial__img img {
  width: 100%;
}

.modalTutorial__desc {
  margin-bottom: 30%;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: .1em;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .modalTutorial__desc {
    font-size: 1.8rem;
  }
}

.modalTutorial__desc--img {
  display: inline-block;
  width: 3rem;
  margin: 0 .6rem -.6rem;
}

@media only screen and (max-width: 768px) {
  .modalTutorial__desc--img {
    width: 2.4rem;
    margin: 0 .4rem -.4rem;
  }
}

.modalTutorial__bottom {
  text-align: center;
}

.modalTutorial__bottom .modal__contents__ButtonWrap--button {
  margin-top: auto;
}

.modalTutorial__bottom__pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.modalTutorial__bottom__pagination .modalTutorial__pagination {
  width: 6px;
  height: 6px;
  margin: 0 4px;
  background-color: #cccccc;
  border-radius: 50%;
}

.modalTutorial__bottom__pagination .modalTutorial__pagination--active {
  background-color: #cb0015;
}

.dislay__none {
  display: none;
}
