@-webkit-keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

@keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

.sidebar__wrap {
  width: 19.53125%;
  min-width: 200px;
  margin-right: 4rem;
  border-radius: 8px;
}

@media only screen and (max-width: 768px) {
  .sidebar__wrap {
    display: none;
  }
}

.sidebar__wrap__inner {
  padding: 2.5rem 0;
  background-color: #ffffff;
  border-radius: 8px;
}

.sidebar__wrap .sidebar__btn--active {
  color: #222222;
  background-color: #f8f8f8;
}

.sidebar__wrap .sidebar__btn--active .sidebar__btn__text {
  color: #222222;
}

.sidebar__wrap .user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: flex-start;
  max-width: 100%;
  padding: 0 1rem 2rem;
  color: #222222;
}

.sidebar__wrap .user-img {
  width: 48px;
  height: 48px;
  margin: 0;
  margin-right: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.sidebar__wrap .user-item_company {
  margin-top: .8rem;
  margin-bottom: .4rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.sidebar__wrap .user-item_name {
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2rem 3.5rem 1.2rem 1.5rem;
  text-decoration: none;
}

.sidebar__btn::part(btn) {
  color: green;
}

.sidebar__btn a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.sidebar__btn:hover {
  background-color: #f8f8f8;
}

.sidebar__btn__icon {
  display: inline-block;
  width: 24px;
  margin-right: .8rem;
}

.sidebar__btn--notice {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  right: 1.5rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2rem;
  height: 2rem;
  margin: 0;
  color: #ffffff;
  background-color: #cb0015;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sidebar__btn--notice--Text {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sidebar__btn__text {
  position: absolute;
  top: 50%;
  left: 23%;
  display: inline-block;
  color: #999999;
  font-size: 1.4rem;
  text-decoration: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sidebar__other--title {
  margin-top: 4rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.sidebar__other--btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  width: 90%;
  height: 100%;
  padding: 1.2rem 1.3rem 1.2rem 1rem;
  color: #222222;
  font-size: 1rem;
  text-decoration: none;
}

.sidebar__other--btn:hover {
  background-color: #f8f8f8;
}

.sidebar__other--btn:after {
  position: absolute;
  right: 10.3px;
  bottom: 37%;
  width: 10px;
  height: 10px;
  content: "";
  background: url(../img/common/gaibu.svg) no-repeat;
  background-size: cover;
}
