@charset "UTF-8";
@import "../mixin";
@import "../variable";

.account{
  &__title{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
  }
  &__link{
    position: relative;
    display: block;
    padding: 2rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 300;
    border-bottom: 1px  $lightgray1 solid;
    transition: .3s;
    @media #{$sp}{
      width: auto;
    }
    &:hover{
      background-color: $lightgray2;
    }
    &:after{
      position: absolute;
      right: 1.7rem;
      bottom: 41.9%;
      width: 5px;
      height: 8.77px;
      content: "";
      background: url(../img/btn-arrow.svg) no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  &__other--sp{
    display: none;

    @media #{$sp}{
      display: block;
      margin-bottom: 156px;

      &__title{
        padding: 30px 0 10px 16px;
        margin-top: 48px;
        margin-left: 0;
        background: $lightgray1;
      }
      &__btn{
        width: auto;
        padding: 2rem 0 2rem 1rem;
      }
    }
  }
}

.profile{
  &__media{
    @include flex;
    align-items: center;
    width: 100%;
    padding: 0 1rem 2rem;
    color: $black;
    &__img{
      width: 80px;
      height: 80px;
      margin: 0;
      margin-right: 1rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 50%;
    }
    &__company{
      margin-top: .8rem ;
      margin-bottom: .4rem;
      font-size: 1.6rem;
      font-weight: 500;
    }
    &__kana{
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1.2rem;
      font-weight: 300;
    }
  }
  &__item{
    @include flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px $lightgray1 solid;
    &__title{
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 2.7rem;
    }
    &__text{
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 1.8rem;
    }
    &__link{
      position: relative;
      display: block;
      padding-top: 2rem;
      padding-right: 1.5rem;
      font-size: 1.2rem;
      font-weight: 600;
      text-align: right;
      transition: .3s;
      &:hover{
        opacity: .6;
      }
      &:after{
        position: absolute;
        right: 0;
        bottom: 2px;
        width: 5px;
        height: 8.77px;
        content: "";
        background: url(../img/btn-arrow.svg) no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }
}
