@charset "UTF-8";
@import "../mixin";
@import "../variable";


.accordion{
  margin-bottom: 3rem;
  border: 1px solid $gray2;

  &:last-child{
    margin-bottom: 0;
  }
  &__header{
    position: relative;
    align-items: center;
    display: flex;
    width: 100%;
    height: 3.8rem;
    padding: 2px 2.5rem 0;
    color: $black;
    background-color: $lightgray1 ;
    &:hover{
      background-color: rgba($lightgray1, .2);
      transition: .3s;
      cursor: pointer;
    }
    @media #{$sp}{
      height: 3.5rem;
      padding: 0 1.5rem;
    }
    &__img{
      width: 1.4rem;
      height: 1.4rem;
      margin: 0;
      margin-right: 1rem;
      img{
        width: 100%;
        vertical-align: middle;
      }
    }
    &__title{
      margin: 0;
      font-size: 1.8rem;
      font-weight: 600;
      @media #{$sp}{
        font-size: 1.6rem;
      }
    }
    &__arrow{
      position: absolute;
      top: 48%;
      right: 2.5rem;
      display: inline-block;
      width: 9px;
      height: 5px;
      transform: rotate(180deg);
      transition: .3s;
      @media #{$sp}{
        right: 1.5rem;
      }
    }
    &__arrow--active{
      transform: rotate(0);
      transition: .3s;
    }
  }
  @keyframes show{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
  &__contents{
    // transition: .3s;
    display: none;
    // display: none;
    height: auto;
    padding: 1.5rem 2.5rem;
    &--active{
      display: block;
      animation: show .3s linear 0s;
    }

    @media #{$sp}{
      padding: 1.5rem;
    }

    &__commonText{
      margin: 0;
      font-size: 1.4rem;
      line-height: 1.8;
      @media #{$sp}{
        font-size: 1.2rem;
      }
    }
    &__commonText--mb12{
      display: inline-block;
      margin-bottom: 1.2rem;
    }
    &__commonTitle{
      margin: 0;
      margin-bottom: .2rem;
      font-size: 1.6rem;
      font-weight: 600;
      @media #{$sp}{
        font-size: 1.4rem;
      }
    }
    &__commonFilelist{
      padding: 0;
      margin: 0;
      margin-top: .8rem;
      &__child{
        margin-bottom: 4px;
        @media #{$sp}{
          margin-bottom: 1rem;
        }
        &:last-child{
          margin-bottom: 0;
        }
        &__text{
          display: inline-block;
          color: inherit;
          font-size: 1.4rem;
          text-decoration: underline;
          transition: .3s;
          &:hover{
            color: $primary;
            transition: .3s;
            cursor: pointer;
          }

          @media #{$sp}{
            font-size: 1.2rem;
          }
        }
      }
    }
    &__externalLink{
      position: relative;
      color: inherit;
      text-decoration: underline;
      transition: .3s;
      &:hover{
        color: $primary;
        transition: .3s;
        cursor: pointer;
      }
      @media #{$sp}{
        font-size: 1.4rem;
      }
      &:after{
        position: absolute;
        top: 50%;
        left: calc(100% + 1rem);
        display: inline-block;
        content: url(../img/common/external__link__icon.svg);
        transform: translateY(-50%);
      }
    }
    &__flex{
      flex-wrap: wrap;
      display: flex;
      margin-bottom: 1rem;
      @media #{$sp}{
        margin-bottom: 0;
      }
      &__child{
        width: 50%;
        &:first-child{
          padding-right: 1.6rem;
        }
        @media #{$sp}{
          width: 100%;
        }
      }
    }
    &__profile{
      align-items: center;
      display: flex;
      margin-bottom: 3rem;
      &__img{
        width: 8rem;
        height: 8rem;
        margin: 0;
        margin-right: 2rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        @media #{$sp}{
          width: 6rem;
          height: 6rem;
          margin-right: 1rem;
        }
      }
      &__text{
        &__kanji{
          margin-bottom: 1rem;
          @media #{$sp}{
            margin-bottom: .5rem;
          }
        }
        &__kana{
          margin: 0;
          margin-bottom: 1rem;
          font-size: 1rem;
          font-weight: 300;
          @media #{$sp}{
            margin-bottom: .7rem;
          }
        }
        &__flex{
          display: flex;
          &__child{
            display: none;
            padding: 2px 4px;
            margin-right: 1rem;
            color: $primary;
            font-size: 1rem;
            font-weight: 500;
            border: 1px solid $primary;
            &--applicant{
              display: none;
              padding: 2px 4px;
              margin-right: 1rem;
              color: $white;
              font-size: 1rem;
              font-weight: 500;
              background-color: $primary;
              border: none;
            }
          }
          .dislay__active{
            display: block;
          }
        }
      }
    }
    &__table{
      padding: 0;
      margin-bottom: 3rem;
      &__child{
        display: flex;
        padding: 1rem;
        border-bottom: 1px solid $gray2;
        &:first-child{
          border-top: 1px solid $gray2;
        }
        &:nth-child(odd){
          background-color: $lightgray2;
        }
        &__title ,&__text{
          margin: 0;
          font-size: 1.4rem;
          // font-weight: 300;
          @media #{$sp}{
            font-size: 1.2rem;
          }
        }
        &__title{
          width: 14rem;
          min-width: 14rem;
          @media #{$sp}{
            width: 12rem;
            min-width: 12rem;
          }
        }
      }
    }
    &__priceText{
      margin: 0;
      margin-bottom: 1rem;
      font-size: 1.2rem;
      font-weight: 300;
      &__red{
        color: $primary;
        font-size: 150%;
        font-weight: 600;
      }
    }
    &__caution{
      margin: 0;
      color: $gray1;
      font-size: 1rem;
    }
  }

  // .js__accordion__content--active{
  //アコーディオン 開封時
  // animation: slideUp 3s forwards;
  // animation-timing-function: ease-out;
  // }
}
