@charset "UTF-8";
@import "../mixin";
@import "../variable";


.arrivalsList__tabs{
  @include flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2.8rem;
  transition: .3s;

  @media #{$sp}{
    position: fixed;
    top: 8px;
    z-index: 1000;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 0;
  }

  &--child{
    width: 49%;
    padding: 2.1rem 2.4rem;
    color: $black;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: $lightgray1;
    pointer-events: pointer;
    @media screen and (max-width: 900px){
      padding-right: 1.2rem;
      padding-left: 1.2rem;
    }

    &:hover{
      background-color: $gray2;
      transition: .3s;
      cursor: pointer;
    }
    @media #{$sp}{
      width: 50%;
      padding: 1.9rem 2rem;
      font-size: 1.2rem;
    }
    @media screen and (max-width: 320px){
      font-size: 1rem;
    }
  }
  .active__tab{
    color: $white;
    background-color: $primary;
    transition: .3s;
    &:hover{
      background-color: $primary-hover;
      transition: .3s;
      cursor: pointer;
    }
  }
}

.arrivalsList__wrap{
  @media #{$sp}{
    padding-top: 2rem;
  }
}
.arrivalsList{
  @media #{$sp}{
    margin-top: 3.4rem;
  }
  .arrivalsList__posts{
    @include flex;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: .46rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $gray2;

    &__text{
      margin: 0;
      font-size: 1.6rem;
      font-weight: 600;
      letter-spacing: 0;
      &--unit{
        font-size: 1.2rem;
      }
    }
    &__text--show{
      @media #{$sp}{
        font-size: 1.2rem;
      }
    }
  }

  .arrivalsList__catOrder{
    @include flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    @media #{$sp}{
      flex-wrap: wrap;
      justify-content: flex-end;
    }
    &__catWrap{
      width: 27rem;
      height: 3rem;
      @media #{$sp}{
        width: 100%;
        margin-bottom: 1.6rem;
      }
    }
    &__cat{
      position: relative;
      width: 100%;
      height: 100%;
      font-size: 1.2rem;
      background-color: $white;
      border: 1px solid $gray2;

      @media #{$sp}{
        font-size: 1rem;
      }


      &:before{
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        width: 3rem;
        height: 100%;
        content: "";
        background-color: $gray2;
      }
      &:after{
        position: absolute;
        top: 50%;
        right: 1.5rem;
        display: inline-block;
        content: url(../img/common/icon-arrow-white-down.svg);
        transform: translate(50%, -65%);
      }
      &__select{
        width: 100%;
        height: 100%;
        padding: 0 .4rem;
        color: $black;
        font-size: 1.2rem;
        background-color: $white;
        border: none !important;
        outline: none ;
        &:focus{
          outline: none ;
        }

        @media #{$sp}{
          font-size: 1rem;
        }
      }
    }

    &__order{
      @include flex;
      align-items: center;

      img{
        display: inline-block;
        margin-right: .5rem;
      }
      &__select{
        position: static;
        width: 3.6rem;
        direction: rtl;
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 0;
        appearance: none;
        background-color: transparent;
        border: none;
        outline: none;
        &::-ms-expand{
          display: none;
        }
      }
    }
  }

  .arrivalsList__child{
    margin-bottom: 3rem;
    @media #{$sp}{
      margin-bottom: 2rem;
    }
    &:last-child{
      margin-bottom: 1rem;
    }
    &:hover{
      cursor: pointer;

      .arrivalsList__child__top{
        background-color: $lightgray1;
        transition: .3s;
      }
    }
    .arrivalsList__child__top{
      padding: 1.3rem 1.5rem .9rem;
      background-color: $lightgray2;
      transition: .3s;
      @media #{$sp}{
        padding: 1.3rem 1rem .9rem;
      }
    }

    &__info{
      @include flex;
      align-items: center;
      margin-bottom: .7rem;
      .child__info{
        display: inline-block;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0;
      }
      .info--register{
        margin-left: .4rem;
      }
      .info--cat{
        padding: .2rem .3rem;
        margin-left: 1rem;
        color: $white;
        background-color: $primary;
      }
    }

    &__name{
      margin: 0;
      margin-bottom: .7rem;
      font-size: 1.4rem;
      font-weight: 600;
      letter-spacing: .04em;
    }

    &__desc{
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.8;
      letter-spacing: .04em;
    }
    .read__more{
      // display: none;
      color: $primary;
      font-size: .8rem;
      font-weight: 300;
      text-decoration: underline;
    }

    .arrivalsList__child__bottom{
      padding: .5rem 1.5rem .2rem;
      background-color: $primary;
      @media #{$sp}{
        padding: .4rem 1rem .2rem;
      }
      &__text{
        margin: 0;
        color: $white;
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 0;
        text-align: right;
        &--number{
          font-size: 133%;
        }
      }
    }
  }
}
.arrivalsList--noResult{
  padding: 3.4rem 1.6rem;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: .04em;
  text-align: center;
  background-color: $lightgray2;
  @media #{$sp}{
    padding: 2.5rem .8rem;
    font-size: 1rem;
  }
}


// 3/30
