@charset "UTF-8";
@import "../mixin";
@import "../variable";


.bank{
  &__list{
    width: 100%;
    margin-bottom: 4rem;
    &__item{
      @include flex;
      align-items: center;
      justify-content: space-between;
      max-width: 100%;
      padding: 1rem 2.5rem;
      &:nth-of-type(odd){
        background-color: $lightgray2;
      }
      &__title{
        width: 20%;
        // padding-right: 2.4rem;
        color: $black;
        font-size: 1.6rem;
        font-weight: 500;
        @media#{$sp}{
          width: 33%;
          font-size: 1.4rem;
        }
      }
      &__text{
        width: 80%;
        color: $black;
        font-size: 1.6rem;

        @media#{$sp}{
          width: 67%;
          font-size: 1.4rem;
        }
      }
    }
  }
  &__info{
    margin-bottom: 4rem;
    &__item{
      width: 100%;
      &--half{
        width: 50%;
      }
      &__title{
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 1.8rem;
        font-weight: 500;
        :first-of-type{
          margin-top: 0;
        }
      }
      &__text{
        padding: 1.2rem 1rem;
        margin-bottom: 2rem;
        font-size: 1.4rem;
        background-color: $lightgray2;
        &--l{
          height: 90px;
        }
        &:last-of-type{
          margin-bottom: 0;
        }
      }
    }
    &__btn{
      width: 100%;
      height: 5.6rem;
      max-width: 280px;
      color: $white;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 5.6rem;
      background-color: $primary;
      border-radius: 2.8rem;
      transition: .3s;
      @media#{$sp}{
        max-width: 100%;
      }
      &:hover{
        background-color: $primary-hover;
      }
      &-box{
        @include flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 4rem;
        @media#{$sp}{
          flex-wrap: wrap;
        }
      }
      &:first-of-type{
        margin-right: 1.5rem;
        color: $black;
        background-color: $lightgray1;
        @media#{$sp}{
          order: 2;
          margin-top: 1.5rem;
          margin-right: 0;
        }
        &:hover{
          background-color: $gray2;
        }
      }
    }
  }
  &__proceeds{
    &__bar{
      @include flex;
      justify-content: space-between;
      width: 460px;
      max-width: 100%;
      margin: 0 auto;
      margin-bottom: 3rem;
      background-color: $lightgray2;
      border-radius: 1.2rem;
      @media#{$sp}{
        width: 100%;
      }
      &--month{
        color: $black;
        font-size: 1.2rem;
        background-color: $lightgray2;
      }
      &__btn{
        width: 13.91304%;
        min-width: 64px;
        padding: .6rem 0;
        color: $white;
        background-color: $gray2;
        border-radius: 1.2rem;

        &:first-of-type{
          background-color: $primary;
        }
      }
    }
    &__box{
      width: 100%;
      border: 1px $lightgray1  solid;
      &--amount{
        padding: 1.5rem 2.5rem;
        @media#{$sp}{
          padding: 1rem;
        }
        .date{
          font-size: 1.4rem;
          font-weight: 600;
        }
        .amount__text{
          font-size: 1.4rem;
          font-weight: 600;
          @media#{$sp}{
            font-size: 1.2rem;
          }
          &--flex{
            @include flex;
            align-items: flex-end;
            justify-content: space-between;
          }
          &--s{
            margin-left: 1rem;
            @media#{$sp}{
              margin-left: .4rem;
            }
          }
          &--red{
            color: $primary;
            font-size: 2.4rem;
            font-weight: 600;

            @media#{$sp}{
              font-size: 2rem;
            }
          }
        }
      }
      &__title{
        padding: .8rem 2.5rem;
        font-size: 1rem;
        background-color: $lightgray1;
      }
      &__item{
        padding: 1rem 2.5rem;
        background-color: $white;
        @media#{$sp}{
          padding: 1rem 2.5rem;
          padding: 1rem;
        }
        &:nth-of-type(odd){
          background-color: $lightgray2;
        }
        .date{
          font-size: 1.4rem;
          font-weight: 500;
          @media#{$sp}{
            font-size: 1rem;
          }
        }
        .item__text{
          overflow: hidden;
          font-size: 1.6rem;
          font-weight: 600;

          @media#{$sp}{
            font-size: 1.4rem;
          }

          &--s{
            margin-left: 1rem;
            font-size: 1.2rem;
            font-weight: 600;
            @media#{$sp}{
              margin-left: .4rem;
              font-size: 1rem;
            }
          }
          &--l{
            font-size: 1.8rem;
            font-weight: 600;
            @media#{$sp}{
              font-size: 1.4rem;
            }
          }
          &--flex{
            @include flex;
            align-items: flex-end;
            justify-content: space-between;
            margin-top: .4rem;
          }
        }
      }
    }
  }
}
