@charset "UTF-8";
@import "../mixin";
@import "../variable";

.btn--center{
  width: 100%;
  text-align: center;
}
.Btn__base{
  display: block;
  height: 5.6rem;
  color: $white;
  font-weight: 500;
  line-height: 5.6rem;
  background-color: $primary;
  border-radius: 2.8rem;
  transition: .3s;
  cursor: pointer;
  &:hover{
    color: $white;
    background-color: $primary-hover;
  }
  &__login{
    height: 5.6rem;
    color: $primary;
    font-weight: 500;
    line-height: 5.6rem;
    background-color: $white;
    border: $primary 2px solid;
    border-radius: 2.8rem;
    transition: .3s;
    cursor: pointer;
    &:hover{
      color: $white;
      background-color: $primary-hover;
    }
  }
  &__gray{
    height: 5.6rem;
    color: $black;
    font-weight: 500;
    line-height: 5.6rem;
    background-color: $lightgray1;
    border-radius: 2.8rem;
    transition: .3s;
    cursor: pointer;
    &:hover{
      background-color: $gray2;
    }
  }
}
.SP__btn{
  width: 100%;
  max-width: 33.4rem;
  font-size: 1.4rem;
  @media #{$sp}{
    max-width: 100%;
  }
  &__center{
    padding-top: 1rem;
    text-align: center;
  }
  &__update{
    padding-top: 3rem;
    @media #{$sp}{
      max-width: 33.4rem;
      margin: 0 auto;
    }
  }
}
.SP__btnMin{
  width: 100%;
  max-width: 27.8rem;
  font-size: 1.4rem;
}
.PC__btn{
  width: 100%;
  max-width: 28rem;
  margin: 0 auto;
  font-size: 1.6rem;
  @media#{$sp}{
    max-width: 100%;
  }
}
.Circle__btn{
  position: fixed;
  right: 4%;
  bottom: 4%;
  width: 7.2rem;
  height: 7.2rem;
  overflow: hidden;
  background-color: transparent;
  background-image: url(../../assets/img/common/CircleBtn.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  transition: .3s;
  &:hover{
    background-image: url(../../assets/img/common/CircleBtn-hover.svg);
    transition: .3s;
    cursor: pointer;
  }

  @media #{$sp}{
    right: 4%;
    bottom: calc(env(safe-area-inset-bottom) + 70px);
    width: 4.8rem;
    height: 4.8rem;
    // display: none;
  }
  img{
    width: 4.8rem;
    height: 4.8rem;
  }
}

.btn{
  &--regist{
    // @media #{$sp}{
    //   margin-top: 4rem;
    // }
    margin-top: 4rem;
    &__btn{
      margin-top: 1.5rem;
      color: $black;
      background-color: $lightgray1;
      pointer-events: none;
    }
    .selected{
      color: $white;
      background-color: $primary;
      pointer-events: auto;
    }
  }
  &--sns{
    position: relative;
    width: 335px;
    height: 56px;
    max-width: 335px;
    margin-bottom: 1rem;
    color: $white!important;
    font-size: 1.4rem;
    line-height: 56px;
    border-radius: 2.8rem;
    transition: .3s;
    @media #{$sp}{
      width: 100%;
      max-width: 100%;
    }
    @media screen and (max-width: 350px){
      font-size: 1rem;
    }
    &:before{
      position: absolute;
      top: 2px;
      left: 2px;
      width: 52px;
      height: 52px;
      content: "";
      background-color: $white;
      border-radius: 50%;
    }
    &:after{
      position: absolute;
      content: "";
      background-position: center;
      background-size: cover;
    }
    &--google{
      background-color: $google;
      &:hover{
        background-color: $google-hover;
      }
      &:after{
        top: 18px;
        left: 18px;
        width: 20px;
        height: 20px;
        background: url(../img/google.svg) no-repeat;
      }
    }
    &--apple{
      background-color: $black;
      &:hover{
        background-color: $apple-hover;
      }
      &:after{
        top: 14px;
        left: 18px;
        width: 25px;
        height: 25px;
        background: url(../img/apple.svg) no-repeat;
      }
    }
    &--facebook{
      background-color: $facebook;
      &:hover{
        background-color: $facebook-hover;
      }
      &:after{
        top: 17px;
        left: 17px;
        width: 22px;
        height: 22px;
        background: url(../img/facebook.svg) no-repeat;
      }
    }
    &--twitter{
      background-color: $twitter;
      &:hover{
        background-color: $twitter-hover;
      }
      &:after{
        top: 18px;
        left: 16px;
        width: 24px;
        height: 19.5px;
        background: url(../img/twitter.svg) no-repeat;
      }
    }
  }
}
