@charset "UTF-8";
@import "../mixin";
@import "../variable";

//style.scssに書き直す
.inner{
  .flex{
    @media #{$sp}{
      padding-top: 4.8rem; //sp時のヘッダーの高さ分
    }
  }
}

$chatlist-managing: #003686;

.component__chat{
  @media #{$sp}{
    padding: 0;
  }
  .content__wrap{
    padding: 5.6rem 5rem 13.5rem;
    @media #{$sp}{
      padding: 0 0;
    }
  }
}

.a{
  display: flex;
  color: red;
}

.imgNormalFile{
  margin: 5px 0;
  // border: 1px solid #d3d3d3;
  cursor: pointer;
}
.imgNormalFile:hover{
  transition-duration: .3s;
  opacity: .6;
}
.imgAlbumFile{
  border: 1px solid red;
}

/*スクロールバー全体*/
ioncontent:-webkit-scrollbar{
  // display: none;
  width: 3rem;
}

/*スクロールバーの軌道*/
ioncontent::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
  border-radius: 0;
}

/*スクロールバーの動く部分*/
ioncontent::-webkit-scrollbar-thumb{
  --background: red;
  border-radius: 0;
}

// チャット部分のスタイル
////icon-content
.MessageWrap{
  // @include flex;
  // flex-direction: column;
  // justify-content: flex-end;
  height: 45rem;
  --padding-bottom: 3rem;
  overflow-x: hidden;
  overflow-y: scroll;
  --background: $white;
  background-color: $white;
  &::part(scroll){
    margin-bottom: 10rem;
    @media #{$sp}{
      margin-bottom: 5.5rem;
    }
  }
  *{
    overflow-x: hidden;
  }
  @media #{$sp}{
    height: calc(100vh - 4.5rem);
    --padding-bottom: 0;
  }

  .Message__inner{
    padding: 0;
    --background: $white;
    background-color: $white;
  }
  // ion-item
  .Message__item{
    align-items: flex-start;
    display: flex;
    max-width: 80%;
    overflow: visible;
    --background: $white;
    background-color: $white;
    --border-color: $white;
    border-color: $white;

    --inner-padding-end: 0;
    --inner-padding-start: 0;
    --padding-end: 0;
    --padding-start: 0;
    @media #{$sp}{
      &:last-child{
        margin-bottom: 3rem;
      }
    }
    *{
      overflow: visible;
      border-radius: 4px;
    }
    .Message__item__thum{
      width: 4.8rem;
      margin: 0;
      margin-right: 2.7rem;
      img{
        display: none;
        width: 4.8rem;
        height: 4.8rem;
        min-width: 4.8rem;
        min-height: 4.8rem;
        border-radius: 50%;
      }
      figure{
        display: none;
        width: 4.8rem;
        height: 4.8rem;
        min-width: 4.8rem;
        min-height: 4.8rem;
        margin: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
      }
    }
    .item-native{
      width: 100%;
      max-width: 100%;
      padding-left: 0;

      --padding-end: 0;
      padding-inline-end: 0;
      padding-inline-start: 0;
      --padding-start: 0;
      .item-inner{
        width: 100%;
        max-width: 100%;
        padding-left: 0;

        --padding-end: 0;
        padding-inline-end: 0;
        padding-inline-start: 0;
        --padding-start: 0;
      }

      .input-wrapper{
        width: 100%;
        max-width: 100%;
      }
    }
    .chat-bubble{
      position: relative;
      // width: 100%;
      padding: 1.5rem 2rem;
      margin-top: 1rem;
      overflow: visible;
      color: $black;
      font-size: 1.2rem;
      line-height: 1.8;
      word-wrap: break-all;
      word-break: break-all;
      background-color: $lightgray2;
      &:after{
        position: absolute;
        top: .6rem;
        right: 100%;
        // display: inline-block;
        display: none;
        width: 1.5rem;
        height: .9rem;
        content: "";
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      img{
        display: block;
        width: 5rem;
        margin: 0 auto;
      }
    }
  }

  .Message__item--you{
    .Message__item__thum{
      img ,figure{
        display: inline-block;
      }
    }
    .chat-bubble{
      &:after{
        display: inline-block;
        background-image: url(../img/common/triangle.svg);
      }
    }
  }

  .Message__item--me{
    margin-right: 3rem;
    margin-left: auto;
    @media#{$sp}{
      margin-right: 0rem;
    }
    .Message__item__thum{
      display: none;
    }
    img{
      margin-left: auto;
    }
    .chat-bubble{
      margin-left: auto;
      &:after{
        display: none;
      }
    }
  }
  .me--Arrow{
    .chat-bubble{
      &:after{
        position: absolute;
        top: 1.3rem;
        left: 99%;
        display: inline-block;
        width: 1.4rem;
        height: .8rem;
        content: url(../img/common/triangle.svg);
        transform: rotate(180deg);
      }
    }
  }
  .Message__item--offer{
    .chat-bubble{
      border: 1px solid $primary;
      &:after{
        background-image: url(../img/message/triangle-offer-red.svg);
      }
      .offer__button{
        width: 100%;
        height: 3.1rem;
        margin-top: 1.5rem;
        color: $white;
        font-size: 1rem;
        font-weight: 600;
        background-color: $primary;
      }
      .offer__plan{
        display: inline-block;
        color: $primary;
        font-size: 1.4rem;
        font-weight: 600;
      }
    }
  }
  .Message__item--canceled{
    .chat-bubble{
      border: 1px solid $gray2;
      &:after{
        background-image: url(../img/message/triangle-offer-grey.svg);
      }
      .offer__button{
        width: 100%;
        height: 3.1rem;
        margin-top: 1.5rem;
        color: $black;
        font-size: 1rem;
        font-weight: 600;
        background-color: $gray2;
      }
      .offer__plan{
        display: inline-block;
        color: $black;
        font-size: 1.4rem;
        font-weight: 600;
      }
    }
  }
}

// 入力部分のスタイル
.MessageInput{
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 15rem);
  padding: 1rem 2rem;
  margin: 0 5rem 4rem;
  margin-top: 3rem;
  overflow: visible;
  background-color: $white;
  border: 1px solid $lightgray1;
  border-radius: 8px;
  @media #{$sp}{
    position: fixed;
    bottom: 0;
    left: 0;
    align-items: center;
    width: 100%;
    padding: .8rem 2.1rem .7rem;
    padding-bottom: env(safe-area-inset-bottom);
    margin: 0;
    background-color: $lightgray2;
    border: 0;
    border-top: 1px solid $gray2;
    border-radius: 0;
  }
  *{
    overflow: visible;
  }
  &__inner{
    flex-flow: wrap;
    justify-content: space-between;
    display: flex;
    width: 100%;
    @media #{$sp}{
      flex-flow: nowrap;
    }

    &__hamburger{
      position: relative;
      display: none;
      width: 1.6rem;
      margin: 0;
      margin-right: 2rem;
      vertical-align: middle;
      @media #{$sp}{
        @include flex;
        align-items: center;
      }
      img{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        &:hover{
          cursor: pointer;
        }
      }
      .hamburger--close{
        display: block;
      }
    }

    &__text{
      width: 100%;
      label{
        display: none;
      }
      .MuiInputBase-root{
        position: static;
        background-color: transparent !important;
        &:before{
          display: none; //
        }
        &:after{
          display: none; //
        }
      }

      input{
        padding: .5rem 0 2.5rem;
        font-size: 1.4rem;
        background-color: $white;
        border: none !important;
        &:placeholder{
          color: $gray2;
          font-size: 1.4rem;
          @media #{$sp}{
            font-size: 1rem;
          }
        }
        @media #{$sp}{
          max-height: 2.4rem;
          padding: .5rem 1rem;
          margin-right: 1rem;
          font-size: 1rem;
          border: 1px solid $gray2 !important;
          border-radius: 3rem;
        }
      }
    }

    &__menu{
      display: flex;
      label{
        display: inline-block;
        padding: 0;
        margin-right: 1rem;
        span{
          position: relative;
          img{
            width: 3rem;
            height: 3rem;
          }
        }

        .MuiIconButton-label{
          position: relative;

          .menu__hover{
            position: absolute;
            bottom: calc(100% + 6px);
            left: 50%;
            display: inline-block;
            display: none;
            width: 6.6rem;
            height: 3rem;
            color: $white;
            font-size: 1.2rem;
            line-height: 3rem;
            background-color: $dark-gray;
            border-radius: .4rem;
            transform: translateX(-50%);
            &:after{
              position: absolute;
              top: 99%;
              left: 50%;
              display: inline-block;
              width: .8rem;
              height: .6rem;
              content: "";
              background-image: url(../img/common/menu__downTriangle.svg);
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              transform: translateX(-50%);
            }
          }
          .menu__hover--fileupload{
            left: 0;
            transform: translateX(0);
            &:after{
              left: 1.1rem;
              transform: translateX(0);
            }
          }
          .menu__hover--offer{
            width: 9.2rem;
          }
        }
      }
    }
    &__button{
      button{
        padding: 0;
        span{
          img{
            width: 3rem;
            height: 3rem;
            @media #{$sp}{
              width: 2.4rem;
              height: 2.4rem;
            }
          }
        }
      }
    }
  }
  @media #{$sp}{
    .MessageInputSP__menu{
      position: absolute;
      bottom: 100%;
      left: 0;
      display: none;
      width: 100%;
      height: 8.1rem;
      background-color: $lightgray2;
      border-top: 1px solid $gray2;
      border-bottom: 1px solid $gray2;

      &__inner{
        @include flex;
        height: 100%;
      }
      &__child{
        @include flex;
        align-items: center;
        justify-content: center;
        width: 25%;
        transition: .3s;
        &:hover{
          transition: .3s;
          cursor: pointer;
          opacity: .7;
        }
        &:nth-child(n + 2){
          border-left: 1px solid $gray2;
        }
        label{
          padding: 0;
        }
        .MessageInputSP__menu__child__img{
          @include flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          margin: 0;
          text-align: center;

          &__caption{
            color: $black;
            font-size: 1rem;
            font-weight: 600;
          }
        }
      }
      // applicantのtabサイズ
      .MessageInputSP__menu__child—-applicant{
        width: 50%;
      }
    }
  }
}
.chatlist__boxRead{
  width: 85%;
  // 三点リーダー
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chatlist__wrap{
  @media #{$sp}{
    padding-top: 4rem;
  }
  &__title{
    margin: 0;
    margin-bottom: 1.1rem;
    font-size: 1.8rem;
    font-weight: 600;
  }

  .chatlist__child{
    @include flex;
    position: relative;
    align-items: center;
    padding: 1rem 2.5rem;
    padding-right: 6rem;
    margin-bottom: 1rem;
    background-color: $lightgray2;
    transition: .3s;
    @media #{$sp}{
      padding: 1rem 1.5rem;
      padding-right: 6rem;
    }
    &:last-child{
      margin-bottom: 0;
    }
    &:hover{
      background-color: $lightgray1;
      transition: .3s;
      cursor: pointer;
      .message--long{
        &:after{
          background-color: $lightgray1;
          transition: .3s;
        }
      }
    }

    &__thum{
      width: 4.8rem;
      height: 4.8rem;
      min-width: 4.8rem;
      min-height: 4.8rem;
      margin: 0;
      margin-right: 1.5rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      @media #{$sp}{
        width: 4rem;
        height: 4rem;
        min-width: 4rem;
        min-height: 4rem;
        margin-right: 1rem;
      }
    }
    &__desc{
      max-width: 100%;
      &__top{
        @include flex;
        align-items: center;
        margin-bottom: .5rem;
        &--name{
          margin: 0;
          margin-right: 1rem;
          font-size: 1.4rem;
          font-weight: 500;
          @media #{$sp}{
            font-size: 1.2rem;
          }
        }
        &--status{
          width: 3.9rem;
          height: 1.6rem;
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.6rem;
          text-align: center;
          border: 1px solid transparent;
        }
        .status--recruiting{
          color: $primary;
          background-color: $white;
          border-color: $primary;
        }
        .status--managing{
          color: $white;
          background-color: $chatlist-managing;
          border-color: $chatlist-managing;
        }
        .status--applying{
          color: $white;
          background-color: $primary;
          border-color: $primary;
        }
      }
      &--message{
        position: relative;
        padding-right: 1.7em;
        overflow: hidden;
        font-size: 1.2rem;
        font-weight: 300;
        white-space: nowrap;
        @media #{$sp}{
          font-size: 1rem;
        }
      }
      .message--long{
        &:after{
          position: absolute;
          top: 0;
          right: -.2rem;
          display: inline-block;
          width: 2.3rem;
          height: 100%;
          content: "•••";
          background-color: $lightgray2;
          transition: .3s;
        }
      }
    }
    &--notification{
      position: absolute;
      top: 50%;
      right: 2.5rem;
      width: 2rem;
      height: 2rem;
      color: $white;
      font-size: 1rem;
      font-weight: 600;
      line-height: 2rem;
      text-align: center;
      background-color: $primary;
      border-radius: 50%;
      transform: translate(0%, -50%);

      @media #{$sp}{
        right: .7rem;
      }
    }
  }
}

input[type="checkbox"]:checked + .album__link__checkbox{
  width: 20px;
  height: 20px;
  background-color: $primary !important;
  border: none;
  &:after{
    display: inline-block;
  }
}
input[type="checkbox"]{
  position: relative;
  display: none;
}
// 2/24長谷川 22 savefolderのスタイル
.album{
  @include flex;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  max-height: 550px;
  padding-top: 3rem;
  overflow-y: scroll;
  @media #{$sp}{
    max-height: 100vh;
    padding-top: 5.5rem;
  }
  &__wrap{
    @media #{$sp}{
      padding-top: 0;
    }
  }
  &__text{
    margin-right: auto;
    margin-left: 5rem;
    font-size: 1.6rem;
    font-weight: 600;
    &__pc{
      display: block !important;
      @media #{$sp}{
        display: none !important;
      }
    }
    &__sp{
      display: none;
      font-size: 1.4rem;
      font-weight: 600;
      @media #{$sp}{
        display: block;
      }
    }
  }
  &__button{
    &__wrap{
      @include flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: center;
      justify-content: flex-end;
      z-index: 1;
      width: 100%;
      height: 55px;
      background-color: $white;
      border-bottom: 1px #707070 solid;
      @media #{$sp}{
        position: fixed;
        top: 48px;
        right: 24px;
        background-color: transparent;
        border-bottom: none;
      }
    }
    &__cancel ,&__delete ,&__select ,&__save{
      padding: .8rem 2rem;
      font-size: 1.2rem;
      font-weight: 600;
      border-radius: 17px;
      @media screen and (max-width: 360px){
        padding: .8rem 1rem;
        font-size: 1rem;
      }
    }
    &__select{
      margin-right: 5rem;
      color: $black;
      background-color: $lightgray2;
      @media #{$sp}{
        margin-right: .5rem;
      }
    }
    &__cancel{
      margin-right: 1rem;
      color: $black;
      background-color: $lightgray2;
      @media #{$sp}{
        margin-right: .5rem;
      }
    }
    &__delete{
      margin-right: 5rem;
      color: $white;
      background-color: $gray1;
      @media #{$sp}{
        margin-right: 0;
      }
    }
    &__save{
      margin-right: 1rem;
      color: $white;
      background-color: red;
    }
  }
  &__link{
    position: relative;
    // display: block;
    width: 13.888%;
    // max-width: 95px;
    // max-height: 95px;
    padding-top: 13.888%;
    margin-right: 3.3344%;
    margin-bottom: 3.3344%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media #{$sp}{
      width: 31.3433%;
      padding-top: 31.3433%;
      margin-right: 2.98507475%;
      margin-bottom: 2.98507475%;
    }
    &:nth-of-type(3n){
      @media #{$sp}{
        margin-right: 0;
      }
    }
    &:nth-of-type(6n){
      margin-right: 0;
    }
    &:hover{
      opacity: .8;
    }

    &__checkbox{
      position: absolute;
      top: 5px;
      right: 5px;
      width: 19px;
      height: 19px;
      background-color: rgba($lightgray2, .8);
      border: 1px #707070 solid;
      border-radius: 50%;
      &:after{
        position: absolute;
        right: 30%;
        bottom: 30%;
        display: none;
        width: 10px;
        height: 6.5px;
        content: "";
        background: url(../img/album__link__checkbox.svg) no-repeat;
      }
      &--areaspread{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.chat{
  &__img{
    border: 1px $black solid;
  }
}
@keyframes show{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.isHoverShow{
  display: block;
  animation: show .3s ease 0s;
}
.isHoverHide{
  display: none;
}
.hover__img{
  position: absolute;
  width: 66px !important;
  height: 36px !important;
  &--1{
    top: -38px;
    left: -18px;
  }
  &--2{
    top: -38px;
    left: 0;
    width: 83px !important;
  }
  &--3{
    top: -38px;
    left: -30px;
    width: 92px !important;
  }
  &--4{
    top: -38px;
    left: -52px;
    width: 92px !important;
  }
  // animation: .3s;
  &__position{
    position: relative;
  }
}
