@charset "UTF-8";
@import "../mixin";
@import "../variable";

ion-footer{
  // margin-bottom: env(safe-area-inset-bottom);
}

.footerSP__wrap{
  @include flex;
  align-items: center;
  width: 100%;
  height: calc(56px + env(safe-area-inset-bottom));
  // padding-bottom: env(safe-area-inset-bottom);
  overflow: visible;
  background-color: $white;
  border-top: 1px solid $gray2;
  *{
    overflow: visible;
  }
  @media #{$sp}{
    position: fixed;
    bottom: 0;
  }
}

.applicant__footerSP__inner{
  width: 100%;
  max-width: 338px;
  padding-right: 16px;
  padding-left: 16px;
  // color: red;
  margin: 0 auto;
}

.attorney__footerSP__inner{
  width: 100%;
  max-width: 353px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
}

.footerSP{
  @include flex;
  align-items: center;
  justify-content: space-between;
  &__menuItem{
    @include flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    width: 5rem;
    overflow: visible;
    text-align: center;

    &__img{
      display: inline-block;
      width: 2.5rem;
      height: 2.7rem;
      margin: 0;
      img{
        display: none;
        width: 100%;
        margin-bottom: auto;
        vertical-align: top;
      }
      .img--active{
        display: inline-block;
      }
    }

    &__text{
      color: $gray1;
      font-size: 1rem;
      font-weight: 300;
      white-space: nowrap;
    }
    &--notice{
      @include flex;
      position: absolute;
      top: 6px;
      right: -1px;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      margin: 0;
      color: $white;
      background-color: $primary;
      border-radius: 50%;
      transform: translateY(-50%);
      &--Text{
        position: absolute;
        top: 50%;
        left: 50%;
        display: inline-block;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0;
        transform: translate(-50%, -50%);
      }
    }
  }
  &__menuItem--active{
    .footerSP__menuItem__text{
      color: $black;
    }
  }
}
