@charset "UTF-8";
@import "../mixin";
@import "../variable";
//16の灰色背景のスタイル
.gray__bg{
  padding: 1.3rem 1rem;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  line-height: 1.8;
  background-color: $lightgray2;
  &__half{
    width: 50%;
  }
}
.form{
  //50の特許分類
  &__classification{
    @include flex;
    padding: 2rem 1rem;
    border-right: 1px solid $gray2;
    border-bottom: 1px solid $gray2;
    border-left: 1px solid $gray2;
    cursor: pointer;
    &--circle{
      border-radius: 50%;
    }
    &:first-of-type{
      margin-top: 1rem;
    }
    &[for="0"]{
      border-top: 1px solid $gray2;
    }
    &__end{
      border-bottom: 1px solid $gray2;
    }
    input{
      display: none;
    }
    // input[type=checkbox]:checked + .form__classification__checkbox::after{
    //   opacity: 1;
    // }

    &__checkbox{
      position: relative;
      width: 15px;
      height: 15px;
      margin-right: 1rem;
      border: 1px $gray2 solid;
      &--active{
        position: relative;
        width: 15px;
        height: 15px;
        margin-right: 1rem;
        border: 1px $gray2 solid;
        &::after{
          position: absolute;
          top: 48%;
          left: 3px;
          display: block;
          width: 4px;
          height: 8px;
          margin-top: -7px;
          content: "";
          border-right: 3px solid $primary;
          border-bottom: 3px solid $primary;
          transform: rotate(45deg);
          opacity: 1;
        }
      }
      &::after{
        position: absolute;
        top: 48%;
        left: 3px;
        display: block;
        width: 4px;
        height: 8px;
        margin-top: -7px;
        content: "";
        border-right: 3px solid $primary;
        border-bottom: 3px solid $primary;
        transform: rotate(45deg);
        opacity: 0;
      }
    }
    &__title{
      // margin-bottom: 1rem;
      color: $black;
      font-size: 1.4rem;
      line-height: 1.8rem;
      user-select: none ;
    }
    &__disc{
      color: $dark-gray;
      font-size: 1.2rem;
      user-select: none;
    }
    &--undertext{
      display: inline-block;
      margin-top: 1rem;
      color: $gray1;
      font-size: 1rem;
      &__link{
        color: $black;
        text-decoration: underline;
        &:hover{
          opacity: .8;
        }
      }
    }
  }
  // 弁理士の銀行口座系
  &--bank{
    &__formtype{
      margin-top: 2rem;
      margin-bottom: 1rem;
      color: $black;
      font-size: 1.2rem;
    }
    &__undertext{
      margin-top: 1rem;
      margin-bottom: 2rem;
      color: $gray1;
      font-size: 1rem;
    }
  }
  &__profile{
    @include flex;
    &__wrap{
      margin-bottom: 29.7px;
    }
    &__img{
      @include flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      margin-right: 1rem;
      border: 1px solid $gray2;
      cursor: pointer;
      &:hover{
        background-color: $lightgray2;
      }
      .camera{
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
    &__input{
      display: none;
    }
    &__text{
      .heading{
        margin-bottom: 1rem;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 3.1rem;
        @media #{$sp}{
          font-size: 1.6rem;
        }
      }
      .disc{
        color: $gray1;
        font-size: 1rem;
        line-height: 1.8;
      }
    }
  }
  &__textarea{
    min-height: 100px;
    @media #{$sp}{
      min-height: 128px;
    }
  }
  &__input{
    width: 100%;
    padding: 1.2rem 1rem;
    margin-top: 1rem;
    color: $black;
    font-size: 1.4rem;
    background-color: $white!important;
    border: 1px solid $gray2;
    border-bottom: 1px solid $gray1;
    border-radius: 0!important;
    @media #{$sp}{
      width: 99%;
    }
    &--l{
      height: 128px;
    }
    &--half{
      width: 50%;
      @media#{$sp}{
        width: 100%;
      }
    }
  }
  &__select{
    position: relative;
    width: 100%;
    max-height: 39px;
    padding: 1.2rem 1rem;
    color: $gray1;
    font-size: 1.4rem;
    -webkit-appearance: none;
    /*デフォルトのスタイルを解除 */
       -moz-appearance: none;
            appearance: none;
    background-color: $white;
    border: 1px solid $gray1;
    cursor: pointer;
    &--deco{
      position: relative;
      display: block;
      width: 40.8%;
      cursor: pointer;
      &:not(:first-of-type){
        margin-top: 1rem;
      }
      &::before{
        position: absolute;
        right: 15px;
        bottom: 15px;
        z-index: 1;
        width: 3%;
        padding-top: 1.9%;
        content: "";
        background: url(../img/select__arrow.svg) no-repeat;
        background-position: center;
        background-size: cover;
      }
      &::after{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 14%;
        height: 39px;
        content: "";
        background-color: $gray1;
        pointer-events: none;
      }
    }
    &__option{
      color: $black;
    }
  }
  &__title{
    // display: inline-block;
    display: block;
    font-size: 2rem;
    font-weight: 500;
    @media #{$sp}{
      font-size: 1.6rem;
    }
    &--ib{
      display: inline-block;
    }
    &__wrap{
      margin-bottom: 30px;
      &__flex{
        align-items: center;
        display: flex;
        margin-top: 3rem;
      }
      &--mt{
        margin-bottom: 20px;
      }
    }
    &__12{
      position: relative;
      top: 2px;
      margin-top: 3rem;
      font-size: 1.2rem;
      font-weight: 500;
    }
    &__20{
      display: block;
      font-size: 2rem;
      @media #{$sp}{
        margin-bottom: 1rem;
        font-size: 1.8rem;
      }
    }
  }
  &--address{
    @include flex;
    align-items: center;
    .mark{
      display: inline-block;
      padding-right: 1rem;
      color: $black;
      font-size: 1.4rem;
    }
    .address{
      max-width: 100px;
      padding: 1.2rem 1rem;
      margin-right: 1rem;
      font-size: 1.4rem;
      background-color: $white!important;
      border: 1px solid $gray2;
      border-radius: 0!important;
    }
    .number{
      display: none;
      height: 42px;
      padding: 1.2rem 1rem;
      color: $white;
      font-size: 1.4rem;
      background-color: $dark-gray;
    }
  }
  &__badge{
    // 募集中
    &--recruitment{
      display: inline-block;
      padding: 3px 4px;
      margin-top: 1rem;
      margin-bottom: 3rem;
      color: $primary;
      font-size: 1rem;
      font-weight: 500;
      border: 1px $primary solid;
    }
    // 必須
    &--required{
      display: inline-block;
      padding: 3px 4px;
      margin-left: 1rem;
      color: $white;
      font-size: 1rem;
      font-weight: 500;
      background-color: $primary;
    }
    &--mt{
      height: 16px;
      margin-top: 3rem;
    }
  }
  // 39のプランスタイル
  &--plan{
    @include flex;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid $gray2;
    border-right: 1px solid $gray2;
    border-left: 1px solid $gray2;
    cursor: pointer;
    input[type="radio"]{
      width: 18px;
      height: 18px;
    }
    &:first-of-type{
      margin-top: 1rem;
    }
    &:last-of-type{
      border-bottom: 1px solid $gray2;
    }
    &--price{
      @include flex;
      flex-direction: column;
      width: 100%;
      margin-left: 1rem;
      &__title{
        margin: 0;
        color: $black;
        font-size: 1.4rem;
        line-height: 1.8rem;
      }
      &__text{
        display: block;
        color: $dark-gray;
        font-size: 1rem;
        line-height: 1.8rem;
      }
      &--offer{
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        color: $black;
        font-size: 1rem;
      }
      &__textarea{
        width: 100%;
        min-height: 128px;
        padding: 1.2rem 1rem;
        margin-top: 1rem;
        margin-bottom: 3rem;
        font-size: 1.4rem;
        background-color: $white!important;
        border: 1px solid $gray2;
        border-bottom: 1px solid $gray1;
        border-radius: 0!important;
      }
    }
  }
}


.form__text__company{
  margin-left: 10px;
  font-size: 1.6rem;
}
.form__input__company{
  width: 16px;
  height: 16px;
}
.radioBtn{
  &__input{
    display: none;
  }
  &__label{
    position: relative;
    width: 14px;
    height: 14px;
    border: #cccccc solid 1px;
    border-radius: 50%;
    &:after{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      content: "";
      background-color: $primary;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }
}
.radioBtn__input:checked + .radioBtn__label::after{
  opacity: 1;
}
