@charset "UTF-8";
@import "../mixin";
@import "../variable";


//homeHeader
ion-header{
  padding-top: env(safe-area-inset-top);
  @media #{$sp}{
    color: $black!important;
    // background-color: $lightgray2;
    background-color: #707070;
  }
}
.header__base{
  @include flex;
  position: relative;
  align-items: center;
  height: 8rem;
  padding: 0 3rem 0 4rem;
  background-color: $white;
  border-bottom: 1px #707070 solid;
  @media #{$sp}{
    height: 4.8rem;
    padding: 0 1.5rem 0 1.5rem;
    // margin-top: 5rem;
    background-color: $lightgray2;
  }

  //共通のもの
  .close__icon{
    margin-left: auto;
    font-size: 3rem;
    cursor: pointer;
  }
  .hover__pointer{
    margin-left: auto;
    &:hover{
      cursor: pointer;
    }
  }
  .header__backButton{
    @include flex;
    position: relative;
    align-items: center;
    z-index: 10000;
    color: $dark-gray;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .04em;
    text-decoration: none;
    background: $white;
    @media #{$sp}{
      font-size: 1.2rem;
    }
    &--text{
      display: inline-block;
      margin-left: .8rem;
    }
  }
}
.header{
  &__home{
    &--logo{
      @include bgi;
      width: 20rem;
      margin-left: 0;
      cursor: pointer;
      @media #{$sp}{
        width: 12rem;
        margin: 0 auto;
      }
      img{
        width: 100%;
      }
      a{
        max-width: 100%;
        vertical-align: middle;
        img{
          width: 100%;
          vertical-align: middle;
        }
      }
    }
  }
  &__title{
    width: 100%;
    &--text{
      position: absolute;
      top: 50%;
      left: 50%;
      color: $black;
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: .04em;
      text-align: center;
      transform: translate(-50%,-50%);
      @media #{$sp}{
        font-size: 1.6rem;
      }
    }
  }
  &__back{
    width: 100%;
    text-align: right;
  }
  &__backclose{
    @include flex;
    align-items: center;
    flex-flow: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: calc(100% - 61px);

    -webkit-box-pack: justify;
  }
}


.header--center__text{
  position: absolute;
  top: 3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  &--Xcenter{
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    .title{
      color: $black;
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 1.5;
    }
    .name{
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 1.5;
    }
  }
  .name{
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.5;
  }
  .case{
    font-size: 1rem;
    line-height: 1.8;
  }
}


.header__desc{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  &--bold{
    font-size: 1.6rem;
    font-weight: bold;
  }
  &--text{
    margin-top: .5rem;
    font-size: 1.2rem;
  }
}

//チャットのヘッダー
.header__chat{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: calc(100% - 70px);
  height: 5.6rem;
  @media #{$sp}{
    display: none;
  }
  &--info{
    position: absolute;
    top: 50%;
    right: 2.1rem ;
    transform: translateY(-50%);
  }
}
