@charset "UTF-8";
@import "../mixin";
@import "../variable";

.identification{
  &__heading{
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 28.8px;
  }
  &__title{
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
  }
  &__disctext{
    color: $gray1;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.8;
  }
  &__input{
    display: inline-block;
    min-width: 160px;
    padding: 1rem 1.2rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    border: 1px $black solid;
    transition: .3s;
    cursor: pointer;
    &__name{
      display: block;
      width: 250px;
      margin-top: .4rem;
      margin-bottom: 1rem;
      overflow: hidden;
      font-size: 1.2rem;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &:hover{
      color: $white;
      background-color: $black;
    }
    & + input{
      display: none;
    }
  }
}
