@charset "UTF-8";
@import "../mixin";
@import "../variable";

ion-input{
  height: 40px;
}
.aaa{
  position: fixed;
  height: 100vh!important;
  overflow: hidden;
}
.auth{
  // 登録するときのタブとか
  &--regist{
    &__tabs{
      @include flex;
      justify-content: space-between;
      width: 100%;
      @media #{$sp}{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
      }
      .active__tab{
        color: $white;
        background-color: $primary;
      }
      &__tab{
        width: 48.684211%;
        padding: 2.1rem 2.4rem;
        color: $black;
        font-size: 1.4rem;
        background-color: $lightgray1;
        pointer-events: pointer;
        @media #{$sp}{
          width: 50%;
          padding: 1.9rem 2rem;
          font-size: 1.2rem;
        }
        @media screen and (max-width: 320px){
          font-size: 1rem;
        }
      }
    }
    &__heading{
      margin-top: 3rem;
      margin-bottom: 3rem;
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 2.8rem;
      @media #{$sp}{
        margin-top: 8rem;
      }
    }
    &__disc{
      display: block;
      margin-bottom: 2rem;
      color: $gray1;
      font-size: 1rem;
      line-height: 2;
      line-height: 2.1rem;
      text-align: left;
      &--center{
        text-align: center;
        @media#{$sp}{
          text-align: left;
        }
      }
      &--snsbtn{
        width: 335px;
        margin-right: auto;
        margin-left: auto;

        @media#{$sp}{
          width: 100%;
        }
      }
    }
    &--undertext{
      padding-top: 2rem;
      line-height: 2.1;
    }
  }
  //選択画面のスタイル
  &--select{
    &__title{
      margin-bottom: 2rem;
      color: $black;
      font-size: 3.2rem;
      font-weight: 600;
      letter-spacing: .1em;
      text-align: center;
      @media #{$sp}{
        font-size: 2.8rem;
      }
    }
    &__disc{
      color: $dark-gray;
      font-size: 2rem;
      text-align: center;
      @media #{$sp}{
        font-size: 1.6rem;
      }
    }
    &__btns{
      @include flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 4rem;
      @media #{$sp}{
        flex-wrap: wrap;
      }
      input[type="radio"]{
        display: none;
        &:checked{
          & + .auth--select__btns__btn{
            border: 3px $primary solid ;
            .btn{
              &__text{
                color: $primary;
              }
              &__icon{
                &__fill{
                  fill: $primary;
                }
              }
            }
          }
        }
      }
      &__btn{
        width: 48%;
        padding: 5rem 4.6rem;
        margin-right: 1%;
        background-color: $white;
        border: 3px $white solid ;
        border-radius: 8px;
        cursor: pointer;
        &:last-of-type{
          margin-right: 0;
          margin-left: 1%;
        }

        @media #{$sp}{
          width: 100%;
          padding: 4rem 1.6rem 3rem;
          margin-right: 0;
          margin-left: 0;
          &:first-of-type{
            margin-bottom: 2rem;
          }
        }
        .btn{
          &__text{
            padding-bottom: 5rem;
            color: $black;
            font-size: 2.4rem;
            font-weight: bold;
            text-align: center;
            @media #{$sp}{
              padding-bottom: 2rem;
              font-size: 1.8rem;
            }
          }
          &__icon{
            display: inline;
            text-align: center;
            &--applicant{
              width: 208.912px;
              // height: 227.294px;
              @media #{$sp}{
                width: 36.555%;
                min-width: 121px;
                // height: 131.65px;
              }
            }
            &--attorney{
              width: 198.789px;
              // height: 194.072px;
              @media #{$sp}{
                width: 33.232%;
                min-width: 113.38px;
                // height: 110.69px;
              }
            }
            @media #{$sp}{
              width: 120px;
            }
            &__fill{
              fill: $black;
            }
          }
        }
      }
    }
  }
  &__title{
    margin-top: 5.6rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    @media#{$sp}{
      text-align: left;
    }
  }
  &__heading{
    margin-bottom: 2rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
    @media#{$sp}{
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 2.5rem;
    }
  }
  &__input{
    width: 100%;
    height: 4rem;
    padding: 1.2rem 1rem;
    margin-bottom: 2rem;
    color: $black;
    font-size: 1.4rem;
    background-color: $white!important;
    border: 1px solid $gray2;
    &:last-of-type{
      margin-bottom: 1rem;
    }
    &__text{
      margin-bottom: 1rem;
      color: $black;
      font-size: 1.6rem;
      font-weight: 500;
    }
  }
  &--link{
    &--primary{
      margin-bottom: 2rem;
      color: $primary;
      font-size: 1rem;
      line-height: 2;
      text-decoration: underline;
      &:hover{
        opacity: .8;
      }
    }
    &--pass{
      display: block;
      margin-bottom: 2rem;
      color: $gray1;
      font-size: 1rem;
      line-height: 2;
      text-align: right;
      text-align: right;
      &:hover{
        opacity: .8;
      }
    }
  }
  &__undertext{
    position: relative;
    left: -4rem;
    max-width: 480px;
    margin-top: 1.5rem;
    margin-right: auto;
    margin-bottom: 10rem;
    margin-left: auto;
    @media #{$sp}{
      left: auto;
      padding-right: 2rem;
      padding-left: 0;
      margin-bottom: 2rem;
    }
    &--select{
      max-width: 1024px;
      margin-top: 1.5rem;
      @media #{$sp}{
        margin-top: 5.6rem;
      }
    }
    &__link{
      margin-right: 2rem;
      color: $black;
      font-size: 1rem;
      &:hover{
        opacity: .8;
      }
    }
  }
}
