@charset "UTF-8";
@import "../mixin";
@import "../variable";
$primary_hover: #e8253a;

//Btnスタイルに移動
.modal__close__btn{
  position: absolute;
  top: -24px;
  right: -24px;
  z-index: 10;
  width: 48px;
  height: 48px;
  background-image: url(../img/modal__close__btn.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// チュートリアル
// モダールの外側
.modal-wrapper{
  width: 100%!important;
  height: 100%!important;
  max-width: 800px!important;
  max-height: 650px!important;
  margin: 0 3rem!important;
  overflow-y: scroll!important;
  @media#{$sp}{
    height: calc(71vh + 30px)!important;
    margin-top: 15vh!important;
    margin-bottom: 15vh!important;
  }
  @media screen and (max-width: 350px){
    height: 85vh!important;
  }
}
// modalのボックスの外側の色を変更
ion-modal{
  --box-shadow: 0!important;

  --backdrop-opacity: .72!important;
}

.tutorial{
  .ion-page{
    width: 100%!important;
    max-width: 800px!important;
    min-height: 100%;
  }
  ion-slides{
    height: 100%;
  }
  ion-slide{
    @include flex;
    flex-direction: column;
    // justify-content: center;
    width: 100%!important;
    max-width: 800px!important;
    min-height: auto;
    padding: 5rem 8rem 3rem;
    @media#{$sp}{
      justify-content: flex-start;
      padding: 4rem 2rem;
    }
  }
  //pagerのスタイル
  .swiper-pagination{
    bottom: 30px!important;
    &-bullet{
      width: 6px!important;
      height: 6px!important;
      background-color: $gray2!important;
      opacity: 1!important;
      &-active{
        background-color: $primary!important;
        opacity: 1!important;
      }
    }
  }
}

// チュートリアルのスタイル
.modal{
  &--tutorial{
    &__button{
      margin-top: auto;
      margin-bottom: 3rem;
    }
    &__title{
      margin-bottom: 2rem;
      font-size: 1.6rem;
      font-weight: 600;
    }
    &__img{
      width: 75%;
      padding-top: 31%;
      margin-bottom: 3rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      &--sp{
        display: none;
        @media#{$sp}{
          display: block;
        }
      }
      &--pc{
        display: block;
        @media#{$sp}{
          display: none;
        }
      }
      @media screen and (max-width: 480px){
        width: 100%;
        padding-top: 56%;
      }
    }
    &__text{
      margin-bottom: 3rem;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.5;
      &__img{
        position: relative;
        top: 8px;
        width: 30px;
        height: 30px;
        margin: 0 .6rem ;
      }
      @media#{$sp}{
        font-size: 1.8rem;
      }
      @media screen and (max-width: 350px){
        font-size: 1.4rem;
        line-height: 3rem;
      }
    }
  }
}



// モーダルの枠のスタイル
.modal{
  @include flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  display: none;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba($black, .88);

  &-contentscroll{
    position: absolute;
    top: 2.4rem;
    left: 2.4rem;
    width: calc(100% - 4.8rem);
    height: calc(100% - 4.8rem);
    overflow-y: scroll;
    @media #{$sp}{
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &-content-wrap{
    @include flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 4rem;
    @media #{$sp}{
      padding: 4rem 3rem;
    }
  }
  &-content-inner{
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 800px;
    overflow: visible;

    .modal__close{
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      display: inline-block;
      width: 5rem;
      height: 5rem;
      // content: "";
      background-image: url(../img/common/modal-close.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transform: translate(50%,-50%);
      transition: .3s;
      &:hover{
        background-image: url(../img/common/modal-close-hover.svg);
        transition: .3s;
        cursor: pointer;
      }
      @media #{$sp}{
        width: 4.8rem;
        height: 4.8rem;
      }
    }
  }
}

// モーダルの中身
.modal__contents__inside{
  box-sizing: border-box;
  width: 100%;
  padding: 3.6rem 8rem;
  overflow-y: scroll;
  background-color: $white;
  @media #{$sp}{
    padding: 3rem 2rem 4rem;
  }
}
.modal__contents{
  &__commonText1{
    margin: 0;
    font-size: 1rem;
    line-height: 1.8;
  }
  &__commonText2{
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.8;
    @media #{$sp}{
      font-size: 1rem;
    }
  }

  &__commonText--mb12{
    display: inline-block;
    margin-bottom: 2rem;
  }
  &__commonTitle1{
    margin: 0;
    margin-bottom: .2rem;
    font-size: 1.6rem;
    font-weight: 600;
    @media #{$sp}{
      font-size: 1.4rem;
    }
  }
  &__commonTitle2{
    padding: 1.2rem 1.5rem;
    margin-top: 0;
    margin-bottom: .4rem;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: $lightgray1;
    @media #{$sp}{
      padding: 1rem 1.5rem;
      font-size: 1.4rem;
    }
  }
  &__ButtonWrap{
    display: block;
    margin-top: 4rem;
    text-align: center;

    &--button{
      width: 100%;
      height: 5.6rem;
      max-width: 28rem;
      margin: 0 auto;
      color: $white;
      font-size: 1.6rem;
      font-weight: 500;
      background-color: $primary;
      border-radius: 50rem;
      transition: .3s;
      &:hover{
        background-color: $primary_hover;
        transition: .3s;
        cursor: pointer;
        opacity: .7;
      }
    }
    &--report{
      width: 100%;
      margin-top: 2rem;
      color: $gray1;
      font-size: 1rem;
      font-weight: 300;
      background-color: transparent;
      transition: .3s;
      &:hover{
        color: $primary;
        transition: .3s;
        cursor: pointer;
      }
    }
  }

  &__commonFilelist{
    padding: 0;
    margin: 0;
    margin-top: .8rem;
    &__child{
      margin-bottom: 4px;
      @media #{$sp}{
        margin-bottom: 1rem;
      }
      &:last-child{
        margin-bottom: 0;
      }
      &__text{
        display: inline-block;
        color: inherit;
        font-size: 1.4rem;
        text-decoration: underline;

        @media #{$sp}{
          font-size: 1.2rem;
        }
      }
    }
  }
  &__externalLink{
    position: relative;
    color: inherit;
    text-decoration: underline;
    transition: .3s;
    &:hover{
      color: $primary;
      transition: .3s;
      cursor: pointer;
    }
    @media #{$sp}{
      font-size: 1rem;
    }
    &:after{
      position: absolute;
      top: 50%;
      left: calc(100% + 1rem);
      display: inline-block;
      content: url(../img/common/external__link__icon.svg);
      transform: translateY(-50%);
    }
  }
  &__flex{
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 0;
    @media #{$sp}{
      margin-bottom: 0;
    }
    &__child{
      width: 50%;
      &:first-child{
        padding-right: 1.6rem;
      }
      @media #{$sp}{
        width: 100%;
      }
    }
  }
  &__profile{
    align-items: center;
    display: flex;
    margin-bottom: 2.4rem;
    @media #{$sp}{
      flex-wrap: wrap;
      margin-bottom: 1.6rem;
    }
    &__img{
      width: 12rem;
      height: 12rem;
      margin: 0;
      margin-right: 3rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      @media #{$sp}{
        margin: 0 auto 1.5rem;
      }
    }
    &__text{
      @media #{$sp}{
        width: 100%;
      }
      &__kanji{
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 2.4rem;
        font-weight: 500;
        @media #{$sp}{
          margin-bottom: .5rem;
          font-size: 2rem;
          text-align: center;
        }
      }
      &__kana{
        margin: 0;
        margin-bottom: 1rem;
        font-size: 1rem;
        font-weight: 300;
        @media #{$sp}{
          margin-bottom: .7rem;
          text-align: center;
        }
      }
      &__flex{
        display: flex;
        @media #{$sp}{
          justify-content: center;
        }
        &--ver1{
          padding: 2px 4px;
          margin-right: 1rem;
          color: $primary;
          font-size: 1rem;
          font-weight: 500;
          border: 1px solid $primary;
          &:last-child{
            margin-right: 0;
          }
        }
        &--ver2{
          padding: 3px 4px 2px;
          margin-right: 1rem;
          color: $white;
          font-size: 1rem;
          font-weight: 500;
          background-color: $primary;
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }
  }
  &__table{
    padding: 0;
    margin-bottom: 3rem;
    &__child{
      display: flex;
      padding: 1rem;
      border-bottom: 1px solid $gray2;
      &:first-child{
        border-top: 1px solid $gray2;
      }
      &:nth-child(odd){
        background-color: $lightgray2;
      }
      &__title ,&__text{
        margin: 0;
        font-size: 1.4rem;
        // font-weight: 300;
        @media #{$sp}{
          font-size: 1.2rem;
        }
      }
      &__title{
        width: 14rem;
        min-width: 14rem;
        @media #{$sp}{
          width: 12rem;
          min-width: 12rem;
        }
      }
    }
  }
  &__priceText{
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 300;
    &__red{
      color: $primary;
      font-size: 150%;
      font-weight: 600;
    }
  }
  &__caution{
    margin: 0;
    color: $gray1;
    font-size: 1rem;
  }
}

.modal__album__inner{
  position: relative;
  text-align: center;
  .modal__album__img{
    position: relative;
    padding-top: 4rem;
    margin: 0;
    margin-bottom: 3rem;
    text-align: center;
    img{
      max-width: 100%;
    }
    &__saved{
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 4rem 3rem 3.2rem;
      text-align: center;
      background-color: rgba($white, .8);
      border-radius: 1.7rem;
      transform: translate(-50%,-50%);
      @media #{$sp}{
        padding: 3rem 2rem 2rem;
      }
      &--checkmark{
        display: inline-block;
        width: 6.4rem;
        margin-bottom: 2.8rem;
        @media #{$sp}{
          width: 4.8rem;
          margin-bottom: 1.7rem;
        }
      }
      &--text{
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 25.6px;
        @media #{$sp}{
          font-size: 1.2rem;
        }
      }
    }
    // width: 100%;
  }
  .modal__album__button{
    @include flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    &--save{
      width: 180px;
      height: 3.4rem;
      margin-bottom: 4rem;
      color: $white;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 3.4rem;
      background-color: $primary;
      border-radius: 30rem;
      &:first-of-type{
        margin-right: .8rem;
      }
      @media #{$sp}{
        width: 150px;
        font-size: 1.2rem;
      }
      @media screen and (max-width: 380px){
        width: 120px;
        font-size: 1rem;
      }
    }
    &--delete{
      color: $white;
      font-size: 1rem;
      background-color: transparent;
    }
  }
  //
}

.modalTutorial__wrap + .modal__close{
  display: none;
}
.modalTutorial{
  width: 100%;
  // display: none;
  max-width: 32rem;
  margin: 0 auto;
  &__title{
    margin: 0;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
  }
  &__img{
    max-width: 28rem;
    margin: 0 auto 3rem;
    text-align: center;
    @media #{$sp}{
      margin: 0 auto 2.4rem;
    }
    img{
      width: 100%;
    }
  }
  &__desc{
    margin-bottom: 30%;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: .1em;
    text-align: center;
    @media #{$sp}{
      font-size: 1.8rem;
    }
    &--img{
      display: inline-block;
      width: 3rem;
      margin: 0 .6rem -.6rem;
      @media #{$sp}{
        width: 2.4rem;
        margin: 0 .4rem -.4rem;
      }
    }
  }
  &__bottom{
    text-align: center;
    .modal__contents__ButtonWrap--button{
      margin-top: auto;
    }

    &__pagination{
      @include flex;
      position: absolute;
      right: 0;
      bottom: 30px;
      justify-content: center;
      width: 100%;
      // max-width: 3.4rem;
      margin: 0 auto;

      .modalTutorial__pagination{
        width: 6px;
        height: 6px;
        margin: 0 4px;
        background-color: $gray2;
        border-radius: 50%;
      }
      .modalTutorial__pagination--active{
        background-color: $primary;
      }
    }
  }
}

.dislay__none{
  display: none;
}
