@charset "UTF-8";
@import "../mixin";
@import "../variable";




.sidebar{
  &__wrap{
    width: 19.53125%;
    min-width: 200px;
    margin-right: 4rem;
    border-radius: 8px;
    @media #{$sp}{
      display: none;
    }
    &__inner{
      padding: 2.5rem 0;
      background-color: $white;
      border-radius: 8px;
    }
    .sidebar__btn--active{
      color: $black;
      background-color: $lightgray2;
      .sidebar__btn__text{
        color: $black;
      }
    }

    .user{
      @include flex;
      align-items: flex-start;
      max-width: 100%;
      padding: 0 1rem 2rem;
      color: $black;
      &-img{
        width: 48px;
        height: 48px;
        margin: 0;
        margin-right: 1rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
      }
      &-item{
        &_company{
          margin-top: .8rem ;
          margin-bottom: .4rem;
          font-size: 1.2rem;
          font-weight: 500;
        }
        &_name{
          margin-top: 0;
          margin-bottom: 0;
          overflow: hidden;
          font-size: 1rem;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
  //user

  &__btn{
    @include flex;
    position: relative;
    // width: calc(100% + 1.3rem);
    // width: 100%;
    position: relative;
    align-items: center;
    padding: 1.2rem 3.5rem 1.2rem 1.5rem;
    text-decoration: none;
    &::part(btn){
      color: green;
    }
    a{
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
    }
    &:hover{
      background-color: $lightgray2;
    }
    &__icon{
      display: inline-block;
      width: 24px;
      margin-right: .8rem;
    }
    &--notice{
      @include flex;
      position: absolute;
      top: 50%;
      right: 1.5rem;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      margin: 0;
      color: $white;
      background-color: $primary;
      border-radius: 50%;
      transform: translateY(-50%);
      &--Text{
        position: absolute;
        top: 50%;
        left: 50%;
        display: inline-block;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0;
        transform: translate(-50%, -50%);
      }
    }
    &__text{
      position: absolute;
      top: 50%;
      left: 23%;
      display: inline-block;
      color: $gray1;
      font-size: 1.4rem;
      // line-height: 5.1rem;
      text-decoration: none;
      transform: translateY(-50%);
    }
  }
  &__other{
    &--title{
      margin-top: 4rem;
      margin-bottom: 1rem;
      margin-left: 1rem;
      font-size: 1.4rem;
      font-weight: 500;
    }
    &--btn{
      @include flex;
      position: relative;
      align-items: center;
      display: block;
      width: 90%;
      height: 100%;
      padding: 1.2rem 1.3rem 1.2rem 1rem;
      color: $black;
      font-size: 1rem;
      text-decoration: none;
      &:hover{
        background-color: $lightgray2;
      }
      &:after{
        position: absolute;
        right: 10.3px;
        bottom: 37%;
        width: 10px;
        height: 10px;
        content: "";
        background: url(../img/common/gaibu.svg) no-repeat;
        background-size: cover;
      }
    }
  }
}
