@charset "UTF-8";
@import "variable";

//____________________________
// style
//____________________________
@mixin content {
  padding-top: 12rem;
  padding-bottom: 12rem;

  @media #{$sp} {
    padding-top: 8.8rem;
    padding-bottom: 8.8rem;
  }
}

@mixin bgi {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin flex {
  display: flex;
}

@keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

// ---------- web font ----------
@font-face {
  font-family: "honoka";
  src: url("../font/font_1_honokamarugo_1.1.eot?") format("oldIE"),
    url("../font/font_1_honokamarugo_1.1.woff") format("woff"),
    url("../font/font_1_honokamarugo_1.1.ttf") format("truetype");
}

// ---------- font ----------
@mixin tsukushi_a {
  font-family: "TsukuARdGothic-Regular", "honoka", sans-serif;
}

@mixin tsukushi_b {
  font-family: "TsukuBRdGothic-Regular", "honoka", sans-serif;
}

@mixin Comfortaa {
  font-family: "Comfortaa";
}

@mixin hiragino_kaku_go {
  font-family: "ヒラギノ角ゴシック", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "ヒラギノ角ゴ StdN",
    "Hiragino Kaku Gothic StdN", sans-serif;
}
