@charset "UTF-8";
@import "variable";


//____________________________
// style
//____________________________
.pt{
  &-10{
    padding-top: 1rem;
  }
  &-20{
    padding-top: 2rem;
  }
  &-30{
    padding-top: 3rem;
  }
  &-40{
    padding-top: 4rem;
  }
  &-56{
    padding-top: 5.6rem;
  }
}

.mt{
  &-10{
    margin-top: 1rem;
  }
  &-20{
    margin-top: 2rem;
  }
  &-30{
    margin-top: 3rem;
  }
  &-40{
    margin-top: 4rem;
  }
  &-56{
    margin-top: 5.6rem;
  }
}
.mb{
  &-10{
    margin-bottom: 1rem;
  }
  &-20{
    margin-bottom: 2rem;
  }
  &-30{
    margin-bottom: 3rem;
  }
  &-40{
    margin-bottom: 4rem;
  }
}
