@charset 'UTF-8';

@import "variable";

@import "mixin";

//____________________________
//共通スタイルを記載します
//____________________________

// ---------- inner ----------
.inner {
  max-width: calc(1024px + 1.6rem);
  padding-right: 1.6em;
  padding-left: 1.6em;
  margin: 0 auto;
}

.inner.-wide {
  max-width: calc(1200px + 1.6rem);
}

// ---------- 表示非表示 ----------
.-pc-only {
  @media #{$sp} {
    display: none;
  }
}

.-sp-only {
  display: none;

  @media #{$sp} {
    display: inline-block;
  }
}

// ---------- ボタン ----------
.button__type1 {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  max-width: 170px;
  padding: 1rem 0.8rem;
  color: $white;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 6.4rem;
  transition: 0.3s;
  @include tsukushi_a;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    content: "";
    border-radius: 6.4rem;
    transform: translate(-50%, -50%);
    transition: 0.3s;
  }

  &::before {
    z-index: -2;
    // width: calc(100% + 8px);
    // height: calc(100% + 8px);
    width: 100%;
    height: 100%;
    background-color: rgba(216, 122, 123, 0.6);
  }

  &::after {
    z-index: -1;
    // width: 100%;
    // height: 100%;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background: $lp-red;
  }

  &:hover {
    cursor: pointer;

    &::before,
    &::after {
      padding: 4px;
      transition: 0.3s;
    }
  }
}

.button__type1.-white {
  color: $black;

  &::after {
    background: $white;
  }

  &::before {
    background: rgba(224, 226, 217, 0.6);
  }
}

// ---------- モーダル ----------
.modal__wrap__all {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba($lp-grey, 0.8);

  &:hover {
    cursor: pointer;
  }

  .modal__contentScroll {
    @include flex;
    align-items: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 4.8rem;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    -webkit-box-align: center;
    -webkit-box-pack: center;

    -ms-overflow-style: none;
    scrollbar-width: none;

    @media #{$sp} {
      padding: 1.6rem;
    }
  }
  .modal__contentScroll::-webkit-scrollbar {
    display: none;
  }

  .modal__content__inner {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    max-width: 1024px;
    max-height: 663px;

    &:hover {
      cursor: default;
    }

    .modal__content {
      display: none;
      padding: 40px 72px;
      background-color: $white;
      border-radius: 8px;

      @media #{$sp} {
        padding: 1.6rem;
      }

      .modal__content__image {
        width: 100%;
        padding-bottom: 56%;
        margin-bottom: 2.4rem;
        background-color: $gray2;

        @media #{$sp} {
          margin-bottom: 3.2rem;
        }
      }
    }

    .button__type1 {
      z-index: 1;
      margin: 0 auto;

      @media #{$sp} {
        width: auto;
      }
    }
  }
}

// ---------- 左側のアンカーリンク ----------
.pagination-active {
  position: relative;
  transition: 0.3s;
}

.pagination_js_wrap {
  position: fixed;
  top: 45.5%;
  left: 4.6rem;
  flex-direction: column;
  justify-content: space-between;
  z-index: 9999;
  display: flex;
  height: 25.5rem;
  transform: translateY(-50%);
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;

  @media #{$sp} {
    left: 1.6rem;
  }

  .pagination_js_child {
    @include flex;
    align-items: center;
    height: 1.6rem;

    .pagination_js_child-dot {
      position: relative;
      display: inline-block;
      width: 1.6rem;
      height: 100%;

      // border-radius: 50%;
      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        display: inline-block;
        width: 12px;
        height: 12px;
        content: "";
        background-color: #cccccc;
        border-radius: 1px;
        transform: translate(-50%, -50%);
      }
    }

    .dot-active {
      // padding: 2px;
      background-color: rgba(#c5282a, 0.6);

      &:before {
        content: "";
        background-color: #c5282a;
        border-radius: 1px;
      }
    }
  }
}

.pagination_js_wrap.-active {
  opacity: 1;
  pointer-events: auto;
}

.pagination_js_wrap-white {
  transition: 0.3s;
}
