@charset "UTF-8";

//単体でフェードインさせる
.fade-type-scale {
  transition: 0.6s;
  opacity: 0;
  transform: translateY(20px);
}

.fade-scale {
  opacity: 1;
  transform: translateY(0px);
}

//一斉にフェードインさせる
.fade-elem {
  transition: 0.6s;
  transform: translateY(50px);
  opacity: 0;
  // margin-bottom: 10px;
}

.fade-elem:last-of-type {
  margin-bottom: 0;
}

.fade-elem:nth-of-type(2) {
  transition-delay: 0.1s;
}

.fade-elem:nth-of-type(3) {
  transition-delay: 0.2s;
}

.fade-elem:nth-of-type(4) {
  transition-delay: 0.3s;
}

.fade-elem:nth-of-type(5) {
  transition-delay: 0.4s;
}

.fade-elem:nth-of-type(6) {
  transition-delay: 0.5s;
}

.fade-elem:nth-of-type(7) {
  transition-delay: 0.6s;
}

.fade-up {
  transform: translateY(0);
  opacity: 1;
}

//複数パターンの実装
.fade-type-up,
.fade-type-down,
.fade-type-left,
.fade-type-right,
.fade-elem {
  transition: 0.6s;
  opacity: 0;
  // margin-bottom: 100px;
}

.fade-elem {
  // margin-bottom: 10px;
}

.fade-elem:last-of-type {
  // margin-bottom: 10px;
}

.fade-type-up,
.fade-elem {
  transform: translateY(50px);
}

.fade-type-down {
  transform: translateY(-50px);
}

.fade-type-left {
  transform: translateX(50px);
}

.fade-type-right {
  transform: translateX(-50px);
}

.fade-elem:nth-of-type(2) {
  transition-delay: 0.1s;
}

.fade-elem:nth-of-type(3) {
  transition-delay: 0.2s;
}

.fade-elem:nth-of-type(4) {
  transition-delay: 0.3s;
}

.fade-elem:nth-of-type(5) {
  transition-delay: 0.4s;
}

.fade-elem:nth-of-type(6) {
  transition-delay: 0.5s;
}

.fade-elem:nth-of-type(7) {
  transition-delay: 0.6s;
}

.fade-up-down {
  transform: translateY(0);
  opacity: 1;
}

.fade-left-right {
  transform: translateX(0);
  opacity: 1;
}
