@charset "UTF-8";

@import "mixin";

@import "variable";

html {
  position: relative;
  z-index: 0;
  font-size: 62.5%;
}

body {
  @include tsukushi_a;
  position: relative;
  z-index: -999;
  margin: 0;
  color: $black;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
}

//____________________________
// header
//____________________________
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  transition: all 0.3s;

  .l-header__flex {
    justify-content: space-between;
    display: flex;
    padding: 1.6rem 2.51rem 1.6rem 3.45rem;
    margin: 0 auto;

    @media #{$sp} {
      padding: 2rem;
    }

    .l-header__flex__link {
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }

    // ---------- ロゴ ----------
    .l-header__flex__img {
      width: 201.43px;
      height: 36.85px;
      padding-top: 13.6px;

      * {
        transition: all 0.3s;

        fill: $white;
      }

      @media #{$sp} {
        width: 140px;
        height: 25.61px;
        padding-top: 0;
      }
    }

    .l-header__flex__img.-red {
      * {
        transition: all 0.3s;

        fill: $lp-red;
      }
    }

    .l-header__flex__button {
      justify-content: flex-end;
      display: flex;
      width: 100%;
      max-width: 42rem;

      .l-header__flex__button__login {
        align-items: center;
        display: flex;
        margin-right: 4.3rem;
        color: $lp-black;
        font-size: 2rem;
        text-decoration: none;

        @media #{$sp} {
          margin-right: 0;
          color: $white;
          font-size: 1.8rem;
        }
      }

      .button__type1.-pc-only {
        @media #{$sp} {
          display: none;
        }
      }
    }
  }
}

.l-header.-active {
  background: $white;
  transition: all 0.3s;

  @media #{$sp} {
    .l-header__flex {
      .l-header__flex__button {
        .l-header__flex__button__login {
          color: $lp-black;
        }
      }
    }
  }
}

// ---------- footer ----------
.l-footer {
  position: relative;
  z-index: 160;
  background: $lp-grey;

  @media #{$sp} {
    margin-bottom: 6.3rem;
  }
  .l-footer__flex {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 4rem 12rem 8rem;

    @media #{$sp} {
      flex-direction: column;
      padding: 54.8px 0 0;
    }

    .l-footer__flex__img {
      width: 201px;
      height: 36.85px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }

      @media #{$sp} {
        margin: 0 auto 34.5px;
      }
    }

    .l-footer__flex__links__link {
      display: flex;

      @media #{$sp} {
        margin: 0 auto 2.4rem;
      }

      .l-footer__flex__links__link__a {
        margin-right: 4.8rem;
        list-style-type: none;

        &:hover {
          opacity: 0.8;
        }

        @media #{$sp} {
          margin-right: 2.4rem;
        }

        &:last-child {
          margin-right: 0;
        }

        a {
          @include hiragino_kaku_go;
          color: $white;
          font-size: 1.4rem;
          letter-spacing: 0.04em;
          text-decoration: none;
        }

        a.-blank {
          &::after {
            display: inline-block;
            width: 1em;
            height: 0.9em;
            margin-left: 0.4em;
            content: "";
            background-image: url(../img/top/icon-blank-white-1.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
          }
        }
      }
    }
  }

  .l-footer__copyright {
    padding: 0 0 40px 120px;
    margin: 0;
    color: $white;
    font-size: 1.2rem;

    @media #{$sp} {
      padding: 0 0 39px;
      text-align: center;
    }
  }
}

// ---------- footer上のボーダー ----------
.l-footer__border {
  height: 6px;
  background: $lp-red;

  &--op {
    opacity: 0.6;
  }
}

// ---------- SPでスクロールした時に表示 ----------
.sp__footer__link {
  @include hiragino_kaku_go;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 300;
  display: none;
  width: 100%;
  padding: 2rem 0.8rem;
  color: $white;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.08em;
  text-align: center;
  background-color: $lp-grey;

  &::before {
    position: absolute;
    bottom: 100%;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 8px;
    content: "";
    background-color: rgba($lp-grey, 0.6);
  }
}

//____________________________
// privacy_policy
//____________________________

.p-privacy__bg {
  position: relative;
  z-index: -10;
  background-color: $lp-bgGrey;
  background-image: linear-gradient(
    -90deg,
    $lightgray2 66.66666666%,
    transparent 33.3333333%
  );
  background-size: 12px 12px;
}

.p-privacy__container {
  max-width: 1024px;
  padding: 13.5rem 12rem;
  margin: 0 auto;

  @media #{$sp} {
    padding: 11rem 1.5rem 12rem 1.7rem;
  }

  .p-privacy__container__title {
    color: $lp-black;
    font-size: 4.8rem;
    font-weight: bold;
    text-align: center;

    @media #{$sp} {
      font-size: 3.2rem;
    }
  }

  .p-privacy__container__text {
    font-size: 1.6rem;
    line-height: calc(32 / 16);

    @media #{$sp} {
      font-size: 1.4rem;
    }

    &--mt {
      margin-top: 20px;
    }

    &--pl {
      padding-left: 20px;
    }

    &--sub {
      margin-bottom: 4px;
      font-size: 1.4rem;
      line-height: calc(28 / 14);

      @media #{$sp} {
        margin-bottom: 5px;
        font-size: 1.2rem;
      }
    }
  }

  .p-privacy__container__wrap {
    padding: 48px 80px 40px;
    margin-top: 60px;
    color: $black;
    font-family: "ヒラギノ角ゴシック";
    background: $white;

    @media #{$sp} {
      padding: 32px 24px 22px;
      margin-top: 33px;
    }

    .p-privacy__container__wrap__title {
      display: flex;
      margin-top: 51px;

      img {
        width: 16px;
        height: 16px;
        padding-top: 0.7rem;

        @media #{$sp} {
          padding-top: 0.6rem;
        }
      }

      .p-privacy__container__wrap__title__h3 {
        margin: 0 0 0 10px;
        font-size: 2rem;
        font-weight: normal;
        line-height: 1.5;

        @media #{$sp} {
          font-size: 1.8rem;
        }
      }
    }
  }

  .p-privacy__container__contact {
    display: flex;
    font-size: 1.2rem;
    line-height: calc(24 / 12);

    @media #{$sp} {
      flex-direction: column;
    }

    ul {
      padding-left: 0;
      list-style-type: none;
    }
  }

  .p-privacy__container__btn {
    width: auto;
    max-width: 260px;
    margin: 48px auto 0;
  }
}

//____________________________
// top
//____________________________

// ---------- main visual ----------
// ---------- 6/25 追加 ----------
.p-top__mv__bottom__title {
  @include hiragino_kaku_go;
  margin-top: 2.4rem;
  color: $white;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 3px $black;
  @media #{$sp} {
    position: absolute;
    right: 50%;
    bottom: 160px;
    width: 100%;
    font-size: 1.2rem;
    transform: translateX(50%);
  }
}
.p-top__mv {
  position: relative;
  z-index: 160;
  min-height: 900px;
  background-image: url(../img/top/mv.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  @media screen and (min-width: 1600px) {
    height: 60vw;
  }

  @media screen and (max-width: 1060px) {
    min-height: 842px;
    background-position: 41% center;
  }

  @media #{$sp} {
    min-height: 842px;
    overflow: hidden;
    background-image: url(../img/top/mv-sp.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    // ---------- IEの時だけスタイルを追加 ----------
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: inline-block;
        width: 100%;
        height: 100%;
        content: "";
        background: linear-gradient(rgba($white, 0.12), rgba($white, 0));
      }
    }
  }

  @media screen and (max-width: 480px) {
    height: 100vh;
    min-height: 0;
    background-image: url(../img/top/mv-sp.png);
    background-position: center -50px;
  }

  &--btn {
    color: $white;
    background: $lp-red;
  }

  .p-top__mv__wrapper {
    max-width: 618px;
    padding-top: 18rem;
    padding-bottom: 4.2rem;
    margin-right: 13%;
    margin-left: auto;

    @media screen and (min-width: 1920px) {
      transform: scale(1.3);
    }

    @media screen and (min-width: 2200px) {
      padding-top: 11%;
      padding-bottom: 4.2rem;
      margin-right: 23%;
      transform: scale(1.5);
    }
    @media screen and (max-width: 1060px) {
      margin-right: 0;
    }

    @media #{$sp} {
      padding-top: 8.2rem;
      padding-bottom: 0;
      margin: 0 auto;
    }

    .p-top__mv__wrapper__red {
      @include hiragino_kaku_go;
      max-width: 338px;
      padding: 0.8rem 0;
      margin: 0 auto 1.4rem;
      color: $white;
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: 0.1em;
      text-align: center;
      background: $lp-red;
      border-radius: 4px;

      @media #{$sp} {
        max-width: 240px;
        margin: 0 auto 1.2rem;
        font-size: 1.4rem;
      }
    }

    .p-top__mv__wrapper__title {
      @include tsukushi_a;
      margin-top: 0;
      margin-bottom: 2.6rem;
      font-size: 4.8rem;
      font-weight: bold;
      line-height: calc(67.2 / 48);
      letter-spacing: 0.04em;
      text-align: center;
      white-space: nowrap;
      filter: drop-shadow(0px 0px 16px rgba($white, 0.6));

      @media screen and (max-width: 1060px) {
        font-size: 3rem;
      }

      @media #{$sp} {
        font-size: 2.4rem;
        line-height: calc(33.6 / 24);
      }

      &--fz {
        display: block;
        font-size: 6.4rem;
        font-weight: bold;

        @media screen and (max-width: 1060px) {
          font-size: 5rem;
        }

        @media #{$sp} {
          font-size: 4rem;
        }
      }
    }

    .p-top__mv__wrapper__flex {
      justify-content: space-between;
      display: flex;
      max-width: 596px;
      margin: 0 auto;
      @media screen and (max-width: 1060px) {
        max-width: 460px;
      }

      @media #{$sp} {
        position: absolute;
        position: absolute;
        bottom: 184px;
        left: 50%;
        width: 100%;
        transform: translate(-50%, 0);
      }

      .p-top__mv__wrapper__flex__img {
        width: calc(99% / 3);
        height: 180px;

        @media screen and (max-width: 1060px) {
          width: 140px;
          height: 140px;
        }

        @media #{$sp} {
          width: calc(99% / 3);
          height: auto;
        }
      }
    }
  }

  .p-top__mv__wrapper__bottom {
    @include bgi;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 188px;
    background-image: url(../img/top/mv-bottom.png);

    @media #{$sp} {
      // bottom: -115px;
      height: 160px;
      min-height: 0;
      // margin-bottom: 115px;
      background-image: url(../img/top/mv-bottom.svg);
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
    }

    .p-top__mv__wrapper__bottom__wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      justify-content: space-between;
      display: flex;
      width: 100%;
      max-width: 880px;
      padding-bottom: 3.7rem;
      margin: 4rem auto 0;
      transform: translate(-50%, -50%);

      @media #{$sp} {
        flex-direction: column;
        padding: 0 0 1.6rem;
        margin: 0.5rem auto 0;
        text-align: center;
      }

      .p-top__mv__wrapper__bottom__wrapper__txt {
        align-items: center;
        display: block;
        display: flex;
        min-width: 350px;
        color: $white;
        font-family: "HiraginoSans-W3";
        font-size: 2.4rem;
        font-weight: 600;
        letter-spacing: 0.08em;
        text-decoration: none;

        @media #{$sp} {
          min-width: 0;
          margin: 17px auto;
          font-size: 2rem;
        }
      }

      .p-top__mv__wrapper__bottom__wrapper__icons {
        justify-content: flex-end;
        display: flex;
        width: 100%;
        margin-bottom: 1rem;

        @media #{$sp} {
          justify-content: flex-start;
          width: auto;
          margin: 0 auto;
        }

        & > a {
          display: block;
          width: 100%;
          max-width: 243px;
          transition: 0.3s;

          &:hover {
            transition: 0.3s;
            opacity: 0.8;
          }

          // ---------- 右側のapp storeアイコンだけ ----------
          & + a {
            max-width: 193px;
            margin-left: 1.6rem;

            @media #{$sp} {
              max-width: 130px;
              margin-left: 1.2rem;
            }
          }

          .p-top__mv__wrapper__bottom__wrapper__img {
            display: inline-block;
            height: 100%;
            vertical-align: middle;

            @media #{$sp} {
              width: 100%;
            }

            &.-google {
              @media #{$sp} {
                max-width: 162px;
              }
            }
          }
        }
      }
    }
  }
}

// ---------- アバウトセクション ----------
.p-top__about__bg {
  position: relative;
  z-index: 160;
  background-color: $lp-bgGrey;
  background-image: linear-gradient(
    -90deg,
    $lightgray2 66.66666666%,
    transparent 33.3333333%
  );
  background-size: 12px 12px;

  // ---------- aboutセクション ----------
  .p-top__about__container {
    position: relative;
    padding-top: 11rem;

    @media #{$sp} {
      padding-top: 6rem;
    }

    // ---------- セクションタイトル ----------
    .p-top__about__container__title {
      @include tsukushi_a;
      margin: 0;
      margin-bottom: 4rem;
      font-size: 6rem;
      font-weight: bold;
      line-height: 1.38;
      letter-spacing: 0.04em;
      text-align: center;

      @media #{$sp} {
        margin-bottom: 2.2rem;
        font-size: 3.6rem;
      }
    }

    // ---------- タイトル下テキスト ----------
    .p-top__about__container__text {
      @include hiragino_kaku_go;
      max-width: 720px;
      margin: 0 auto 6.4rem;
      font-size: 2rem;
      font-weight: 300;
      line-height: 2.5;
      letter-spacing: 0.04em;
      text-align: center;

      @media #{$sp} {
        margin: 0 auto 5.2rem;
        font-size: 1.6rem;
        text-align: left;
        text-align: justify;
        text-justify: inter-ideograph;
      }
    }

    // ---------- メインセクション ----------
    .p-top__about__contents {
      // ---------- メインセクション　PCのみ表示 ----------
      &.-pc-only {
        @media #{$sp} {
          display: none;
        }
      }

      // ---------- メインセクション　SPのみ表示 ----------
      &.-sp-only {
        display: none;

        @media #{$sp} {
          flex-direction: column;
          justify-content: space-between;
          display: flex;
          margin: 0 auto;
        }
      }

      // ---------- メインセクションPC SP共通 ナンバリングタイトル ----------
      .p-top__about__childTitle {
        display: flex;
        padding-left: 4.4em;
        margin-bottom: 4.4rem;

        @media #{$sp} {
          justify-content: center;
          padding-left: 1.8rem;
          margin-bottom: 0rem;
        }

        // ---------- ナンバリングタイトル 数字 ----------
        .p-top__about__number {
          height: 56px;
          text-align: center;

          @media #{$sp} {
            height: 40px;
          }

          img {
            height: 100%;
            vertical-align: middle;
          }
        }

        // ---------- ナンバリングタイトル テキスト ----------
        .p-top__about__text {
          @include tsukushi_a;
          margin-top: 2.4rem;
          margin-left: 1.86rem;
          font-size: 2.8rem;
          font-weight: 600;
          line-height: 1.4;

          @media #{$sp} {
            margin-top: 1.2rem;
            margin-left: 1.6rem;
            font-size: 2.4rem;
          }

          .-yellow-highlight {
            background: linear-gradient(transparent 60%, $lp-yellow 60%);
          }
        }
      }

      // ---------- 共通row PC ----------
      .p-top__about__row {
        position: relative;
        justify-content: space-between;
        z-index: 1;
        display: flex;

        // ---------- 共通row 子要素 PC ----------
        > * {
          width: 33%;
          margin-bottom: -1px;
        }

        // ---------- 共通row img PC ----------
        img {
          max-width: 100%;
          vertical-align: bottom;
        }
      }

      // ---------- タイトル row PC ----------
      .p-top__about__row.-title {
        justify-content: center;

        .p-top__about__childTitle {
          width: auto;
        }
      }

      // ---------- テキストボックス row 子要素 PC ----------
      .p-top__about__row.-textbox {
        position: absolute;
        bottom: 32px;
        left: 0;
        z-index: 3;
        width: 100%;

        > img {
          width: calc(90% / 3);
          margin: 0 auto;
        }
      }

      // ---------- セクション 子要素SP ----------
      .p-top__about__child {
        @media #{$sp} {
          position: relative;
          z-index: 1;
          margin-bottom: 7rem;

          &:last-child {
            margin-bottom: 0;
          }
        }

        // ---------- 画像 ----------
        .p-top__about__childPhone {
          @media #{$sp} {
            position: relative;
            justify-content: center;
            display: flex;
            width: calc(100% - 32px);
            margin: 0 auto;
          }

          // ---------- ケータイの画像 ----------
          .p-top__about__phoneImg {
            @media #{$sp} {
              max-width: 100%;
            }
          }

          // ---------- テキストボックスの画像 ----------
          .p-top__about__textBoxImg {
            @media #{$sp} {
              position: absolute;
              bottom: 18px;
              left: 50%;
              display: inline-block;
              width: 100%;
              max-width: 360px;
              transform: translate(-50%, 0%);
            }
          }
        }
      }
    }
  }

  // ---------- aboutセクションボトムパート ----------
  .p-top__about__bottomBg {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100vw;
    padding-top: 18.7%;
    background-image: url(../img/top/about-bottom.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    @media screen and (min-width: 1600px) {
      padding-top: 400px;
    }

    @media #{$sp} {
      bottom: -1px;
      padding-top: 48%;
      background-image: url(../img/top/mv-bottom.svg);
      background-position: bottom;
    }
  }
}

// ---------- アプリダウンロードセクション ----------
.p-top__app__bg {
  @include bgi;
  position: relative;
  z-index: 200;
  padding: 6.2rem 0;
  background-image: url(../img/top/app-bg.png);

  @media #{$sp} {
    padding: 7.6rem 0 6rem;
  }

  // ---------- アプリダウンロード flex ----------
  .p-top__app__flex {
    align-items: center;
    display: flex;
    max-width: 1132px;
    margin: 0 auto;

    @media #{$sp} {
      flex-direction: column;
      justify-content: center;
    }

    // ---------- アプリダウンロード スマホ画像 ----------
    .p-top__app__img {
      width: 100%;
      max-width: 400px;
      margin-right: 4rem;

      @media #{$sp} {
        width: 100%;
        max-width: 311px;
        margin: 0 auto 2.8rem;
      }

      > img {
        width: 100%;
      }
    }

    // ---------- アプリダウンロード テキスト ----------
    .p-top__app__description {
      margin-top: 1rem;

      @media #{$sp} {
        padding: 0;
      }

      // ---------- 「app」 ----------
      .p-top__app__sm {
        @include Comfortaa;
        color: $lp-red;
        font-size: 1.6rem;
        font-weight: bold;
        letter-spacing: 0.08em;

        @media #{$sp} {
          margin-bottom: 1rem;
          font-size: 1.4rem;
          letter-spacing: 0;
          text-align: center;
        }
      }

      // ---------- タイトル ----------
      .p-top__app__title {
        @include tsukushi_a;
        margin-bottom: 4rem;
        font-size: 4.8rem;
        font-weight: 600;
        line-height: 1.625;
        letter-spacing: 0.04em;
        transform: translateY(10px);

        @media #{$sp} {
          margin-bottom: 2rem;
          font-size: 3.6rem;
          line-height: 1.5;
          text-align: center;
          transform: translateY(0);
        }
      }

      // ---------- テキスト ----------
      .p-top__app__text {
        @include hiragino_kaku_go;
        max-width: 585px;
        margin-bottom: 3rem;
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 2.2;
        letter-spacing: 0.04em;
        text-align: left;

        @media #{$sp} {
          font-size: 1.6rem;
          line-height: 2.5;
        }
      }

      // ---------- アプリダウンロード 白いボックス ----------
      .p-top__app__box {
        max-width: 640px;
        padding: 2.4rem 2rem 1.2rem;
        background: $white;

        @media #{$sp} {
          padding: 2.4rem;
          margin-bottom: 0.8rem;
        }

        // ---------- 白ボックス テキスト ----------
        .p-top__app__boxTxt {
          @include hiragino_kaku_go;
          margin-bottom: 1.4rem;
          font-size: 1.6rem;
          font-weight: bold;
          text-align: center;

          @media #{$sp} {
            margin-bottom: 1.4rem;
          }
        }

        // ---------- 白ボックス ストアボタン　横並び ----------
        .p-top__app__box__flex {
          justify-content: space-between;
          display: flex;
          max-width: 407px;
          margin: 0 auto 1rem;

          @media #{$sp} {
            max-width: 310px;
          }

          > a {
            & + a {
              margin-left: 17px;
            }
            .p-top__app__box__img {
              width: 100%;
            }

            .p-top__app__box__img.-google {
              max-width: 216px;

              &:hover {
                opacity: 0.8;
              }

              @media #{$sp} {
                max-width: 162px;
              }
            }

            .p-top__app__box__img.-ios {
              max-width: 174px;

              &:hover {
                opacity: 0.8;
              }

              @media #{$sp} {
                max-width: 130px;
              }
            }
          }
        }
      }

      // ---------- アプリダウンロード 注意書き ----------
      .p-top__app__detail {
        .p-top__app__detail__txt {
          @include hiragino_kaku_go;
          padding-left: 1em;
          font-size: 1rem;
          font-weight: 300;
          line-height: calc(22 / 10);
          letter-spacing: 0.04em;
          text-indent: -1em;
        }
      }
    }
  }
}

// ---------- よくある質問 faq ----------
.p-top__question__bg {
  position: relative;
  z-index: 160;
  padding: 8.1rem 4rem 10.7rem;
  background-color: $lp-questionRed;
  background-image: linear-gradient(
    -90deg,
    $lp-bgRed 66.66666666%,
    transparent 33.3333333%
  );
  background-size: 12px 12px;

  @media #{$sp} {
    padding: 6.2rem 1.6rem 10rem;
  }

  // ---------- faq全体 ----------
  .p-top__question__container {
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;

    // ---------- faq タイトル英語 ----------
    .p-top__question__title__sm {
      @include Comfortaa;
      margin-bottom: 1.8rem;
      color: $lp-red;
      font-size: 1.6rem;
      font-weight: bold;
      letter-spacing: 0.08em;

      @media #{$sp} {
        font-size: 1.4rem;
      }
    }

    // ---------- faq タイトル日本語 ----------
    .p-top__question__title__lg {
      @include tsukushi_a;
      margin: 0;
      margin-bottom: 5.6rem;
      font-size: 4.8rem;
      font-weight: bold;

      @media #{$sp} {
        margin-bottom: 3.8rem;
        font-size: 3.6rem;
      }
    }

    // ---------- faq アコーディオンタイトル ----------
    .p-top__question__acdTitle {
      position: relative;
      align-items: flex-start;
      display: flex;
      padding: 1.8rem 4.8rem 1.8rem 2.4rem;
      margin-bottom: 1.7rem;
      background: $white;
      border-radius: 0.4rem;

      @media #{$sp} {
        padding: 1.2rem 4.8rem 1.2rem 1.8rem;
        margin-bottom: 1.7rem;
      }

      &:hover {
        cursor: pointer;
      }

      // ---------- 矢印 ----------
      &::after {
        position: absolute;
        top: 3.5rem;
        right: 2.4rem;
        display: inline-block;
        width: 16px;
        height: 16px;
        content: "";
        background-image: url(../img/top/question/question-arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: all 0.3s;

        @media #{$sp} {
          top: 2.8rem;
          right: 1.6rem;
          width: 14px;
          height: 10px;
        }
      }

      &.-active {
        &::after {
          transform: rotate(180deg);
          transition: all 0.3s;
        }
      }

      // ---------- faq アコーディオンタイトル 画像 ----------
      .p-top__question__acdTitle__img {
        width: 49px;
        margin-right: 2.4rem;

        @media #{$sp} {
          width: 40px;
          margin-right: 1rem;
        }
      }

      // ---------- faq アコーディオンタイトル テキスト ----------
      .p-top__question__acdTitle__text {
        @include hiragino_kaku_go;
        margin-top: 1.4rem;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.3;
        letter-spacing: 0.08em;
        text-align: justify;
        text-justify: inter-ideograph;

        @media #{$sp} {
          margin: 1rem 0;
          font-size: 1.6rem;
          line-height: 1.6;
        }
      }
    }

    // ---------- faq アコーディオンアンサー ----------
    .p-top__question__acdAnswerWrap {
      display: none;
      margin-top: -0.9rem;
      margin-bottom: 1.6rem;

      .p-top__question__acdAnswer {
        display: flex;
        padding: 1.8rem 2.4rem 1.2rem 2.4rem;
        margin-top: 0.4rem;
        background: $white;

        @media #{$sp} {
          padding: 1.2rem 1.8rem 1.2rem 1.8rem;
        }

        // ---------- faq アコーディオンアンサー テキスト ----------
        .p-top__question__acdAnswer__text {
          @include hiragino_kaku_go;
          max-width: 848px;
          margin: 1.8rem 0 0 2.4rem;
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 2.2;
          letter-spacing: 0.04em;
          text-align: left;

          @media #{$sp} {
            margin: 0.8rem 0 0 1rem;
            line-height: 2.2;
          }
        }

        // ---------- faq アコーディオンアンサー アイコン ----------
        .p-top__question__acdAnswer__icon {
          width: 50px;
          height: 50px;

          @media #{$sp} {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
}

.p-top {
  &__steps {
    display: flex;

    @media #{$sp} {
      flex-direction: column;

      &--bg {
        background: $lp-lightgrey;
      }
    }

    &:first-child {
      margin-top: 30px;
    }

    &__left {
      &__wrap {
        position: relative;
        width: 50%;
        height: 100vh;
        padding: 230px 0 0 180px;
        color: $white;
        background: $lp-lightgrey;

        @media #{$sp} {
          width: 100%;
          padding: 0;
          margin-bottom: 65px;
          background: transparent;
        }

        &__display {
          width: 50%;

          // &__icon {
          //   width: 50%;
          //   left: 130px;
          //   position: absolute;
          //   &--step1-1 {
          //     top: 334px;
          //   }
          //   &--step1-2 {
          //     top: 468px;
          //   }

          //   &--step1-3 {
          //     top: 596px;
          //   }

          //   &--step1-btn {
          //     top: 0;
          //   }

          //   &--step2-1 {
          //     position: absolute;
          //     bottom: 291.2px;
          //     left: 90.5px;
          //   }

          //   &--step2-2 {
          //     position: absolute;
          //     bottom: 185.2px;
          //     left: 260px;
          //   }

          //   &--step2-3 {
          //     position: absolute;
          //     bottom: 79.2px;
          //     left: 90.5px;
          //   }

          //   &--step3-1 {
          //     position: absolute;
          //     bottom: 190px;
          //     left: 130px;
          //   }

          //   &--step3-2 {
          //     position: absolute;
          //     bottom: 190px;
          //     left: 320px;
          //   }

          //   &--step3-bg {
          //     position: absolute;
          //     bottom: 65px;
          //     left: 200px;
          //   }

          //   &--step3-btn {
          //     position: absolute;
          //     bottom: 86px;
          //     left: 225px;
          //   }

          //   &--step4-1 {
          //     position: absolute;
          //     bottom: 282px;
          //     left: 150px;
          //   }

          //   &--step4-2 {
          //     position: absolute;
          //     bottom: 190px;
          //     left: 280px;
          //   }

          //   &--step4-3 {
          //     position: absolute;
          //     bottom: 100px;
          //     left: 150px;
          //   }

          //   &--step4-bg {
          //     position: absolute;
          //     bottom: 66px;
          //     left: 200px;
          //   }
          // }
        }
      }
    }

    &__right {
      &__wrap {
        width: 50%;
        padding: 120px 121px 0 0;
        margin-left: 81px;
        background: $white;

        @media #{$sp} {
          width: 90%;
          height: 100%;
          padding: 0 17px;
          margin: 0 0 51px;
          background: transparent;
        }

        &--icon {
          @include Comfortaa;
          color: $lp-red;
          font-size: 1.6rem;

          @media #{$sp} {
            font-size: 1.4rem;
          }
        }

        &__title {
          margin-top: 28.2px;
          margin-bottom: 40px;
          font-size: 4.8rem;
          font-weight: normal;
          line-height: calc(67.2 / 48);
          letter-spacing: 0.04em;

          @media #{$sp} {
            margin-bottom: 23px;
            font-size: 2.4rem;
          }
        }

        &__text {
          margin-bottom: 64.6px;
          font-family: "HiraginoSans-W3";
          font-size: 1.8rem;
          line-height: calc(39.6 / 18);
          letter-spacing: 0.04em;

          @media #{$sp} {
            font-size: 1.4rem;
            line-height: calc(30.8 / 14);
          }
        }

        &__link {
          display: flex;
          text-decoration: none;

          &__txt {
            margin: 0;
            color: $lp-red;
            font-size: 1.8rem;
            line-height: calc(31.5 / 18);
            letter-spacing: 0.04em;

            @media #{$sp} {
              font-size: 1.6rem;
              line-height: calc(22.4 / 16);
            }
          }

          &__icon {
            display: block;
            width: 56px;
            height: 56px;
            margin-left: 19px;
          }
        }
      }
    }
  }
}
// ---------- スライド ----------
.slide {
  position: relative;
  // padding-top: 12rem;

  @media #{$sp} {
    padding-top: 0;
  }

  @keyframes buttonAnimation {
    0% {
      height: 32px;
    }

    30% {
      height: 27px;
    }

    100% {
      height: 32px;
    }
  }

  .button-active {
    animation: buttonAnimation 0.6s ease-out 0.8s 1 normal forwards;
    transition: 0.3s ease-in 0.4s;
  }

  .slide__section {
    display: flex;
    // align-items: flex-start;
    width: 100%;
    // height: calc(100vh - 95px); // 95px = headerの高さ

    @media #{$sp} {
      align-items: stretch;
      flex-wrap: wrap;
      width: auto;
      height: auto;
      padding: 6.4rem 0 3.6rem;

      &:nth-of-type(odd) {
        background-color: $lp-lightgrey;
      }
    }
  }

  // ---------- slide 画像 ----------
  .slide__img {
    // ---------- 共通のスタイル ----------
    // background-color: $lp-lightgrey;
    @media #{$sp} {
      background-color: $lp-lightgrey;
    }

    // ---------- PC時のみ表示 ----------
    &.-fixed {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 150;
      width: 50%;
      // height: 10000px;
      // display: none;

      @media #{$sp} {
        display: none;
      }

      .slide__img__box {
        // top: 455px;
        position: absolute;
        top: 42.2%;
        top: 50%;
        left: 54%;
        align-items: center;
        justify-content: center;
        width: 72.2222%;
        // height: 46.666666%;
        transform: translate(-50%, -50%);
      }
    }

    &.-fixed.-active {
      position: fixed;
      top: 95px;
      left: 25%;
      height: calc(100vh - 95px) !important;
      // height: 10000px; //95px = headerの高さ
      // height: calc(10000px - 95px); //95px = headerの高さ
      transform: translateX(-50%);

      .slide__img__box {
        // top: 455px;
        // top: 9.5%;
        // top: 535px;
        top: 50%;
      }
    }

    &.-fixed.-after {
      position: absolute;
      top: auto;
      bottom: 0;

      .slide__img__box {
        top: auto;
        bottom: 45px;
        height: auto;
      }
    }

    // ---------- SP時のみ表示 ----------
    &.-sp-only {
      position: relative;
      z-index: 10;
      // display: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 50%;
      background-color: #f2f2f2;
      opacity: 0;

      @media #{$sp} {
        display: inline-block;
        width: 100%;
        height: auto;
        padding: 0 1.6rem 0 5.6rem;
        margin-bottom: 6rem;
        background-color: transparent;
        opacity: 1;
      }

      .slide__img__box {
        position: absolute;
        top: 42.2%;
        left: 54%;
        align-items: center;
        justify-content: center;
        width: 72.2222%;
        height: 46.666666%;
        transform: translate(-50%, -50%);

        @media #{$sp} {
          position: relative;
          top: auto;
          left: auto;
          z-index: 200;
          width: 100%;
          height: auto;
          margin: auto;
          transform: translate(0%, 0%);
        }
      }
    }

    .slide__img__box {
      // position: absolute;
      // top: 42.2%;
      // left: 54%;
      // align-items: center;
      // justify-content: center;
      // width: 72.2222%;
      // // height: 46.666666%;
      // transform: translate(-50%, -50%);

      // @media #{$sp} {
      //   position: relative;
      //   top: 51%;
      //   z-index: 200;
      //   width: 100%;
      //   height: auto;
      //   margin: auto;
      // }
    }

    .slide__img__item {
      width: 100%;
      height: 100%;
      text-align: center;

      // ---------- 携帯部分 ----------
      .slide__img__item--phone {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        width: 250px;
        height: 450px;
        margin: 0 auto;
        transform: translate(-50%, -50%);

        @media #{$sp} {
          position: static;
          width: 147px;
          height: auto;
          transform: translate(0, 0);
        }
      }

      // ---------- 画像全体 ----------
      .slide__img__item__wrap {
        position: relative;
        display: inline-block;
        width: 250px;
        height: 450px;

        @media #{$sp} {
          width: auto;
          height: auto;
        }

        // ---------- STEP1 ----------
        &.-step1 {
          .slide__img__item--step1--message {
            position: absolute;
            width: 280px;
            height: 64px;

            @media #{$sp} {
              width: 164px;
              height: auto;
            }

            &1 {
              top: 70px;
              left: 47.5%;
              transform: translateX(-50%);

              @media #{$sp} {
                top: 40px;
              }
            }

            &2 {
              top: 150px;
              left: 47.5%;
              transform: translateX(-50%);

              @media #{$sp} {
                top: 88px;
              }
            }

            &3 {
              top: 230px;
              left: 47.5%;
              transform: translateX(-50%);

              @media #{$sp} {
                top: 135px;
              }
            }
          }

          .slide__img__item--step1--button {
            position: absolute;
            top: 332px;
            left: 47.5%;
            width: 150px;
            height: 32px;
            transform: translateX(-50%);

            @media #{$sp} {
              top: 189px;
              width: 87px;
              height: auto;
            }
          }
        }

        // ---------- STEP2 ----------
        &.-step2 {
          .slide__img__item--step2--message {
            position: absolute;

            @media #{$sp} {
              width: 260px;
              height: auto;
            }

            &1 {
              top: 63px;
              left: 47%;
              width: 230px;
              height: 92px;
              transform: translateX(-90%);

              @media #{$sp} {
                top: 36px;
                left: 46%;
                width: 134px;
                height: 53.4px;
              }
            }

            &2 {
              top: 171px;
              left: 47%;
              width: 260px;
              height: 92px;
              transform: translateX(-10%);

              @media #{$sp} {
                top: 100px;
                left: 46%;
                width: 152px;
                height: 53.4px;
              }
            }

            &3 {
              top: 278px;
              left: 47%;
              height: 92px;
              transform: translateX(-90%);

              @media #{$sp} {
                top: 163px;
                left: 46%;
                width: 134px;
                height: 53.4px;
              }
            }
          }
        }

        // ---------- STEP3 ----------
        &.-step3 {
          .slide__img__item--step3--plan {
            position: absolute;
            top: 142px;
            left: 48%;
            width: 340px;
            height: 120px;
            transform: translateX(-50%);

            @media #{$sp} {
              top: 82px;
              width: 200px;
              height: auto;
            }
          }

          .slide__img__item--step3--button {
            position: absolute;
            top: 332px;
            left: 48%;
            width: 150px;
            height: 32px;
            transform: translateX(-50%);

            @media #{$sp} {
              top: 196px;
              width: 87px;
              height: auto;
            }
          }

          .slide__img__item--step3--line {
            width: 0;
          }
        }

        // ---------- STEP4 ----------
        &.-step4 {
          .slide__img__item--step4--message {
            position: absolute;

            &1 {
              top: 69px;
              left: -33px;
              width: 200px;
              height: 97px;

              @media #{$sp} {
                top: 40px;
                left: -20px;
                width: 117px;
                height: auto;
              }
            }

            &2 {
              top: 135px;
              right: -32px;
              width: 183px;
              height: 122px;

              @media #{$sp} {
                top: 80px;
                right: -18px;
                width: 107px;
                height: auto;
              }
            }

            &3 {
              top: 242px;
              left: -22px;
              width: 168px;
              height: 103px;

              @media #{$sp} {
                top: 143px;
                left: -15px;
                width: 98px;
                height: auto;
              }
            }
          }
        }

        // ---------- STEP5 ----------
        &.-step5 {
          .slide__img__item--step5--message {
            position: absolute;

            &1 {
              top: 38px;
              left: -45px;
              width: 305px;
              height: 110px;

              @media #{$sp} {
                top: 22px;
                left: -28px;
                width: 178px;
                height: auto;
              }

              .cls-1 {
                fill: #ffffff;
              }

              .cls-2 {
                fill: #cc5258;
              }

              .cls-3 {
                fill: #ceb789;
              }

              .cls-4 {
                fill: #cccccc;
              }
            }

            &2 {
              top: 139px;
              right: -33px;
              width: 183px;
              height: 139px;

              @media #{$sp} {
                top: 82px;
                right: -18px;
                width: 107px;
                height: 81px;
              }

              .cls-1 {
                fill: #cccccc;
              }

              .cls-2 {
                fill: #ffffff;
              }

              .cls-3 {
                fill: #41424e;
              }
            }

            &3 {
              top: 264px;
              left: -23px;
              width: 168px;
              height: 120px;

              @media #{$sp} {
                top: 155px;
                left: -14px;
                width: 98px;
                height: 70px;
              }

              .cls-1 {
                fill: #cc5258;
              }

              .cls-2 {
                fill: #ffffff;
              }
            }
          }
        }
      }
    }
  }

  // ---------- slide テキスト ----------
  .slide__description {
    position: relative;
    z-index: 0;
    display: flex;
    width: 50%;
    // min-height: 988px;
    // max-height: 1200px;
    // height: 100vh;
    // height: calc(100% - 95px); // 95px = headerの高さ
    // margin-left: auto;
    background-color: $white;

    &::before {
      position: absolute;
      top: 0;
      right: 100%;
      z-index: -1;
      display: inline-block;
      width: 100%;
      height: 100%;
      content: "";
      background-color: $lp-lightgrey;
    }

    @media #{$sp} {
      width: 100%;
      height: 100%;
      padding-top: 1.5em;
      padding-left: 3.8rem;
      margin-left: 0;
      background-color: transparent;
    }

    .slide__description__box {
      width: 100%;
      max-width: 520px;
      padding: 16rem 1.6rem 16rem;
      margin: auto;
      margin-right: auto;
      margin-left: 6.4rem;
      // &.-step5DescBox {
      //   height: 100vh;
      //   padding-bottom: 0;
      // }

      @media #{$sp} {
        width: 85%;
        height: auto;
        max-width: 300px;
        padding: 1.6rem;
        margin: 0 auto;
      }
    }

    .slide__description__title {
      position: relative;
      margin-top: 2rem;
      margin-bottom: 4rem;
      font-size: 4.8rem;
      font-weight: bold;
      line-height: 1.4;
      letter-spacing: 0.04em;

      @media #{$sp} {
        margin-top: 0;
        margin-bottom: 1.4rem;
        font-size: 2.4rem;
        letter-spacing: 0.06em;
      }

      &:before {
        @include Comfortaa;
        position: absolute;
        top: -35px;
        left: 0;
        color: $primary;
        content: attr(step);
        font-size: 1.6rem;
        font-weight: bold;
        letter-spacing: 0.08em;

        @media #{$sp} {
          top: -28px;
          font-size: 1.2rem;
        }
      }
    }

    .slide__description__text {
      @include hiragino_kaku_go;
      font-size: 1.8rem;
      font-weight: 300;
      line-height: 2.25;
      letter-spacing: 0.04em;

      @media #{$sp} {
        font-size: 1.4rem;
        letter-spacing: 0.08em;
        text-align: justify;
        text-justify: inter-ideograph;
      }
    }

    // ---------- スライド　リンク ----------
    .slide__description__link {
      @include flex;
      @include tsukushi_a;
      align-items: center;
      margin-top: 5.6rem;
      color: $lp-red;
      font-size: 1.8rem;
      font-weight: bold;
      line-height: 1.4;
      letter-spacing: 0.04em;
      transition: 0.3s;

      @media #{$sp} {
        width: 100%;
        margin-top: 1.6rem;
        font-size: 1.6rem;
      }

      &::after {
        width: 56px;
        height: 56px;
        margin-left: 1.2rem;
        content: "";
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: 0.3s;

        @media #{$sp} {
          margin-left: 1.2rem;
        }
      }

      &:hover {
        cursor: pointer;
        &::after {
          transform: scale(1.1);
          transition: 0.3s;
        }
      }
    }

    .slide__description__link.-blank {
      &::after {
        background-image: url(../img/slide/icon-blank-circle-red.svg);
      }
    }

    .slide__description__link.-download {
      &::after {
        background-image: url(../img/slide/icon-download-circle-red.svg);
      }
    }
  }
}

// ---------- SVGアニメーション ----------
.slide__img__item__wrap {
  // ---------- 全画像共通 ----------
  .slide__img__item__fixed {
    margin-top: -20px;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    opacity: 0;
  }

  // ---------- 携帯画像だけ常に表示 ----------
  .slide__img__item--phone {
    display: block;
    opacity: 1;
  }

  // ---------- step3-5の携帯画像 ----------
  .slide__img__item--phone.slide__img__item__fixed {
    opacity: 0;
  }

  // ↓最後に消す
  // @keyframes fadeIn_animation {
  //   0% {
  //     margin-top: -20px;
  //     opacity: 0;
  //   }

  //   100% {
  //     margin-top: 0;
  //     opacity: 1;
  //   }
  // }

  // ---------- フェードイン ----------
  .-fadeIn {
    margin-top: 0;
    transition-delay: 0.4s;
    transition-duration: 0.6s;
    transition-timing-function: ease-out;
    opacity: 1 !important;

    // animation-delay: 0.4s; //最後に消す
    // animation-duration: 0.3s; //最後に消す
    // animation-iteration-count: 1; //最後に消す
    // animation-name: fadeIn_animation; //最後に消す
    // animation-play-state: puased; //最後に消す
    // animation-timing-function: ease-out; //最後に消す
    // animation-fill-mode: forwards; //最後に消す
    // animation-direction: normal; //最後に消す
  }

  .-fadeIn2 {
    transition-delay: 0.8s;
    // animation-delay: 0.8s; //最後に消す
  }

  .-fadeIn3 {
    transition-delay: 1.2s;
    // animation-delay: 1.2s; //最後に消す
  }

  // ---------- step1 ----------
  &.-step1 {
    .cls-1 {
      fill: #ffffff;
    }

    .cls-2,
    .step1-3-cls-2 {
      transition: 0.3s;

      fill: #cc5258;
    }

    .step1-3-cls-3,
    .step1-3-cls-4 {
      width: 0;

      fill: #cccccc;
    }

    @keyframes line_animation1 {
      0% {
        width: 0;
      }

      100% {
        width: 80.31px;
      }
    }

    @keyframes line_animation2 {
      0% {
        width: 0;
      }

      100% {
        width: 183px;
      }
    }
  }

  // ---------- step2 ----------
  &.-step2 {
    .line {
      width: 0;
    }

    .-active-step {
      // ---------- slide__img__item--step2--message1  ----------
      // ---------- #d6d05b黄色の吹き出し ----------
      .line2-1-1 {
        animation: line_animation3 0.5s ease-out 0.4s 1 normal forwards;
      }

      .line2-1-2 {
        animation: line_animation4 0.5s ease-out 0.4s 1 normal forwards;
      }

      .line2-1-4 {
        animation: line_animation6 0.5s ease-out 0.4s 1 normal forwards;
      }

      // ---------- slide__img__item--step2--message2  ----------
      // ---------- #53a0cf青色の吹き出し ----------
      .line2-2-1 {
        animation: line_animation215 0.5s ease-out 0.8s 1 normal forwards;
      }

      .line2-2-2 {
        animation: line_animation215 0.5s ease-out 0.8s 1 normal forwards;
      }

      .line2-2-3 {
        animation: line_animation5 0.5s ease-out 0.8s 1 normal forwards;
      }

      .line2-2-4 {
        animation: line_animation170 0.5s ease-out 0.8s 1 normal forwards;
      }

      // ---------- slide__img__item--step2--message3  ----------
      // ---------- #cc5258赤色の吹き出し ----------
      .line2-3-1 {
        animation: line_animation3 0.5s ease-out 1.2s 1 normal forwards;
      }

      .line2-3-2 {
        animation: line_animation4 0.5s ease-out 1.2s 1 normal forwards;
      }

      .line2-3-3 {
        animation: line_animation5 0.5s ease-out 1.2s 1 normal forwards;
      }

      .line2-3-4 {
        animation: line_animation6 0.5s ease-out 1.2s 1 normal forwards;
      }

      // ---------- 白丸部分 ----------
      .step2name {
        r: 5;
      }
    }

    // ---------- アニメーション keyframe ----------
    @keyframes line_animation3 {
      0% {
        width: 0;
      }

      100% {
        width: 190px;
      }
    }

    @keyframes line_animation4 {
      0% {
        width: 0;
      }

      100% {
        width: 190px;
      }
    }

    @keyframes line_animation215 {
      0% {
        width: 0;
      }

      100% {
        width: 215px;
      }
    }

    @keyframes line_animation170 {
      0% {
        width: 0;
      }

      100% {
        width: 170px;
      }
    }

    @keyframes line_animation5 {
      0% {
        width: 0;
      }

      100% {
        width: 40px;
      }
    }

    @keyframes line_animation6 {
      0% {
        width: 0;
      }

      100% {
        width: 145px;
      }
    }
  }

  // ---------- step3 ----------
  &.-step3 {
    .-active-step {
      // ---------- 長い方の線 ----------
      .slide__img__item--step3--line1 {
        animation: line_animation7 0.5s ease-out 0.8s 1 normal forwards;
      }

      // ---------- 短い方の線 ----------
      .slide__img__item--step3--line2 {
        animation: line_animation8 0.5s ease-out 0.8s 1 normal forwards;
      }
    }

    // ---------- アニメーション keyframe ----------
    @keyframes line_animation7 {
      0% {
        width: 0;
      }

      100% {
        width: 120px;
      }
    }

    @keyframes line_animation8 {
      0% {
        width: 0;
      }

      100% {
        width: 80px;
      }
    }
  }

  // ---------- step4 ----------
  &.-step4 {
    .line {
      width: 0;
    }

    .-active-step {
      // ---------- slide__img__item--step4--message1 ----------
      // ---------- 1つ目の赤い吹き出し#cc5258 ----------
      .line4-1-1 {
        animation: line_animation9 0.5s ease-out 0.4s 1 normal forwards;
      }

      .line4-1-2 {
        animation: line_animation10 0.5s ease-out 0.4s 1 normal forwards;
      }

      .line4-1-3 {
        animation: line_animation11 0.5s ease-out 0.4s 1 normal forwards;
      }

      .line4-1-4 {
        animation: line_animation12 0.5s ease-out 0.4s 1 normal forwards;
      }

      // ---------- slide__img__item--step4--message2 ----------
      // ---------- 2つ目灰色吹き出し#ccc ----------
      .line4-2-1 {
        animation: line_animation9 0.5s ease-out 0.8s 1 normal forwards;
      }

      .line4-2-2 {
        animation: line_animation13 0.5s ease-out 0.8s 1 normal forwards;
      }

      .line4-2-3 {
        animation: line_animation11 0.5s ease-out 0.8s 1 normal forwards;
      }

      // ---------- slide__img__item--step4--message3 ----------
      // ---------- 3つ目の赤い吹き出し#cc5258 ----------
      .line4-3-1 {
        animation: line_animation14 0.5s ease-out 1.2s 1 normal forwards;
      }

      .line4-3-2 {
        animation: line_animation15 0.5s ease-out 1.2s 1 normal forwards;
      }
    }

    // ---------- アニメーション keyframe ----------
    @keyframes line_animation9 {
      0% {
        width: 0;
      }

      100% {
        width: 40.31px;
      }
    }

    @keyframes line_animation10 {
      0% {
        width: 0;
      }

      100% {
        width: 166px;
      }
    }

    @keyframes line_animation11 {
      0% {
        width: 0;
      }

      100% {
        width: 100px;
      }
    }

    @keyframes line_animatio12 {
      0% {
        width: 0;
      }

      100% {
        width: 50px;
      }
    }

    @keyframes line_animation13 {
      0% {
        width: 0;
      }

      100% {
        width: 136px;
      }
    }

    @keyframes line_animation14 {
      0% {
        width: 0;
      }

      100% {
        width: 70.31px;
      }
    }

    @keyframes line_animation15 {
      0% {
        width: 0;
      }

      100% {
        width: 118px;
      }
    }
  }

  // ---------- step5 ----------
  &.-step5 {
    .line {
      width: 0;
    }

    .-active-step {
      // ---------- slide__img__item--step5--message1 ----------
      // ---------- 1つ目のメダル付き吹き出し#ceb789 ----------
      .line5-1-1 {
        animation: line_animation16 0.5s ease-out 0.4s 1 normal forwards;
      }

      .line5-1-2 {
        animation: line_animation17 0.5s ease-out 0.4s 1 normal forwards;
      }

      .ribbon {
        animation: line_animation_ribbon 0.7s linear 2s 1 normal forwards;
      }

      // ---------- slide__img__item--step4--message2 ----------
      // ---------- 2つ目灰色吹き出し#ccc ----------
      .line5-2-1 {
        animation: line_animation18 0.5s ease-out 0.8s 1 normal forwards;
      }

      .line5-2-2 {
        animation: line_animation19 0.5s ease-out 0.8s 1 normal forwards;
      }

      .line5-2-3 {
        animation: line_animation20 0.5s ease-out 0.8s 1 normal forwards;
      }

      .line5-2-4 {
        animation: line_animation21 0.5s ease-out 0.8s 1 normal forwards;
      }

      // ---------- slide__img__item--step4--message3 ----------
      // ---------- 3つ目の赤い吹き出し#cc5258 ----------
      .line5-3-1 {
        animation: line_animation22 0.5s ease-out 1.2s 1 normal forwards;
      }

      .line5-3-2 {
        animation: line_animation23 0.5s ease-out 1.2s 1 normal forwards;
      }

      .line5-3-3 {
        animation: line_animation24 0.5s ease-out 1.2s 1 normal forwards;
      }
    }

    // ---------- アニメーション keyframe ----------
    @keyframes line_animation16 {
      0% {
        width: 0;
      }

      100% {
        width: 83px;
      }
    }

    @keyframes line_animation17 {
      0% {
        width: 0;
      }

      100% {
        width: 183px;
      }
    }

    @keyframes line_animation18 {
      0% {
        width: 0;
      }

      100% {
        width: 40px;
      }
    }

    @keyframes line_animation19 {
      0% {
        width: 0;
      }

      100% {
        width: 136px;
      }
    }

    @keyframes line_animation20 {
      0% {
        width: 0;
      }

      100% {
        width: 100px;
      }
    }

    @keyframes line_animation21 {
      0% {
        width: 0;
      }

      100% {
        width: 120px;
      }
    }

    @keyframes line_animation22 {
      0% {
        width: 0;
      }

      100% {
        width: 70px;
      }
    }

    @keyframes line_animation23 {
      0% {
        width: 0;
      }

      100% {
        width: 47px;
      }
    }

    @keyframes line_animation24 {
      0% {
        width: 0;
      }

      100% {
        width: 118px;
      }
    }

    @keyframes line_animation_ribbon {
      0% {
        transform: scale(1);
      }

      50% {
        transform: scale(1.2);
      }

      100% {
        transform: scale(1);
      }
    }
  }
}
