@-webkit-keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

@keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

.btn--center {
  width: 100%;
  text-align: center;
}

.Btn__base {
  height: 5.6rem;
  color: #ffffff;
  font-weight: 500;
  line-height: 5.6rem;
  background-color: #cb0015;
  border-radius: 2.8rem;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.Btn__base:hover {
  color: #ffffff;
  background-color: #e8253a;
}

.Btn__base__login {
  height: 5.6rem;
  color: #cb0015;
  font-weight: 500;
  line-height: 5.6rem;
  background-color: #ffffff;
  border: #cb0015 2px solid;
  border-radius: 2.8rem;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.Btn__base__login:hover {
  color: #ffffff;
  background-color: #e8253a;
}

.Btn__base__gray {
  height: 5.6rem;
  color: #222222;
  font-weight: 500;
  line-height: 5.6rem;
  background-color: #eeeeee;
  border-radius: 2.8rem;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.Btn__base__gray:hover {
  background-color: #cccccc;
}

.SP__btn {
  width: 100%;
  max-width: 33.4rem;
  font-size: 1.4rem;
}

@media only screen and (max-width: 768px) {
  .SP__btn {
    max-width: 100%;
  }
}

.SP__btn__center {
  padding-top: 1rem;
  text-align: center;
}

.SP__btn__update {
  padding-top: 3rem;
}

@media only screen and (max-width: 768px) {
  .SP__btn__update {
    max-width: 33.4rem;
    margin: 0 auto;
  }
}

.SP__btnMin {
  width: 100%;
  max-width: 27.8rem;
  font-size: 1.4rem;
}

.PC__btn {
  width: 100%;
  max-width: 28rem;
  margin: 0 auto;
  font-size: 1.6rem;
}

@media only screen and (max-width:768px) {
  .PC__btn {
    max-width: 100%;
  }
}

.Circle__btn {
  position: absolute;
  right: 4%;
  bottom: 4%;
  width: 7.2rem;
  height: 7.2rem;
  overflow: hidden;
  background-color: transparent;
  background-image: url(../../assets/img/common/CircleBtn.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  -webkit-transition: .3s;
  transition: .3s;
}

.Circle__btn:hover {
  background-image: url(../../assets/img/common/CircleBtn-hover.svg);
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .Circle__btn {
    right: 15px;
    bottom: calc(env(safe-area-inset-bottom) + 70px);
    width: 4.8rem;
    height: 4.8rem;
  }
}

.Circle__btn img {
  width: 4.8rem;
  height: 4.8rem;
}

.btn--regist {
  margin-top: 4rem;
}

.btn--regist__btn {
  margin-top: 1.5rem;
  color: #222222;
  background-color: #eeeeee;
  pointer-events: none;
}

.btn--regist .selected {
  color: #ffffff;
  background-color: #cb0015;
  pointer-events: auto;
}

.btn--sns {
  position: relative;
  width: 335px;
  height: 56px;
  max-width: 335px;
  margin-bottom: 1rem;
  color: #ffffff !important;
  font-size: 1.4rem;
  line-height: 56px;
  border-radius: 2.8rem;
  -webkit-transition: .3s;
  transition: .3s;
}

@media only screen and (max-width: 768px) {
  .btn--sns {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .btn--sns {
    font-size: 1rem;
  }
}

.btn--sns:before {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 52px;
  height: 52px;
  content: "";
  background-color: #ffffff;
  border-radius: 50%;
}

.btn--sns:after {
  position: absolute;
  content: "";
  background-position: center;
  background-size: cover;
}

.btn--sns--google {
  background-color: #ea4335;
}

.btn--sns--google:hover {
  background-color: #fa5445;
}

.btn--sns--google:after {
  top: 18px;
  left: 18px;
  width: 20px;
  height: 20px;
  background: url(../img/google.svg) no-repeat;
}

.btn--sns--facebook {
  background-color: #39569c;
}

.btn--sns--facebook:hover {
  background-color: #507ce0;
}

.btn--sns--facebook:after {
  top: 17px;
  left: 17px;
  width: 22px;
  height: 22px;
  background: url(../img/facebook.svg) no-repeat;
}

.btn--sns--twitter {
  background-color: #5aabf3;
}

.btn--sns--twitter:hover {
  background-color: #67b4f7;
}

.btn--sns--twitter:after {
  top: 18px;
  left: 16px;
  width: 24px;
  height: 19.5px;
  background: url(../img/twitter.svg) no-repeat;
}
