@charset "UTF-8";
@-webkit-keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}
@keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

@media only screen and (max-width: 768px) {
  .inner .flex {
    padding-top: 4.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .component__chat {
    padding: 0;
  }
}

.component__chat .content__wrap {
  padding: 5.6rem 5rem 13.5rem;
}

@media only screen and (max-width: 768px) {
  .component__chat .content__wrap {
    padding: 0 0;
  }
}

.a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: red;
}

.imgNormalFile {
  margin: 5px 0;
  cursor: pointer;
}

.imgNormalFile:hover {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  opacity: 0.6;
}

.imgAlbumFile {
  border: 1px solid red;
}

/*スクロールバー全体*/
ioncontent:-webkit-scrollbar {
  width: 3rem;
}

/*スクロールバーの軌道*/
ioncontent::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

/*スクロールバーの動く部分*/
ioncontent::-webkit-scrollbar-thumb {
  --background: red;
  border-radius: 0;
}

.MessageWrap {
  height: 45rem;
  --padding-bottom: 3rem;
  overflow-x: hidden;
  overflow-y: scroll;
  --background: $white;
  background-color: #ffffff;
}

.MessageWrap * {
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  .MessageWrap {
    height: calc(100vh - 4.5rem);
    --padding-bottom: 0;
  }
}

.MessageWrap .Message__inner {
  padding: 0;
  --background: $white;
  background-color: #ffffff;
}

.MessageWrap .Message__item {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 80%;
  overflow: visible;
  --background: $white;
  background-color: #ffffff;
  --border-color: $white;
  border-color: #ffffff;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --padding-end: 0;
  --padding-start: 0;
}

@media only screen and (max-width: 768px) {
  .MessageWrap .Message__item:last-child {
    margin-bottom: 3rem;
  }
}

.MessageWrap .Message__item * {
  overflow: visible;
  border-radius: 4px;
}

.MessageWrap .Message__item .Message__item__thum {
  width: 4.8rem;
  margin: 0;
  margin-right: 2.7rem;
}

.MessageWrap .Message__item .Message__item__thum img {
  display: none;
  width: 4.8rem;
  height: 4.8rem;
  min-width: 4.8rem;
  min-height: 4.8rem;
  border-radius: 50%;
}

.MessageWrap .Message__item .Message__item__thum figure {
  display: none;
  width: 4.8rem;
  height: 4.8rem;
  min-width: 4.8rem;
  min-height: 4.8rem;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.MessageWrap .Message__item .item-native {
  width: 100%;
  max-width: 100%;
  padding-left: 0;
  --padding-end: 0;
  -webkit-padding-end: 0;
  padding-inline-end: 0;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  --padding-start: 0;
}

.MessageWrap .Message__item .item-native .item-inner {
  width: 100%;
  max-width: 100%;
  padding-left: 0;
  --padding-end: 0;
  -webkit-padding-end: 0;
  padding-inline-end: 0;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  --padding-start: 0;
}

.MessageWrap .Message__item .item-native .input-wrapper {
  width: 100%;
  max-width: 100%;
}

.MessageWrap .Message__item .chat-bubble {
  position: relative;
  padding: 1.5rem 2rem;
  margin-top: 1rem;
  overflow: visible;
  color: #222222;
  font-size: 1.2rem;
  line-height: 1.8;
  word-wrap: break-all;
  word-break: break-all;
  background-color: #f8f8f8;
}

.MessageWrap .Message__item .chat-bubble:after {
  position: absolute;
  top: 0.6rem;
  right: 100%;
  display: none;
  width: 1.5rem;
  height: 0.9rem;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.MessageWrap .Message__item .chat-bubble img {
  display: block;
  width: 5rem;
}

.MessageWrap .Message__item--you .Message__item__thum img,
.MessageWrap .Message__item--you .Message__item__thum figure {
  display: inline-block;
}

.MessageWrap .Message__item--you .chat-bubble:after {
  display: inline-block;
  background-image: url(../img/common/triangle.svg);
}

.MessageWrap .Message__item--me {
  margin-right: 3rem;
  margin-left: auto;
}

.MessageWrap .Message__item--me .Message__item__thum {
  display: none;
}

.MessageWrap .Message__item--me img {
  margin-left: auto;
}

.MessageWrap .Message__item--me .chat-bubble {
  margin-left: auto;
}

.MessageWrap .Message__item--me .chat-bubble:after {
  display: none;
}

.MessageWrap .me--Arrow .chat-bubble:after {
  position: absolute;
  top: 1.3rem;
  left: 99%;
  display: inline-block;
  width: 1.4rem;
  height: 0.8rem;
  content: url(../img/common/triangle.svg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.MessageWrap .Message__item--offer .chat-bubble {
  border: 1px solid #cb0015;
}

.MessageWrap .Message__item--offer .chat-bubble:after {
  background-image: url(../img/message/triangle-offer-red.svg);
}

.MessageWrap .Message__item--offer .chat-bubble .offer__button {
  width: 100%;
  height: 3.1rem;
  margin-top: 1.5rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  background-color: #cb0015;
}

.MessageWrap .Message__item--offer .chat-bubble .offer__plan {
  display: inline-block;
  color: #cb0015;
  font-size: 1.4rem;
  font-weight: 600;
}

.MessageWrap .Message__item--canceled .chat-bubble {
  border: 1px solid #cccccc;
}

.MessageWrap .Message__item--canceled .chat-bubble:after {
  background-image: url(../img/message/triangle-offer-grey.svg);
}

.MessageWrap .Message__item--canceled .chat-bubble .offer__button {
  width: 100%;
  height: 3.1rem;
  margin-top: 1.5rem;
  color: #222222;
  font-size: 1rem;
  font-weight: 600;
  background-color: #cccccc;
}

.MessageWrap .Message__item--canceled .chat-bubble .offer__plan {
  display: inline-block;
  color: #222222;
  font-size: 1.4rem;
  font-weight: 600;
}

.MessageInput {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 15rem);
  padding: 1rem 2rem;
  margin: 0 5rem 4rem;
  margin-top: 3rem;
  overflow: visible;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 8px;
}

@media only screen and (max-width: 768px) {
  .MessageInput {
    position: fixed;
    bottom: 0;
    left: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 0.8rem 2.1rem 0.7rem;
    margin: 0;
    background-color: #f8f8f8;
    border: 0;
    border-top: 1px solid #cccccc;
    border-radius: 0;
  }
}

.MessageInput * {
  overflow: visible;
}

.MessageInput__inner {
  -webkit-flex-flow: wrap;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .MessageInput__inner {
    -webkit-flex-flow: nowrap;
    -ms-flex-flow: nowrap;
    flex-flow: nowrap;
  }
}

.MessageInput__inner__hamburger {
  position: relative;
  display: none;
  width: 1.6rem;
  margin: 0;
  margin-right: 2rem;
  vertical-align: middle;
}

@media only screen and (max-width: 768px) {
  .MessageInput__inner__hamburger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.MessageInput__inner__hamburger img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.MessageInput__inner__hamburger img:hover {
  cursor: pointer;
}

.MessageInput__inner__hamburger .hamburger--close {
  display: block;
}

.MessageInput__inner__text {
  width: 100%;
}

.MessageInput__inner__text label {
  display: none;
}

.MessageInput__inner__text .MuiInputBase-root {
  position: static;
  background-color: transparent !important;
}

.MessageInput__inner__text .MuiInputBase-root:before {
  display: none;
}

.MessageInput__inner__text .MuiInputBase-root:after {
  display: none;
}

.MessageInput__inner__text input {
  padding: 0.5rem 0 2.5rem;
  font-size: 1.4rem;
  background-color: #ffffff;
  border: none !important;
}

.MessageInput__inner__text input:placeholder {
  color: #cccccc;
  font-size: 1.4rem;
}

@media only screen and (max-width: 768px) {
  .MessageInput__inner__text input:placeholder {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .MessageInput__inner__text input {
    max-height: 2.4rem;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    border: 1px solid #cccccc !important;
    border-radius: 3rem;
  }
}

.MessageInput__inner__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.MessageInput__inner__menu label {
  display: inline-block;
  padding: 0;
  margin-right: 1rem;
}

.MessageInput__inner__menu label span {
  position: relative;
}

.MessageInput__inner__menu label span img {
  width: 3rem;
  height: 3rem;
}

.MessageInput__inner__menu label .MuiIconButton-label {
  position: relative;
}

.MessageInput__inner__menu label .MuiIconButton-label .menu__hover {
  position: absolute;
  bottom: calc(100% + 6px);
  left: 50%;
  display: inline-block;
  display: none;
  width: 6.6rem;
  height: 3rem;
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 3rem;
  background-color: #666666;
  border-radius: 0.4rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.MessageInput__inner__menu label .MuiIconButton-label .menu__hover:after {
  position: absolute;
  top: 99%;
  left: 50%;
  display: inline-block;
  width: 0.8rem;
  height: 0.6rem;
  content: "";
  background-image: url(../img/common/menu__downTriangle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.MessageInput__inner__menu label .MuiIconButton-label .menu__hover--fileupload {
  left: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.MessageInput__inner__menu
  label
  .MuiIconButton-label
  .menu__hover--fileupload:after {
  left: 1.1rem;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.MessageInput__inner__menu label .MuiIconButton-label .menu__hover--offer {
  width: 9.2rem;
}

.MessageInput__inner__button button {
  padding: 0;
}

.MessageInput__inner__button button span img {
  width: 3rem;
  height: 3rem;
}

@media only screen and (max-width: 768px) {
  .MessageInput__inner__button button span img {
    width: 2.4rem;
    height: 2.4rem;
  }
}

@media only screen and (max-width: 768px) {
  .MessageInput .MessageInputSP__menu {
    position: absolute;
    bottom: 100%;
    left: 0;
    display: none;
    width: 100%;
    height: 8.1rem;
    background-color: #f8f8f8;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
  }
  .MessageInput .MessageInputSP__menu__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  .MessageInput .MessageInputSP__menu__child {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 25%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .MessageInput .MessageInputSP__menu__child:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    opacity: 0.7;
  }
  .MessageInput .MessageInputSP__menu__child:nth-child(n + 2) {
    border-left: 1px solid #cccccc;
  }
  .MessageInput .MessageInputSP__menu__child label {
    padding: 0;
  }
  .MessageInput .MessageInputSP__menu__child .MessageInputSP__menu__child__img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    text-align: center;
  }
  .MessageInput
    .MessageInputSP__menu__child
    .MessageInputSP__menu__child__img__caption {
    color: #222222;
    font-size: 1rem;
    font-weight: 600;
  }
}

@media only screen and (max-width: 768px) {
  .chatlist__wrap {
    padding-top: 4rem;
  }
}

.chatlist__wrap__title {
  margin: 0;
  margin-bottom: 1.1rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.chatlist__wrap .chatlist__child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem 2.5rem;
  padding-right: 6rem;
  margin-bottom: 1rem;
  background-color: #f8f8f8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (max-width: 768px) {
  .chatlist__wrap .chatlist__child {
    padding: 1rem 1.5rem;
    padding-right: 6rem;
  }
}

.chatlist__wrap .chatlist__child:last-child {
  margin-bottom: 0;
}

.chatlist__wrap .chatlist__child:hover {
  background-color: #eeeeee;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.chatlist__wrap .chatlist__child:hover .message--long:after {
  background-color: #eeeeee;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.chatlist__wrap .chatlist__child__thum {
  width: 4.8rem;
  height: 4.8rem;
  min-width: 4.8rem;
  min-height: 4.8rem;
  margin: 0;
  margin-right: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

@media only screen and (max-width: 768px) {
  .chatlist__wrap .chatlist__child__thum {
    width: 4rem;
    height: 4rem;
    min-width: 4rem;
    min-height: 4rem;
    margin-right: 1rem;
  }
}

.chatlist__wrap .chatlist__child__desc__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.chatlist__wrap .chatlist__child__desc__top--name {
  margin: 0;
  margin-right: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .chatlist__wrap .chatlist__child__desc__top--name {
    font-size: 1.2rem;
  }
}

.chatlist__wrap .chatlist__child__desc__top--status {
  width: 3.9rem;
  height: 1.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6rem;
  text-align: center;
  border: 1px solid transparent;
}

.chatlist__wrap .chatlist__child__desc__top .status--recruiting {
  color: #cb0015;
  background-color: #ffffff;
  border-color: #cb0015;
}

.chatlist__wrap .chatlist__child__desc__top .status--managing {
  color: #ffffff;
  background-color: #003686;
  border-color: #003686;
}

.chatlist__wrap .chatlist__child__desc__top .status--applying {
  color: #ffffff;
  background-color: #cb0015;
  border-color: #cb0015;
}

.chatlist__wrap .chatlist__child__desc--message {
  position: relative;
  padding-right: 1.7em;
  overflow: hidden;
  font-size: 1.2rem;
  font-weight: 300;
  white-space: nowrap;
}

@media only screen and (max-width: 768px) {
  .chatlist__wrap .chatlist__child__desc--message {
    font-size: 1rem;
  }
}

.chatlist__wrap .chatlist__child__desc .message--long:after {
  position: absolute;
  top: 0;
  right: -0.2rem;
  display: inline-block;
  width: 2.3rem;
  height: 100%;
  content: "•••";
  background-color: #f8f8f8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.chatlist__wrap .chatlist__child--notification {
  position: absolute;
  top: 50%;
  right: 2.5rem;
  width: 2rem;
  height: 2rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  line-height: 2rem;
  text-align: center;
  background-color: #cb0015;
  border-radius: 50%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

@media only screen and (max-width: 768px) {
  .chatlist__wrap .chatlist__child--notification {
    right: 0.7rem;
  }
}

input[type="checkbox"]:checked + .album__link__checkbox {
  width: 20px;
  height: 20px;
  background-color: #cb0015 !important;
  border: none;
}

input[type="checkbox"]:checked + .album__link__checkbox:after {
  display: inline-block;
}

input[type="checkbox"] {
  position: relative;
  display: none;
}

.album {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  max-height: 550px;
  padding-top: 3rem;
  overflow-y: scroll;
}

@media only screen and (max-width: 768px) {
  .album {
    max-height: 100vh;
  }
}

@media only screen and (max-width: 768px) {
  .album__wrap {
    padding-top: 0;
  }
}

.album__text {
  margin-right: auto;
  margin-left: 5rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.album__button__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  z-index: 1;
  width: 100%;
  height: 55px;
  background-color: #ffffff;
  border-bottom: 1px #707070 solid;
}

@media only screen and (max-width: 768px) {
  .album__button__wrap {
    background-color: transparent;
    border-bottom: none;
  }
}

.album__button__cancel,
.album__button__delete,
.album__button__select,
.album__button__save {
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 17px;
}

.album__button__select {
  margin-right: 5rem;
  color: #222222;
  background-color: #f8f8f8;
}

.album__button__cancel {
  margin-right: 1rem;
  color: #222222;
  background-color: #f8f8f8;
}

.album__button__delete {
  margin-right: 5rem;
  color: #ffffff;
  background-color: #999999;
}

.album__button__save {
  margin-right: 1rem;
  color: #ffffff;
  background-color: red;
}

.album__link {
  position: relative;
  width: 13.888%;
  padding-top: 13.888%;
  margin-right: 3.3344%;
  margin-bottom: 3.3344%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .album__link {
    width: 31.3433%;
    padding-top: 31.3433%;
    margin-right: 2.98507475%;
    margin-bottom: 2.98507475%;
  }
}

@media only screen and (max-width: 768px) {
  .album__link:nth-of-type(3n) {
    margin-right: 0;
  }
}

.album__link:nth-of-type(6n) {
  margin-right: 0;
}

.album__link:hover {
  opacity: 0.8;
}

.album__link__checkbox {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 19px;
  height: 19px;
  background-color: rgba(248, 248, 248, 0.8);
  border: 1px #707070 solid;
  border-radius: 50%;
}

.album__link__checkbox:after {
  position: absolute;
  right: 30%;
  bottom: 30%;
  display: none;
  width: 10px;
  height: 6.5px;
  content: "";
  background: url(../img/album__link__checkbox.svg) no-repeat;
}

.album__link__checkbox--areaspread {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}
