@-webkit-keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

@keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

.inner {
  max-width: calc(1024px + 1.6rem);
  padding-right: 1.6em;
  padding-left: 1.6em;
  margin: 0 auto;
}

.inner.-wide {
  max-width: calc(1200px + 1.6rem);
}

@media only screen and (max-width: 768px) {
  .-pc-only {
    display: none;
  }
}

.-sp-only {
  display: none;
}

@media only screen and (max-width: 768px) {
  .-sp-only {
    display: inline-block;
  }
}

.button__type1 {
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 170px;
  padding: 1rem 0.8rem;
  color: #ffffff;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 6.4rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "TsukuARdGothic-Regular", "Kiwi Maru", sans-serif;
}

.button__type1::before, .button__type1::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: "";
  border-radius: 6.4rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button__type1::before {
  z-index: -2;
  width: 100%;
  height: 100%;
  background-color: rgba(216, 122, 123, 0.6);
}

.button__type1::after {
  z-index: -1;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  background: #C5282A;
}

.button__type1:hover {
  cursor: pointer;
}

.button__type1:hover::before, .button__type1:hover::after {
  padding: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button__type1.-white {
  color: #222222;
}

.button__type1.-white::after {
  background: #ffffff;
}

.button__type1.-white::before {
  background: rgba(224, 226, 217, 0.6);
}

.modal__wrap__all {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10000;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(65, 66, 78, 0.8);
}

.modal__wrap__all:hover {
  cursor: pointer;
}

.modal__wrap__all .modal__contentScroll {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  padding: 4.8rem;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media only screen and (max-width: 768px) {
  .modal__wrap__all .modal__contentScroll {
    padding: 1.6rem;
  }
}

.modal__wrap__all .modal__contentScroll::-webkit-scrollbar {
  display: none;
}

.modal__wrap__all .modal__content__inner {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  max-width: 1024px;
  max-height: 663px;
}

.modal__wrap__all .modal__content__inner:hover {
  cursor: default;
}

.modal__wrap__all .modal__content__inner .modal__content {
  display: none;
  padding: 40px 72px;
  background-color: #ffffff;
  border-radius: 8px;
}

@media only screen and (max-width: 768px) {
  .modal__wrap__all .modal__content__inner .modal__content {
    padding: 1.6rem;
  }
}

.modal__wrap__all .modal__content__inner .modal__content .modal__content__image {
  width: 100%;
  padding-bottom: 56%;
  margin-bottom: 2.4rem;
  background-color: #cccccc;
}

@media only screen and (max-width: 768px) {
  .modal__wrap__all .modal__content__inner .modal__content .modal__content__image {
    margin-bottom: 3.2rem;
  }
}

.modal__wrap__all .modal__content__inner .button__type1 {
  z-index: 1;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .modal__wrap__all .modal__content__inner .button__type1 {
    width: auto;
  }
}

.pagination-active {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pagination_js_wrap {
  position: fixed;
  top: 45.5%;
  left: 4.6rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 25.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
}

@media only screen and (max-width: 768px) {
  .pagination_js_wrap {
    left: 1.6rem;
  }
}

.pagination_js_wrap .pagination_js_child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.6rem;
}

.pagination_js_wrap .pagination_js_child .pagination_js_child-dot {
  position: relative;
  display: inline-block;
  width: 1.6rem;
  height: 100%;
}

.pagination_js_wrap .pagination_js_child .pagination_js_child-dot:before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 12px;
  height: 12px;
  content: "";
  background-color: #cccccc;
  border-radius: 1px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pagination_js_wrap .pagination_js_child .dot-active {
  background-color: rgba(197, 40, 42, 0.6);
}

.pagination_js_wrap .pagination_js_child .dot-active:before {
  content: "";
  background-color: #c5282a;
  border-radius: 1px;
}

.pagination_js_wrap.-active {
  opacity: 1;
  pointer-events: auto;
}

.pagination_js_wrap-white {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
