.fade-type-scale {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.fade-scale {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.fade-elem {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
}

.fade-elem:last-of-type {
  margin-bottom: 0;
}

.fade-elem:nth-of-type(2) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.fade-elem:nth-of-type(3) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.fade-elem:nth-of-type(4) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.fade-elem:nth-of-type(5) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.fade-elem:nth-of-type(6) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.fade-elem:nth-of-type(7) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.fade-up {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.fade-type-up,
.fade-type-down,
.fade-type-left,
.fade-type-right,
.fade-elem {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0;
}

.fade-type-up,
.fade-elem {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.fade-type-down {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.fade-type-left {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.fade-type-right {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.fade-elem:nth-of-type(2) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.fade-elem:nth-of-type(3) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.fade-elem:nth-of-type(4) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.fade-elem:nth-of-type(5) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.fade-elem:nth-of-type(6) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.fade-elem:nth-of-type(7) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.fade-up-down {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.fade-left-right {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
