@-webkit-keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

@keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

.identification__heading {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 28.8px;
}

.identification__title {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.identification__disctext {
  color: #999999;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.8;
}

.identification__input {
  display: inline-block;
  min-width: 160px;
  padding: 1rem 1.2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  border: 1px #222222 solid;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.identification__input__name {
  display: block;
  width: 250px;
  margin-top: .4rem;
  margin-bottom: 1rem;
  overflow: hidden;
  font-size: 1.2rem;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.identification__input:hover {
  color: #ffffff;
  background-color: #222222;
}

.identification__input + input {
  display: none;
}
