@charset "UTF-8";
@-webkit-keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}
@keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

@font-face {
  font-family: "honoka";
  src: url("../font/font_1_honokamarugo_1.1.eot?") format("oldIE"), url("../font/font_1_honokamarugo_1.1.woff") format("woff"), url("../font/font_1_honokamarugo_1.1.ttf") format("truetype");
}

html {
  position: relative;
  z-index: 0;
  font-size: 62.5%;
}

body {
  font-family: "TsukuARdGothic-Regular", "honoka", sans-serif;
  position: relative;
  z-index: -999;
  margin: 0;
  color: #222222;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .04em;
}

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  -webkit-transition: all .3s;
  transition: all .3s;
}

.l-header .l-header__flex {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1.6rem 2.51rem 1.6rem 3.45rem;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .l-header .l-header__flex {
    padding: 2rem;
  }
}

.l-header .l-header__flex .l-header__flex__link {
  cursor: pointer;
}

.l-header .l-header__flex .l-header__flex__link:hover {
  opacity: .8;
}

.l-header .l-header__flex .l-header__flex__img {
  width: 201.43px;
  height: 36.85px;
  padding-top: 13.6px;
}

.l-header .l-header__flex .l-header__flex__img * {
  -webkit-transition: all .3s;
  transition: all .3s;
  fill: #ffffff;
}

@media only screen and (max-width: 768px) {
  .l-header .l-header__flex .l-header__flex__img {
    width: 140px;
    height: 25.61px;
    padding-top: 0;
  }
}

.l-header .l-header__flex .l-header__flex__img.-red * {
  -webkit-transition: all .3s;
  transition: all .3s;
  fill: #C5282A;
}

.l-header .l-header__flex .l-header__flex__button {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 42rem;
}

.l-header .l-header__flex .l-header__flex__button .l-header__flex__button__login {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 4.3rem;
  color: #000000;
  font-size: 2rem;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .l-header .l-header__flex .l-header__flex__button .l-header__flex__button__login {
    margin-right: 0;
    color: #ffffff;
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .l-header .l-header__flex .l-header__flex__button .button__type1.-pc-only {
    display: none;
  }
}

.l-header.-active {
  background: #ffffff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media only screen and (max-width: 768px) {
  .l-header.-active .l-header__flex .l-header__flex__button .l-header__flex__button__login {
    color: #000000;
  }
}

.l-footer {
  position: relative;
  z-index: 160;
  background: #41424E;
}

@media only screen and (max-width: 768px) {
  .l-footer {
    margin-bottom: 6.3rem;
  }
}

.l-footer .l-footer__flex {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 4rem 12rem 8rem;
}

@media only screen and (max-width: 768px) {
  .l-footer .l-footer__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 54.8px 0 0;
  }
}

.l-footer .l-footer__flex .l-footer__flex__img {
  width: 201px;
  height: 36.85px;
  cursor: pointer;
}

.l-footer .l-footer__flex .l-footer__flex__img:hover {
  opacity: .8;
}

@media only screen and (max-width: 768px) {
  .l-footer .l-footer__flex .l-footer__flex__img {
    margin: 0 auto 34.5px;
  }
}

.l-footer .l-footer__flex .l-footer__flex__links__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .l-footer .l-footer__flex .l-footer__flex__links__link {
    margin: 0 auto 2.4rem;
  }
}

.l-footer .l-footer__flex .l-footer__flex__links__link .l-footer__flex__links__link__a {
  margin-right: 4.8rem;
  list-style-type: none;
}

.l-footer .l-footer__flex .l-footer__flex__links__link .l-footer__flex__links__link__a:hover {
  opacity: .8;
}

@media only screen and (max-width: 768px) {
  .l-footer .l-footer__flex .l-footer__flex__links__link .l-footer__flex__links__link__a {
    margin-right: 2.4rem;
  }
}

.l-footer .l-footer__flex .l-footer__flex__links__link .l-footer__flex__links__link__a:last-child {
  margin-right: 0;
}

.l-footer .l-footer__flex .l-footer__flex__links__link .l-footer__flex__links__link__a a {
  font-family: "ヒラギノ角ゴシック", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "ヒラギノ角ゴ StdN", "Hiragino Kaku Gothic StdN", sans-serif;
  color: #ffffff;
  font-size: 1.4rem;
  letter-spacing: .04em;
  text-decoration: none;
}

.l-footer .l-footer__flex .l-footer__flex__links__link .l-footer__flex__links__link__a a.-blank::after {
  display: inline-block;
  width: 1em;
  height: .9em;
  margin-left: .4em;
  content: "";
  background-image: url(../img/top/icon-blank-white-1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.l-footer .l-footer__copyright {
  padding: 0 0 40px 120px;
  margin: 0;
  color: #ffffff;
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  .l-footer .l-footer__copyright {
    padding: 0 0 39px;
    text-align: center;
  }
}

.l-footer__border {
  height: 6px;
  background: #C5282A;
}

.l-footer__border--op {
  opacity: .6;
}

.sp__footer__link {
  font-family: "ヒラギノ角ゴシック", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "ヒラギノ角ゴ StdN", "Hiragino Kaku Gothic StdN", sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 300;
  display: none;
  width: 100%;
  padding: 2rem .8rem;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: .08em;
  text-align: center;
  background-color: #41424E;
}

.sp__footer__link::before {
  position: absolute;
  bottom: 100%;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 8px;
  content: "";
  background-color: rgba(65, 66, 78, 0.6);
}

.p-privacy__bg {
  position: relative;
  z-index: -10;
  background-color: #f3f3f4;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(66.66667%, #f8f8f8), color-stop(33.33333%, transparent));
  background-image: -webkit-linear-gradient(right, #f8f8f8 66.66667%, transparent 33.33333%);
  background-image: linear-gradient(-90deg, #f8f8f8 66.66667%, transparent 33.33333%);
  background-size: 12px 12px;
}

.p-privacy__container {
  max-width: 1024px;
  padding: 13.5rem 12rem;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .p-privacy__container {
    padding: 11rem 1.5rem 12rem 1.7rem;
  }
}

.p-privacy__container .p-privacy__container__title {
  color: #000000;
  font-size: 4.8rem;
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .p-privacy__container .p-privacy__container__title {
    font-size: 3.2rem;
  }
}

.p-privacy__container .p-privacy__container__text {
  font-size: 1.6rem;
  line-height: calc(32 / 16);
}

@media only screen and (max-width: 768px) {
  .p-privacy__container .p-privacy__container__text {
    font-size: 1.4rem;
  }
}

.p-privacy__container .p-privacy__container__text--mt {
  margin-top: 20px;
}

.p-privacy__container .p-privacy__container__text--pl {
  padding-left: 20px;
}

.p-privacy__container .p-privacy__container__text--sub {
  margin-bottom: 4px;
  font-size: 1.4rem;
  line-height: calc(28 / 14);
}

@media only screen and (max-width: 768px) {
  .p-privacy__container .p-privacy__container__text--sub {
    margin-bottom: 5px;
    font-size: 1.2rem;
  }
}

.p-privacy__container .p-privacy__container__wrap {
  padding: 48px 80px 40px;
  margin-top: 60px;
  color: #222222;
  font-family: "ヒラギノ角ゴシック";
  background: #ffffff;
}

@media only screen and (max-width: 768px) {
  .p-privacy__container .p-privacy__container__wrap {
    padding: 32px 24px 22px;
    margin-top: 33px;
  }
}

.p-privacy__container .p-privacy__container__wrap .p-privacy__container__wrap__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 51px;
}

.p-privacy__container .p-privacy__container__wrap .p-privacy__container__wrap__title img {
  width: 16px;
  height: 16px;
  padding-top: .7rem;
}

@media only screen and (max-width: 768px) {
  .p-privacy__container .p-privacy__container__wrap .p-privacy__container__wrap__title img {
    padding-top: .6rem;
  }
}

.p-privacy__container .p-privacy__container__wrap .p-privacy__container__wrap__title .p-privacy__container__wrap__title__h3 {
  margin: 0 0 0 10px;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.5;
}

@media only screen and (max-width: 768px) {
  .p-privacy__container .p-privacy__container__wrap .p-privacy__container__wrap__title .p-privacy__container__wrap__title__h3 {
    font-size: 1.8rem;
  }
}

.p-privacy__container .p-privacy__container__contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  line-height: calc(24 / 12);
}

@media only screen and (max-width: 768px) {
  .p-privacy__container .p-privacy__container__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-privacy__container .p-privacy__container__contact ul {
  padding-left: 0;
  list-style-type: none;
}

.p-privacy__container .p-privacy__container__contact .p-privacy__container__contact__items {
  width: 120px;
}

.p-privacy__container .p-privacy__container__btn {
  width: auto;
  max-width: 260px;
  margin: 48px auto 0;
}

.p-top__mv__bottom__title {
  font-family: "ヒラギノ角ゴシック", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "ヒラギノ角ゴ StdN", "Hiragino Kaku Gothic StdN", sans-serif;
  margin-top: 2.4rem;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 3px #222222;
}

@media only screen and (max-width: 768px) {
  .p-top__mv__bottom__title {
    position: absolute;
    right: 50%;
    bottom: 160px;
    width: 100%;
    font-size: 1.2rem;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

.p-top__mv {
  position: relative;
  z-index: 160;
  min-height: 900px;
  background-image: url(../img/top/mv.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

@media screen and (min-width: 1600px) {
  .p-top__mv {
    height: 60vw;
  }
}

@media screen and (max-width: 1060px) {
  .p-top__mv {
    min-height: 842px;
    background-position: 41% center;
  }
}

@media only screen and (max-width: 768px) {
  .p-top__mv {
    min-height: 842px;
    overflow: hidden;
    background-image: url(../img/top/mv-sp.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media only screen and (max-width: 768px) and (-ms-high-contrast: active) {
  .p-top__mv::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: inline-block;
    width: 100%;
    height: 100%;
    content: "";
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.12)), to(rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0));
    background: linear-gradient(rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0));
  }
}

@media screen and (max-width: 480px) {
  .p-top__mv {
    height: 100vh;
    min-height: 0;
    background-image: url(../img/top/mv-sp.png);
    background-position: center -50px;
  }
}

.p-top__mv--btn {
  color: #ffffff;
  background: #C5282A;
}

.p-top__mv .p-top__mv__wrapper {
  max-width: 618px;
  padding-top: 18rem;
  padding-bottom: 4.2rem;
  margin-right: 13%;
  margin-left: auto;
}

@media screen and (min-width: 1920px) {
  .p-top__mv .p-top__mv__wrapper {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@media screen and (min-width: 2200px) {
  .p-top__mv .p-top__mv__wrapper {
    padding-top: 11%;
    padding-bottom: 4.2rem;
    margin-right: 23%;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@media screen and (max-width: 1060px) {
  .p-top__mv .p-top__mv__wrapper {
    margin-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .p-top__mv .p-top__mv__wrapper {
    padding-top: 8.2rem;
    padding-bottom: 0;
    margin: 0 auto;
  }
}

.p-top__mv .p-top__mv__wrapper .p-top__mv__wrapper__red {
  font-family: "ヒラギノ角ゴシック", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "ヒラギノ角ゴ StdN", "Hiragino Kaku Gothic StdN", sans-serif;
  max-width: 338px;
  padding: .8rem 0;
  margin: 0 auto 1.4rem;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: .1em;
  text-align: center;
  background: #C5282A;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .p-top__mv .p-top__mv__wrapper .p-top__mv__wrapper__red {
    max-width: 240px;
    margin: 0 auto 1.2rem;
    font-size: 1.4rem;
  }
}

.p-top__mv .p-top__mv__wrapper .p-top__mv__wrapper__title {
  font-family: "TsukuARdGothic-Regular", "honoka", sans-serif;
  margin-top: 0;
  margin-bottom: 2.6rem;
  font-size: 4.8rem;
  font-weight: bold;
  line-height: calc(67.2 / 48);
  letter-spacing: .04em;
  text-align: center;
  white-space: nowrap;
  -webkit-filter: drop-shadow(0px 0px 16px rgba(255, 255, 255, 0.6));
          filter: drop-shadow(0px 0px 16px rgba(255, 255, 255, 0.6));
}

@media screen and (max-width: 1060px) {
  .p-top__mv .p-top__mv__wrapper .p-top__mv__wrapper__title {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .p-top__mv .p-top__mv__wrapper .p-top__mv__wrapper__title {
    font-size: 2.4rem;
    line-height: calc(33.6 / 24);
  }
}

.p-top__mv .p-top__mv__wrapper .p-top__mv__wrapper__title--fz {
  display: block;
  font-size: 6.4rem;
  font-weight: bold;
}

@media screen and (max-width: 1060px) {
  .p-top__mv .p-top__mv__wrapper .p-top__mv__wrapper__title--fz {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 768px) {
  .p-top__mv .p-top__mv__wrapper .p-top__mv__wrapper__title--fz {
    font-size: 4rem;
  }
}

.p-top__mv .p-top__mv__wrapper .p-top__mv__wrapper__flex {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 596px;
  margin: 0 auto;
}

@media screen and (max-width: 1060px) {
  .p-top__mv .p-top__mv__wrapper .p-top__mv__wrapper__flex {
    max-width: 460px;
  }
}

@media only screen and (max-width: 768px) {
  .p-top__mv .p-top__mv__wrapper .p-top__mv__wrapper__flex {
    position: absolute;
    position: absolute;
    bottom: 184px;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.p-top__mv .p-top__mv__wrapper .p-top__mv__wrapper__flex .p-top__mv__wrapper__flex__img {
  width: calc(99% / 3);
  height: 180px;
}

@media screen and (max-width: 1060px) {
  .p-top__mv .p-top__mv__wrapper .p-top__mv__wrapper__flex .p-top__mv__wrapper__flex__img {
    width: 140px;
    height: 140px;
  }
}

@media only screen and (max-width: 768px) {
  .p-top__mv .p-top__mv__wrapper .p-top__mv__wrapper__flex .p-top__mv__wrapper__flex__img {
    width: calc(99% / 3);
    height: auto;
  }
}

.p-top__mv .p-top__mv__wrapper__bottom {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 188px;
  background-image: url(../img/top/mv-bottom.png);
}

@media only screen and (max-width: 768px) {
  .p-top__mv .p-top__mv__wrapper__bottom {
    height: 160px;
    min-height: 0;
    background-image: url(../img/top/mv-bottom.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
}

.p-top__mv .p-top__mv__wrapper__bottom .p-top__mv__wrapper__bottom__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 880px;
  padding-bottom: 3.7rem;
  margin: 4rem auto 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
  .p-top__mv .p-top__mv__wrapper__bottom .p-top__mv__wrapper__bottom__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 1.6rem;
    margin: .5rem auto 0;
    text-align: center;
  }
}

.p-top__mv .p-top__mv__wrapper__bottom .p-top__mv__wrapper__bottom__wrapper .p-top__mv__wrapper__bottom__wrapper__txt {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 350px;
  color: #ffffff;
  font-family: "HiraginoSans-W3";
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: .08em;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .p-top__mv .p-top__mv__wrapper__bottom .p-top__mv__wrapper__bottom__wrapper .p-top__mv__wrapper__bottom__wrapper__txt {
    min-width: 0;
    margin: 17px auto;
    font-size: 2rem;
  }
}

.p-top__mv .p-top__mv__wrapper__bottom .p-top__mv__wrapper__bottom__wrapper .p-top__mv__wrapper__bottom__wrapper__icons {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
  .p-top__mv .p-top__mv__wrapper__bottom .p-top__mv__wrapper__bottom__wrapper .p-top__mv__wrapper__bottom__wrapper__icons {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: auto;
    margin: 0 auto;
  }
}

.p-top__mv .p-top__mv__wrapper__bottom .p-top__mv__wrapper__bottom__wrapper .p-top__mv__wrapper__bottom__wrapper__icons > a {
  display: block;
  width: 100%;
  max-width: 243px;
  -webkit-transition: .3s;
  transition: .3s;
}

.p-top__mv .p-top__mv__wrapper__bottom .p-top__mv__wrapper__bottom__wrapper .p-top__mv__wrapper__bottom__wrapper__icons > a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  opacity: .8;
}

.p-top__mv .p-top__mv__wrapper__bottom .p-top__mv__wrapper__bottom__wrapper .p-top__mv__wrapper__bottom__wrapper__icons > a + a {
  max-width: 193px;
  margin-left: 1.6rem;
}

@media only screen and (max-width: 768px) {
  .p-top__mv .p-top__mv__wrapper__bottom .p-top__mv__wrapper__bottom__wrapper .p-top__mv__wrapper__bottom__wrapper__icons > a + a {
    max-width: 130px;
    margin-left: 1.2rem;
  }
}

.p-top__mv .p-top__mv__wrapper__bottom .p-top__mv__wrapper__bottom__wrapper .p-top__mv__wrapper__bottom__wrapper__icons > a .p-top__mv__wrapper__bottom__wrapper__img {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

@media only screen and (max-width: 768px) {
  .p-top__mv .p-top__mv__wrapper__bottom .p-top__mv__wrapper__bottom__wrapper .p-top__mv__wrapper__bottom__wrapper__icons > a .p-top__mv__wrapper__bottom__wrapper__img {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .p-top__mv .p-top__mv__wrapper__bottom .p-top__mv__wrapper__bottom__wrapper .p-top__mv__wrapper__bottom__wrapper__icons > a .p-top__mv__wrapper__bottom__wrapper__img.-google {
    max-width: 162px;
  }
}

.p-top__about__bg {
  position: relative;
  z-index: 160;
  background-color: #f3f3f4;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(66.66667%, #f8f8f8), color-stop(33.33333%, transparent));
  background-image: -webkit-linear-gradient(right, #f8f8f8 66.66667%, transparent 33.33333%);
  background-image: linear-gradient(-90deg, #f8f8f8 66.66667%, transparent 33.33333%);
  background-size: 12px 12px;
}

.p-top__about__bg .p-top__about__container {
  position: relative;
  padding-top: 11rem;
}

@media only screen and (max-width: 768px) {
  .p-top__about__bg .p-top__about__container {
    padding-top: 6rem;
  }
}

.p-top__about__bg .p-top__about__container .p-top__about__container__title {
  font-family: "TsukuARdGothic-Regular", "honoka", sans-serif;
  margin: 0;
  margin-bottom: 4rem;
  font-size: 6rem;
  font-weight: bold;
  line-height: 1.38;
  letter-spacing: .04em;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .p-top__about__bg .p-top__about__container .p-top__about__container__title {
    margin-bottom: 2.2rem;
    font-size: 3.6rem;
  }
}

.p-top__about__bg .p-top__about__container .p-top__about__container__text {
  font-family: "ヒラギノ角ゴシック", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "ヒラギノ角ゴ StdN", "Hiragino Kaku Gothic StdN", sans-serif;
  max-width: 720px;
  margin: 0 auto 6.4rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.5;
  letter-spacing: .04em;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .p-top__about__bg .p-top__about__container .p-top__about__container__text {
    margin: 0 auto 5.2rem;
    font-size: 1.6rem;
    text-align: left;
    text-align: justify;
    text-justify: inter-ideograph;
  }
}

@media only screen and (max-width: 768px) {
  .p-top__about__bg .p-top__about__container .p-top__about__contents.-pc-only {
    display: none;
  }
}

.p-top__about__bg .p-top__about__container .p-top__about__contents.-sp-only {
  display: none;
}

@media only screen and (max-width: 768px) {
  .p-top__about__bg .p-top__about__container .p-top__about__contents.-sp-only {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
}

.p-top__about__bg .p-top__about__container .p-top__about__contents .p-top__about__childTitle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 4.4em;
  margin-bottom: 4.4rem;
}

@media only screen and (max-width: 768px) {
  .p-top__about__bg .p-top__about__container .p-top__about__contents .p-top__about__childTitle {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 1.8rem;
    margin-bottom: 0rem;
  }
}

.p-top__about__bg .p-top__about__container .p-top__about__contents .p-top__about__childTitle .p-top__about__number {
  height: 56px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .p-top__about__bg .p-top__about__container .p-top__about__contents .p-top__about__childTitle .p-top__about__number {
    height: 40px;
  }
}

.p-top__about__bg .p-top__about__container .p-top__about__contents .p-top__about__childTitle .p-top__about__number img {
  height: 100%;
  vertical-align: middle;
}

.p-top__about__bg .p-top__about__container .p-top__about__contents .p-top__about__childTitle .p-top__about__text {
  font-family: "TsukuARdGothic-Regular", "honoka", sans-serif;
  margin-top: 2.4rem;
  margin-left: 1.86rem;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.4;
}

@media only screen and (max-width: 768px) {
  .p-top__about__bg .p-top__about__container .p-top__about__contents .p-top__about__childTitle .p-top__about__text {
    margin-top: 1.2rem;
    margin-left: 1.6rem;
    font-size: 2.4rem;
  }
}

.p-top__about__bg .p-top__about__container .p-top__about__contents .p-top__about__childTitle .p-top__about__text .-yellow-highlight {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #e4e1a6));
  background: -webkit-linear-gradient(transparent 60%, #e4e1a6 60%);
  background: linear-gradient(transparent 60%, #e4e1a6 60%);
}

.p-top__about__bg .p-top__about__container .p-top__about__contents .p-top__about__row {
  position: relative;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.p-top__about__bg .p-top__about__container .p-top__about__contents .p-top__about__row > * {
  width: 33%;
  margin-bottom: -1px;
}

.p-top__about__bg .p-top__about__container .p-top__about__contents .p-top__about__row img {
  max-width: 100%;
  vertical-align: bottom;
}

.p-top__about__bg .p-top__about__container .p-top__about__contents .p-top__about__row.-title {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-top__about__bg .p-top__about__container .p-top__about__contents .p-top__about__row.-title .p-top__about__childTitle {
  width: auto;
}

.p-top__about__bg .p-top__about__container .p-top__about__contents .p-top__about__row.-textbox {
  position: absolute;
  bottom: 32px;
  left: 0;
  z-index: 3;
  width: 100%;
}

.p-top__about__bg .p-top__about__container .p-top__about__contents .p-top__about__row.-textbox > img {
  width: calc(90% / 3);
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .p-top__about__bg .p-top__about__container .p-top__about__contents .p-top__about__child {
    position: relative;
    z-index: 1;
    margin-bottom: 7rem;
  }
  .p-top__about__bg .p-top__about__container .p-top__about__contents .p-top__about__child:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 768px) {
  .p-top__about__bg .p-top__about__container .p-top__about__contents .p-top__about__child .p-top__about__childPhone {
    position: relative;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: calc(100% - 32px);
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  .p-top__about__bg .p-top__about__container .p-top__about__contents .p-top__about__child .p-top__about__childPhone .p-top__about__phoneImg {
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .p-top__about__bg .p-top__about__container .p-top__about__contents .p-top__about__child .p-top__about__childPhone .p-top__about__textBoxImg {
    position: absolute;
    bottom: 18px;
    left: 50%;
    display: inline-block;
    width: 100%;
    max-width: 360px;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
}

.p-top__about__bg .p-top__about__bottomBg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  padding-top: 18.7%;
  background-image: url(../img/top/about-bottom.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

@media screen and (min-width: 1600px) {
  .p-top__about__bg .p-top__about__bottomBg {
    padding-top: 400px;
  }
}

@media only screen and (max-width: 768px) {
  .p-top__about__bg .p-top__about__bottomBg {
    bottom: -1px;
    padding-top: 48%;
    background-image: url(../img/top/mv-bottom.svg);
    background-position: bottom;
  }
}

.p-top__app__bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 200;
  padding: 6.2rem 0;
  background-image: url(../img/top/app-bg.png);
}

@media only screen and (max-width: 768px) {
  .p-top__app__bg {
    padding: 7.6rem 0 6rem;
  }
}

.p-top__app__bg .p-top__app__flex {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1132px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .p-top__app__bg .p-top__app__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.p-top__app__bg .p-top__app__flex .p-top__app__img {
  width: 100%;
  max-width: 400px;
  margin-right: 4rem;
}

@media only screen and (max-width: 768px) {
  .p-top__app__bg .p-top__app__flex .p-top__app__img {
    width: 100%;
    max-width: 311px;
    margin: 0 auto 2.8rem;
  }
}

.p-top__app__bg .p-top__app__flex .p-top__app__img > img {
  width: 100%;
}

.p-top__app__bg .p-top__app__flex .p-top__app__description {
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  .p-top__app__bg .p-top__app__flex .p-top__app__description {
    padding: 0;
  }
}

.p-top__app__bg .p-top__app__flex .p-top__app__description .p-top__app__sm {
  font-family: "Comfortaa";
  color: #C5282A;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: .08em;
}

@media only screen and (max-width: 768px) {
  .p-top__app__bg .p-top__app__flex .p-top__app__description .p-top__app__sm {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    letter-spacing: 0;
    text-align: center;
  }
}

.p-top__app__bg .p-top__app__flex .p-top__app__description .p-top__app__title {
  font-family: "TsukuARdGothic-Regular", "honoka", sans-serif;
  margin-bottom: 4rem;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.625;
  letter-spacing: .04em;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

@media only screen and (max-width: 768px) {
  .p-top__app__bg .p-top__app__flex .p-top__app__description .p-top__app__title {
    margin-bottom: 2rem;
    font-size: 3.6rem;
    line-height: 1.5;
    text-align: center;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.p-top__app__bg .p-top__app__flex .p-top__app__description .p-top__app__text {
  font-family: "ヒラギノ角ゴシック", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "ヒラギノ角ゴ StdN", "Hiragino Kaku Gothic StdN", sans-serif;
  max-width: 585px;
  margin-bottom: 3rem;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.2;
  letter-spacing: .04em;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .p-top__app__bg .p-top__app__flex .p-top__app__description .p-top__app__text {
    font-size: 1.6rem;
    line-height: 2.5;
  }
}

.p-top__app__bg .p-top__app__flex .p-top__app__description .p-top__app__box {
  max-width: 640px;
  padding: 2.4rem 2rem 1.2rem;
  background: #ffffff;
}

@media only screen and (max-width: 768px) {
  .p-top__app__bg .p-top__app__flex .p-top__app__description .p-top__app__box {
    padding: 2.4rem;
    margin-bottom: .8rem;
  }
}

.p-top__app__bg .p-top__app__flex .p-top__app__description .p-top__app__box .p-top__app__boxTxt {
  font-family: "ヒラギノ角ゴシック", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "ヒラギノ角ゴ StdN", "Hiragino Kaku Gothic StdN", sans-serif;
  margin-bottom: 1.4rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .p-top__app__bg .p-top__app__flex .p-top__app__description .p-top__app__box .p-top__app__boxTxt {
    margin-bottom: 1.4rem;
  }
}

.p-top__app__bg .p-top__app__flex .p-top__app__description .p-top__app__box .p-top__app__box__flex {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 407px;
  margin: 0 auto 1rem;
}

@media only screen and (max-width: 768px) {
  .p-top__app__bg .p-top__app__flex .p-top__app__description .p-top__app__box .p-top__app__box__flex {
    max-width: 310px;
  }
}

.p-top__app__bg .p-top__app__flex .p-top__app__description .p-top__app__box .p-top__app__box__flex > a + a {
  margin-left: 17px;
}

.p-top__app__bg .p-top__app__flex .p-top__app__description .p-top__app__box .p-top__app__box__flex > a .p-top__app__box__img {
  width: 100%;
}

.p-top__app__bg .p-top__app__flex .p-top__app__description .p-top__app__box .p-top__app__box__flex > a .p-top__app__box__img.-google {
  max-width: 216px;
}

.p-top__app__bg .p-top__app__flex .p-top__app__description .p-top__app__box .p-top__app__box__flex > a .p-top__app__box__img.-google:hover {
  opacity: .8;
}

@media only screen and (max-width: 768px) {
  .p-top__app__bg .p-top__app__flex .p-top__app__description .p-top__app__box .p-top__app__box__flex > a .p-top__app__box__img.-google {
    max-width: 162px;
  }
}

.p-top__app__bg .p-top__app__flex .p-top__app__description .p-top__app__box .p-top__app__box__flex > a .p-top__app__box__img.-ios {
  max-width: 174px;
}

.p-top__app__bg .p-top__app__flex .p-top__app__description .p-top__app__box .p-top__app__box__flex > a .p-top__app__box__img.-ios:hover {
  opacity: .8;
}

@media only screen and (max-width: 768px) {
  .p-top__app__bg .p-top__app__flex .p-top__app__description .p-top__app__box .p-top__app__box__flex > a .p-top__app__box__img.-ios {
    max-width: 130px;
  }
}

.p-top__app__bg .p-top__app__flex .p-top__app__description .p-top__app__detail .p-top__app__detail__txt {
  font-family: "ヒラギノ角ゴシック", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "ヒラギノ角ゴ StdN", "Hiragino Kaku Gothic StdN", sans-serif;
  padding-left: 1em;
  font-size: 1rem;
  font-weight: 300;
  line-height: calc(22 / 10);
  letter-spacing: .04em;
  text-indent: -1em;
}

.p-top__question__bg {
  position: relative;
  z-index: 160;
  padding: 8.1rem 4rem 10.7rem;
  background-color: #f9f2f2;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(66.66667%, #fdf6f6), color-stop(33.33333%, transparent));
  background-image: -webkit-linear-gradient(right, #fdf6f6 66.66667%, transparent 33.33333%);
  background-image: linear-gradient(-90deg, #fdf6f6 66.66667%, transparent 33.33333%);
  background-size: 12px 12px;
}

@media only screen and (max-width: 768px) {
  .p-top__question__bg {
    padding: 6.2rem 1.6rem 10rem;
  }
}

.p-top__question__bg .p-top__question__container {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.p-top__question__bg .p-top__question__container .p-top__question__title__sm {
  font-family: "Comfortaa";
  margin-bottom: 1.8rem;
  color: #C5282A;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: .08em;
}

@media only screen and (max-width: 768px) {
  .p-top__question__bg .p-top__question__container .p-top__question__title__sm {
    font-size: 1.4rem;
  }
}

.p-top__question__bg .p-top__question__container .p-top__question__title__lg {
  font-family: "TsukuARdGothic-Regular", "honoka", sans-serif;
  margin: 0;
  margin-bottom: 5.6rem;
  font-size: 4.8rem;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .p-top__question__bg .p-top__question__container .p-top__question__title__lg {
    margin-bottom: 3.8rem;
    font-size: 3.6rem;
  }
}

.p-top__question__bg .p-top__question__container .p-top__question__acdTitle {
  position: relative;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1.8rem 4.8rem 1.8rem 2.4rem;
  margin-bottom: 1.7rem;
  background: #ffffff;
  border-radius: .4rem;
}

@media only screen and (max-width: 768px) {
  .p-top__question__bg .p-top__question__container .p-top__question__acdTitle {
    padding: 1.2rem 4.8rem 1.2rem 1.8rem;
    margin-bottom: 1.7rem;
  }
}

.p-top__question__bg .p-top__question__container .p-top__question__acdTitle:hover {
  cursor: pointer;
}

.p-top__question__bg .p-top__question__container .p-top__question__acdTitle::after {
  position: absolute;
  top: 3.5rem;
  right: 2.4rem;
  display: inline-block;
  width: 16px;
  height: 16px;
  content: "";
  background-image: url(../img/top/question/question-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media only screen and (max-width: 768px) {
  .p-top__question__bg .p-top__question__container .p-top__question__acdTitle::after {
    top: 2.8rem;
    right: 1.6rem;
    width: 14px;
    height: 10px;
  }
}

.p-top__question__bg .p-top__question__container .p-top__question__acdTitle.-active::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.p-top__question__bg .p-top__question__container .p-top__question__acdTitle .p-top__question__acdTitle__img {
  width: 49px;
  margin-right: 2.4rem;
}

@media only screen and (max-width: 768px) {
  .p-top__question__bg .p-top__question__container .p-top__question__acdTitle .p-top__question__acdTitle__img {
    width: 40px;
    margin-right: 1rem;
  }
}

.p-top__question__bg .p-top__question__container .p-top__question__acdTitle .p-top__question__acdTitle__text {
  font-family: "ヒラギノ角ゴシック", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "ヒラギノ角ゴ StdN", "Hiragino Kaku Gothic StdN", sans-serif;
  margin-top: 1.4rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: .08em;
  text-align: justify;
  text-justify: inter-ideograph;
}

@media only screen and (max-width: 768px) {
  .p-top__question__bg .p-top__question__container .p-top__question__acdTitle .p-top__question__acdTitle__text {
    margin: 1rem 0;
    font-size: 1.6rem;
    line-height: 1.6;
  }
}

.p-top__question__bg .p-top__question__container .p-top__question__acdAnswerWrap {
  display: none;
  margin-top: -.9rem;
  margin-bottom: 1.6rem;
}

.p-top__question__bg .p-top__question__container .p-top__question__acdAnswerWrap .p-top__question__acdAnswer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1.8rem 2.4rem 1.2rem 2.4rem;
  margin-top: .4rem;
  background: #ffffff;
}

@media only screen and (max-width: 768px) {
  .p-top__question__bg .p-top__question__container .p-top__question__acdAnswerWrap .p-top__question__acdAnswer {
    padding: 1.2rem 1.8rem 1.2rem 1.8rem;
  }
}

.p-top__question__bg .p-top__question__container .p-top__question__acdAnswerWrap .p-top__question__acdAnswer .p-top__question__acdAnswer__text {
  font-family: "ヒラギノ角ゴシック", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "ヒラギノ角ゴ StdN", "Hiragino Kaku Gothic StdN", sans-serif;
  max-width: 848px;
  margin: 1.8rem 0 0 2.4rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.2;
  letter-spacing: .04em;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .p-top__question__bg .p-top__question__container .p-top__question__acdAnswerWrap .p-top__question__acdAnswer .p-top__question__acdAnswer__text {
    margin: .8rem 0 0 1rem;
    line-height: 2.2;
  }
}

.p-top__question__bg .p-top__question__container .p-top__question__acdAnswerWrap .p-top__question__acdAnswer .p-top__question__acdAnswer__icon {
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 768px) {
  .p-top__question__bg .p-top__question__container .p-top__question__acdAnswerWrap .p-top__question__acdAnswer .p-top__question__acdAnswer__icon {
    width: 40px;
    height: 40px;
  }
}

.p-top__steps {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .p-top__steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .p-top__steps--bg {
    background: #F2F2F2;
  }
}

.p-top__steps:first-child {
  margin-top: 30px;
}

.p-top__steps__left__wrap {
  position: relative;
  width: 50%;
  height: 100vh;
  padding: 230px 0 0 180px;
  color: #ffffff;
  background: #F2F2F2;
}

@media only screen and (max-width: 768px) {
  .p-top__steps__left__wrap {
    width: 100%;
    padding: 0;
    margin-bottom: 65px;
    background: transparent;
  }
}

.p-top__steps__left__wrap__display {
  width: 50%;
}

.p-top__steps__right__wrap {
  width: 50%;
  padding: 120px 121px 0 0;
  margin-left: 81px;
  background: #ffffff;
}

@media only screen and (max-width: 768px) {
  .p-top__steps__right__wrap {
    width: 90%;
    height: 100%;
    padding: 0 17px;
    margin: 0 0 51px;
    background: transparent;
  }
}

.p-top__steps__right__wrap--icon {
  font-family: "Comfortaa";
  color: #C5282A;
  font-size: 1.6rem;
}

@media only screen and (max-width: 768px) {
  .p-top__steps__right__wrap--icon {
    font-size: 1.4rem;
  }
}

.p-top__steps__right__wrap__title {
  margin-top: 28.2px;
  margin-bottom: 40px;
  font-size: 4.8rem;
  font-weight: normal;
  line-height: calc(67.2 / 48);
  letter-spacing: .04em;
}

@media only screen and (max-width: 768px) {
  .p-top__steps__right__wrap__title {
    margin-bottom: 23px;
    font-size: 2.4rem;
  }
}

.p-top__steps__right__wrap__text {
  margin-bottom: 64.6px;
  font-family: "HiraginoSans-W3";
  font-size: 1.8rem;
  line-height: calc(39.6 / 18);
  letter-spacing: .04em;
}

@media only screen and (max-width: 768px) {
  .p-top__steps__right__wrap__text {
    font-size: 1.4rem;
    line-height: calc(30.8 / 14);
  }
}

.p-top__steps__right__wrap__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.p-top__steps__right__wrap__link__txt {
  margin: 0;
  color: #C5282A;
  font-size: 1.8rem;
  line-height: calc(31.5 / 18);
  letter-spacing: .04em;
}

@media only screen and (max-width: 768px) {
  .p-top__steps__right__wrap__link__txt {
    font-size: 1.6rem;
    line-height: calc(22.4 / 16);
  }
}

.p-top__steps__right__wrap__link__icon {
  display: block;
  width: 56px;
  height: 56px;
  margin-left: 19px;
}

.slide {
  position: relative;
}

@media only screen and (max-width: 768px) {
  .slide {
    padding-top: 0;
  }
}

@-webkit-keyframes buttonAnimation {
  0% {
    height: 32px;
  }
  30% {
    height: 27px;
  }
  100% {
    height: 32px;
  }
}

@keyframes buttonAnimation {
  0% {
    height: 32px;
  }
  30% {
    height: 27px;
  }
  100% {
    height: 32px;
  }
}

.slide .button-active {
  -webkit-animation: buttonAnimation .6s ease-out .8s 1 normal forwards;
          animation: buttonAnimation .6s ease-out .8s 1 normal forwards;
  -webkit-transition: .3s ease-in .4s;
  transition: .3s ease-in .4s;
}

.slide .slide__section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .slide .slide__section {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: auto;
    height: auto;
    padding: 6.4rem 0 3.6rem;
  }
  .slide .slide__section:nth-of-type(odd) {
    background-color: #F2F2F2;
  }
}

@media only screen and (max-width: 768px) {
  .slide .slide__img {
    background-color: #F2F2F2;
  }
}

.slide .slide__img.-fixed {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 150;
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .slide .slide__img.-fixed {
    display: none;
  }
}

.slide .slide__img.-fixed .slide__img__box {
  position: absolute;
  top: 42.2%;
  top: 50%;
  left: 54%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 72.2222%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slide .slide__img.-fixed.-active {
  position: fixed;
  top: 95px;
  left: 25%;
  height: calc(100vh - 95px) !important;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slide .slide__img.-fixed.-active .slide__img__box {
  top: 50%;
}

.slide .slide__img.-fixed.-after {
  position: absolute;
  top: auto;
  bottom: 0;
}

.slide .slide__img.-fixed.-after .slide__img__box {
  top: auto;
  bottom: 45px;
  height: auto;
}

.slide .slide__img.-sp-only {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  background-color: #f2f2f2;
  opacity: 0;
}

@media only screen and (max-width: 768px) {
  .slide .slide__img.-sp-only {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 0 1.6rem 0 5.6rem;
    margin-bottom: 6rem;
    background-color: transparent;
    opacity: 1;
  }
}

.slide .slide__img.-sp-only .slide__img__box {
  position: absolute;
  top: 42.2%;
  left: 54%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 72.2222%;
  height: 46.666666%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
  .slide .slide__img.-sp-only .slide__img__box {
    position: relative;
    top: auto;
    left: auto;
    z-index: 200;
    width: 100%;
    height: auto;
    margin: auto;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

.slide .slide__img .slide__img__item {
  width: 100%;
  height: 100%;
  text-align: center;
}

.slide .slide__img .slide__img__item .slide__img__item--phone {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 250px;
  height: 450px;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
  .slide .slide__img .slide__img__item .slide__img__item--phone {
    position: static;
    width: 147px;
    height: auto;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.slide .slide__img .slide__img__item .slide__img__item__wrap {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 450px;
}

@media only screen and (max-width: 768px) {
  .slide .slide__img .slide__img__item .slide__img__item__wrap {
    width: auto;
    height: auto;
  }
}

.slide .slide__img .slide__img__item .slide__img__item__wrap.-step1 .slide__img__item--step1--message {
  position: absolute;
  width: 280px;
  height: 64px;
}

@media only screen and (max-width: 768px) {
  .slide .slide__img .slide__img__item .slide__img__item__wrap.-step1 .slide__img__item--step1--message {
    width: 164px;
    height: auto;
  }
}

.slide .slide__img .slide__img__item .slide__img__item__wrap.-step1 .slide__img__item--step1--message1 {
  top: 70px;
  left: 47.5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media only screen and (max-width: 768px) {
  .slide .slide__img .slide__img__item .slide__img__item__wrap.-step1 .slide__img__item--step1--message1 {
    top: 40px;
  }
}

.slide .slide__img .slide__img__item .slide__img__item__wrap.-step1 .slide__img__item--step1--message2 {
  top: 150px;
  left: 47.5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media only screen and (max-width: 768px) {
  .slide .slide__img .slide__img__item .slide__img__item__wrap.-step1 .slide__img__item--step1--message2 {
    top: 88px;
  }
}

.slide .slide__img .slide__img__item .slide__img__item__wrap.-step1 .slide__img__item--step1--message3 {
  top: 230px;
  left: 47.5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media only screen and (max-width: 768px) {
  .slide .slide__img .slide__img__item .slide__img__item__wrap.-step1 .slide__img__item--step1--message3 {
    top: 135px;
  }
}

.slide .slide__img .slide__img__item .slide__img__item__wrap.-step1 .slide__img__item--step1--button {
  position: absolute;
  top: 332px;
  left: 47.5%;
  width: 150px;
  height: 32px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media only screen and (max-width: 768px) {
  .slide .slide__img .slide__img__item .slide__img__item__wrap.-step1 .slide__img__item--step1--button {
    top: 189px;
    width: 87px;
    height: auto;
  }
}

.slide .slide__img .slide__img__item .slide__img__item__wrap.-step2 .slide__img__item--step2--message {
  position: absolute;
}

@media only screen and (max-width: 768px) {
  .slide .slide__img .slide__img__item .slide__img__item__wrap.-step2 .slide__img__item--step2--message {
    width: 260px;
    height: auto;
  }
}

.slide .slide__img .slide__img__item .slide__img__item__wrap.-step2 .slide__img__item--step2--message1 {
  top: 63px;
  left: 47%;
  width: 230px;
  height: 92px;
  -webkit-transform: translateX(-90%);
          transform: translateX(-90%);
}

@media only screen and (max-width: 768px) {
  .slide .slide__img .slide__img__item .slide__img__item__wrap.-step2 .slide__img__item--step2--message1 {
    top: 36px;
    left: 46%;
    width: 134px;
    height: 53.4px;
  }
}

.slide .slide__img .slide__img__item .slide__img__item__wrap.-step2 .slide__img__item--step2--message2 {
  top: 171px;
  left: 47%;
  width: 260px;
  height: 92px;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

@media only screen and (max-width: 768px) {
  .slide .slide__img .slide__img__item .slide__img__item__wrap.-step2 .slide__img__item--step2--message2 {
    top: 100px;
    left: 46%;
    width: 152px;
    height: 53.4px;
  }
}

.slide .slide__img .slide__img__item .slide__img__item__wrap.-step2 .slide__img__item--step2--message3 {
  top: 278px;
  left: 47%;
  height: 92px;
  -webkit-transform: translateX(-90%);
          transform: translateX(-90%);
}

@media only screen and (max-width: 768px) {
  .slide .slide__img .slide__img__item .slide__img__item__wrap.-step2 .slide__img__item--step2--message3 {
    top: 163px;
    left: 46%;
    width: 134px;
    height: 53.4px;
  }
}

.slide .slide__img .slide__img__item .slide__img__item__wrap.-step3 .slide__img__item--step3--plan {
  position: absolute;
  top: 142px;
  left: 48%;
  width: 340px;
  height: 120px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media only screen and (max-width: 768px) {
  .slide .slide__img .slide__img__item .slide__img__item__wrap.-step3 .slide__img__item--step3--plan {
    top: 82px;
    width: 200px;
    height: auto;
  }
}

.slide .slide__img .slide__img__item .slide__img__item__wrap.-step3 .slide__img__item--step3--button {
  position: absolute;
  top: 332px;
  left: 48%;
  width: 150px;
  height: 32px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media only screen and (max-width: 768px) {
  .slide .slide__img .slide__img__item .slide__img__item__wrap.-step3 .slide__img__item--step3--button {
    top: 196px;
    width: 87px;
    height: auto;
  }
}

.slide .slide__img .slide__img__item .slide__img__item__wrap.-step3 .slide__img__item--step3--line {
  width: 0;
}

.slide .slide__img .slide__img__item .slide__img__item__wrap.-step4 .slide__img__item--step4--message {
  position: absolute;
}

.slide .slide__img .slide__img__item .slide__img__item__wrap.-step4 .slide__img__item--step4--message1 {
  top: 69px;
  left: -33px;
  width: 200px;
  height: 97px;
}

@media only screen and (max-width: 768px) {
  .slide .slide__img .slide__img__item .slide__img__item__wrap.-step4 .slide__img__item--step4--message1 {
    top: 40px;
    left: -20px;
    width: 117px;
    height: auto;
  }
}

.slide .slide__img .slide__img__item .slide__img__item__wrap.-step4 .slide__img__item--step4--message2 {
  top: 135px;
  right: -32px;
  width: 183px;
  height: 122px;
}

@media only screen and (max-width: 768px) {
  .slide .slide__img .slide__img__item .slide__img__item__wrap.-step4 .slide__img__item--step4--message2 {
    top: 80px;
    right: -18px;
    width: 107px;
    height: auto;
  }
}

.slide .slide__img .slide__img__item .slide__img__item__wrap.-step4 .slide__img__item--step4--message3 {
  top: 242px;
  left: -22px;
  width: 168px;
  height: 103px;
}

@media only screen and (max-width: 768px) {
  .slide .slide__img .slide__img__item .slide__img__item__wrap.-step4 .slide__img__item--step4--message3 {
    top: 143px;
    left: -15px;
    width: 98px;
    height: auto;
  }
}

.slide .slide__img .slide__img__item .slide__img__item__wrap.-step5 .slide__img__item--step5--message {
  position: absolute;
}

.slide .slide__img .slide__img__item .slide__img__item__wrap.-step5 .slide__img__item--step5--message1 {
  top: 38px;
  left: -45px;
  width: 305px;
  height: 110px;
}

@media only screen and (max-width: 768px) {
  .slide .slide__img .slide__img__item .slide__img__item__wrap.-step5 .slide__img__item--step5--message1 {
    top: 22px;
    left: -28px;
    width: 178px;
    height: auto;
  }
}

.slide .slide__img .slide__img__item .slide__img__item__wrap.-step5 .slide__img__item--step5--message1 .cls-1 {
  fill: #ffffff;
}

.slide .slide__img .slide__img__item .slide__img__item__wrap.-step5 .slide__img__item--step5--message1 .cls-2 {
  fill: #cc5258;
}

.slide .slide__img .slide__img__item .slide__img__item__wrap.-step5 .slide__img__item--step5--message1 .cls-3 {
  fill: #ceb789;
}

.slide .slide__img .slide__img__item .slide__img__item__wrap.-step5 .slide__img__item--step5--message1 .cls-4 {
  fill: #cccccc;
}

.slide .slide__img .slide__img__item .slide__img__item__wrap.-step5 .slide__img__item--step5--message2 {
  top: 139px;
  right: -33px;
  width: 183px;
  height: 139px;
}

@media only screen and (max-width: 768px) {
  .slide .slide__img .slide__img__item .slide__img__item__wrap.-step5 .slide__img__item--step5--message2 {
    top: 82px;
    right: -18px;
    width: 107px;
    height: 81px;
  }
}

.slide .slide__img .slide__img__item .slide__img__item__wrap.-step5 .slide__img__item--step5--message2 .cls-1 {
  fill: #cccccc;
}

.slide .slide__img .slide__img__item .slide__img__item__wrap.-step5 .slide__img__item--step5--message2 .cls-2 {
  fill: #ffffff;
}

.slide .slide__img .slide__img__item .slide__img__item__wrap.-step5 .slide__img__item--step5--message2 .cls-3 {
  fill: #41424e;
}

.slide .slide__img .slide__img__item .slide__img__item__wrap.-step5 .slide__img__item--step5--message3 {
  top: 264px;
  left: -23px;
  width: 168px;
  height: 120px;
}

@media only screen and (max-width: 768px) {
  .slide .slide__img .slide__img__item .slide__img__item__wrap.-step5 .slide__img__item--step5--message3 {
    top: 155px;
    left: -14px;
    width: 98px;
    height: 70px;
  }
}

.slide .slide__img .slide__img__item .slide__img__item__wrap.-step5 .slide__img__item--step5--message3 .cls-1 {
  fill: #cc5258;
}

.slide .slide__img .slide__img__item .slide__img__item__wrap.-step5 .slide__img__item--step5--message3 .cls-2 {
  fill: #ffffff;
}

.slide .slide__description {
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  background-color: #ffffff;
}

.slide .slide__description::before {
  position: absolute;
  top: 0;
  right: 100%;
  z-index: -1;
  display: inline-block;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #F2F2F2;
}

@media only screen and (max-width: 768px) {
  .slide .slide__description {
    width: 100%;
    height: 100%;
    padding-top: 1.5em;
    padding-left: 3.8rem;
    margin-left: 0;
    background-color: transparent;
  }
}

.slide .slide__description .slide__description__box {
  width: 100%;
  max-width: 520px;
  padding: 16rem 1.6rem 16rem;
  margin: auto;
  margin-right: auto;
  margin-left: 6.4rem;
}

@media only screen and (max-width: 768px) {
  .slide .slide__description .slide__description__box {
    width: 85%;
    height: auto;
    max-width: 300px;
    padding: 1.6rem;
    margin: 0 auto;
  }
}

.slide .slide__description .slide__description__title {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 4.8rem;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: .04em;
}

@media only screen and (max-width: 768px) {
  .slide .slide__description .slide__description__title {
    margin-top: 0;
    margin-bottom: 1.4rem;
    font-size: 2.4rem;
    letter-spacing: .06em;
  }
}

.slide .slide__description .slide__description__title:before {
  font-family: "Comfortaa";
  position: absolute;
  top: -35px;
  left: 0;
  color: #cb0015;
  content: attr(step);
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: .08em;
}

@media only screen and (max-width: 768px) {
  .slide .slide__description .slide__description__title:before {
    top: -28px;
    font-size: 1.2rem;
  }
}

.slide .slide__description .slide__description__text {
  font-family: "ヒラギノ角ゴシック", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "ヒラギノ角ゴ StdN", "Hiragino Kaku Gothic StdN", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.25;
  letter-spacing: .04em;
}

@media only screen and (max-width: 768px) {
  .slide .slide__description .slide__description__text {
    font-size: 1.4rem;
    letter-spacing: .08em;
    text-align: justify;
    text-justify: inter-ideograph;
  }
}

.slide .slide__description .slide__description__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: "TsukuARdGothic-Regular", "honoka", sans-serif;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5.6rem;
  color: #C5282A;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: .04em;
  -webkit-transition: .3s;
  transition: .3s;
}

@media only screen and (max-width: 768px) {
  .slide .slide__description .slide__description__link {
    width: 100%;
    margin-top: 1.6rem;
    font-size: 1.6rem;
  }
}

.slide .slide__description .slide__description__link::after {
  width: 56px;
  height: 56px;
  margin-left: 1.2rem;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transition: .3s;
  transition: .3s;
}

@media only screen and (max-width: 768px) {
  .slide .slide__description .slide__description__link::after {
    margin-left: 1.2rem;
  }
}

.slide .slide__description .slide__description__link:hover {
  cursor: pointer;
}

.slide .slide__description .slide__description__link:hover::after {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .3s;
  transition: .3s;
}

.slide .slide__description .slide__description__link.-blank::after {
  background-image: url(../img/slide/icon-blank-circle-red.svg);
}

.slide .slide__description .slide__description__link.-download::after {
  background-image: url(../img/slide/icon-download-circle-red.svg);
}

.slide__img__item__wrap .slide__img__item__fixed {
  margin-top: -20px;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  opacity: 0;
}

.slide__img__item__wrap .slide__img__item--phone {
  display: block;
  opacity: 1;
}

.slide__img__item__wrap .slide__img__item--phone.slide__img__item__fixed {
  opacity: 0;
}

.slide__img__item__wrap .-fadeIn {
  margin-top: 0;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  opacity: 1 !important;
}

.slide__img__item__wrap .-fadeIn2 {
  -webkit-transition-delay: .8s;
          transition-delay: .8s;
}

.slide__img__item__wrap .-fadeIn3 {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.slide__img__item__wrap.-step1 .cls-1 {
  fill: #ffffff;
}

.slide__img__item__wrap.-step1 .cls-2, .slide__img__item__wrap.-step1 .step1-3-cls-2 {
  -webkit-transition: .3s;
  transition: .3s;
  fill: #cc5258;
}

.slide__img__item__wrap.-step1 .step1-3-cls-3, .slide__img__item__wrap.-step1 .step1-3-cls-4 {
  width: 0;
  fill: #cccccc;
}

@-webkit-keyframes line_animation1 {
  0% {
    width: 0;
  }
  100% {
    width: 80.31px;
  }
}

@keyframes line_animation1 {
  0% {
    width: 0;
  }
  100% {
    width: 80.31px;
  }
}

@-webkit-keyframes line_animation2 {
  0% {
    width: 0;
  }
  100% {
    width: 183px;
  }
}

@keyframes line_animation2 {
  0% {
    width: 0;
  }
  100% {
    width: 183px;
  }
}

.slide__img__item__wrap.-step2 .line {
  width: 0;
}

.slide__img__item__wrap.-step2 .-active-step .line2-1-1 {
  -webkit-animation: line_animation3 .5s ease-out .4s 1 normal forwards;
          animation: line_animation3 .5s ease-out .4s 1 normal forwards;
}

.slide__img__item__wrap.-step2 .-active-step .line2-1-2 {
  -webkit-animation: line_animation4 .5s ease-out .4s 1 normal forwards;
          animation: line_animation4 .5s ease-out .4s 1 normal forwards;
}

.slide__img__item__wrap.-step2 .-active-step .line2-1-4 {
  -webkit-animation: line_animation6 .5s ease-out .4s 1 normal forwards;
          animation: line_animation6 .5s ease-out .4s 1 normal forwards;
}

.slide__img__item__wrap.-step2 .-active-step .line2-2-1 {
  -webkit-animation: line_animation215 .5s ease-out .8s 1 normal forwards;
          animation: line_animation215 .5s ease-out .8s 1 normal forwards;
}

.slide__img__item__wrap.-step2 .-active-step .line2-2-2 {
  -webkit-animation: line_animation215 .5s ease-out .8s 1 normal forwards;
          animation: line_animation215 .5s ease-out .8s 1 normal forwards;
}

.slide__img__item__wrap.-step2 .-active-step .line2-2-3 {
  -webkit-animation: line_animation5 .5s ease-out .8s 1 normal forwards;
          animation: line_animation5 .5s ease-out .8s 1 normal forwards;
}

.slide__img__item__wrap.-step2 .-active-step .line2-2-4 {
  -webkit-animation: line_animation170 .5s ease-out .8s 1 normal forwards;
          animation: line_animation170 .5s ease-out .8s 1 normal forwards;
}

.slide__img__item__wrap.-step2 .-active-step .line2-3-1 {
  -webkit-animation: line_animation3 .5s ease-out 1.2s 1 normal forwards;
          animation: line_animation3 .5s ease-out 1.2s 1 normal forwards;
}

.slide__img__item__wrap.-step2 .-active-step .line2-3-2 {
  -webkit-animation: line_animation4 .5s ease-out 1.2s 1 normal forwards;
          animation: line_animation4 .5s ease-out 1.2s 1 normal forwards;
}

.slide__img__item__wrap.-step2 .-active-step .line2-3-3 {
  -webkit-animation: line_animation5 .5s ease-out 1.2s 1 normal forwards;
          animation: line_animation5 .5s ease-out 1.2s 1 normal forwards;
}

.slide__img__item__wrap.-step2 .-active-step .line2-3-4 {
  -webkit-animation: line_animation6 .5s ease-out 1.2s 1 normal forwards;
          animation: line_animation6 .5s ease-out 1.2s 1 normal forwards;
}

.slide__img__item__wrap.-step2 .-active-step .step2name {
  r: 5;
}

@-webkit-keyframes line_animation3 {
  0% {
    width: 0;
  }
  100% {
    width: 190px;
  }
}

@keyframes line_animation3 {
  0% {
    width: 0;
  }
  100% {
    width: 190px;
  }
}

@-webkit-keyframes line_animation4 {
  0% {
    width: 0;
  }
  100% {
    width: 190px;
  }
}

@keyframes line_animation4 {
  0% {
    width: 0;
  }
  100% {
    width: 190px;
  }
}

@-webkit-keyframes line_animation215 {
  0% {
    width: 0;
  }
  100% {
    width: 215px;
  }
}

@keyframes line_animation215 {
  0% {
    width: 0;
  }
  100% {
    width: 215px;
  }
}

@-webkit-keyframes line_animation170 {
  0% {
    width: 0;
  }
  100% {
    width: 170px;
  }
}

@keyframes line_animation170 {
  0% {
    width: 0;
  }
  100% {
    width: 170px;
  }
}

@-webkit-keyframes line_animation5 {
  0% {
    width: 0;
  }
  100% {
    width: 40px;
  }
}

@keyframes line_animation5 {
  0% {
    width: 0;
  }
  100% {
    width: 40px;
  }
}

@-webkit-keyframes line_animation6 {
  0% {
    width: 0;
  }
  100% {
    width: 145px;
  }
}

@keyframes line_animation6 {
  0% {
    width: 0;
  }
  100% {
    width: 145px;
  }
}

.slide__img__item__wrap.-step3 .-active-step .slide__img__item--step3--line1 {
  -webkit-animation: line_animation7 .5s ease-out .8s 1 normal forwards;
          animation: line_animation7 .5s ease-out .8s 1 normal forwards;
}

.slide__img__item__wrap.-step3 .-active-step .slide__img__item--step3--line2 {
  -webkit-animation: line_animation8 .5s ease-out .8s 1 normal forwards;
          animation: line_animation8 .5s ease-out .8s 1 normal forwards;
}

@-webkit-keyframes line_animation7 {
  0% {
    width: 0;
  }
  100% {
    width: 120px;
  }
}

@keyframes line_animation7 {
  0% {
    width: 0;
  }
  100% {
    width: 120px;
  }
}

@-webkit-keyframes line_animation8 {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}

@keyframes line_animation8 {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}

.slide__img__item__wrap.-step4 .line {
  width: 0;
}

.slide__img__item__wrap.-step4 .-active-step .line4-1-1 {
  -webkit-animation: line_animation9 .5s ease-out .4s 1 normal forwards;
          animation: line_animation9 .5s ease-out .4s 1 normal forwards;
}

.slide__img__item__wrap.-step4 .-active-step .line4-1-2 {
  -webkit-animation: line_animation10 .5s ease-out .4s 1 normal forwards;
          animation: line_animation10 .5s ease-out .4s 1 normal forwards;
}

.slide__img__item__wrap.-step4 .-active-step .line4-1-3 {
  -webkit-animation: line_animation11 .5s ease-out .4s 1 normal forwards;
          animation: line_animation11 .5s ease-out .4s 1 normal forwards;
}

.slide__img__item__wrap.-step4 .-active-step .line4-1-4 {
  -webkit-animation: line_animation12 .5s ease-out .4s 1 normal forwards;
          animation: line_animation12 .5s ease-out .4s 1 normal forwards;
}

.slide__img__item__wrap.-step4 .-active-step .line4-2-1 {
  -webkit-animation: line_animation9 .5s ease-out .8s 1 normal forwards;
          animation: line_animation9 .5s ease-out .8s 1 normal forwards;
}

.slide__img__item__wrap.-step4 .-active-step .line4-2-2 {
  -webkit-animation: line_animation13 .5s ease-out .8s 1 normal forwards;
          animation: line_animation13 .5s ease-out .8s 1 normal forwards;
}

.slide__img__item__wrap.-step4 .-active-step .line4-2-3 {
  -webkit-animation: line_animation11 .5s ease-out .8s 1 normal forwards;
          animation: line_animation11 .5s ease-out .8s 1 normal forwards;
}

.slide__img__item__wrap.-step4 .-active-step .line4-3-1 {
  -webkit-animation: line_animation14 .5s ease-out 1.2s 1 normal forwards;
          animation: line_animation14 .5s ease-out 1.2s 1 normal forwards;
}

.slide__img__item__wrap.-step4 .-active-step .line4-3-2 {
  -webkit-animation: line_animation15 .5s ease-out 1.2s 1 normal forwards;
          animation: line_animation15 .5s ease-out 1.2s 1 normal forwards;
}

@-webkit-keyframes line_animation9 {
  0% {
    width: 0;
  }
  100% {
    width: 40.31px;
  }
}

@keyframes line_animation9 {
  0% {
    width: 0;
  }
  100% {
    width: 40.31px;
  }
}

@-webkit-keyframes line_animation10 {
  0% {
    width: 0;
  }
  100% {
    width: 166px;
  }
}

@keyframes line_animation10 {
  0% {
    width: 0;
  }
  100% {
    width: 166px;
  }
}

@-webkit-keyframes line_animation11 {
  0% {
    width: 0;
  }
  100% {
    width: 100px;
  }
}

@keyframes line_animation11 {
  0% {
    width: 0;
  }
  100% {
    width: 100px;
  }
}

@-webkit-keyframes line_animatio12 {
  0% {
    width: 0;
  }
  100% {
    width: 50px;
  }
}

@keyframes line_animatio12 {
  0% {
    width: 0;
  }
  100% {
    width: 50px;
  }
}

@-webkit-keyframes line_animation13 {
  0% {
    width: 0;
  }
  100% {
    width: 136px;
  }
}

@keyframes line_animation13 {
  0% {
    width: 0;
  }
  100% {
    width: 136px;
  }
}

@-webkit-keyframes line_animation14 {
  0% {
    width: 0;
  }
  100% {
    width: 70.31px;
  }
}

@keyframes line_animation14 {
  0% {
    width: 0;
  }
  100% {
    width: 70.31px;
  }
}

@-webkit-keyframes line_animation15 {
  0% {
    width: 0;
  }
  100% {
    width: 118px;
  }
}

@keyframes line_animation15 {
  0% {
    width: 0;
  }
  100% {
    width: 118px;
  }
}

.slide__img__item__wrap.-step5 .line {
  width: 0;
}

.slide__img__item__wrap.-step5 .-active-step .line5-1-1 {
  -webkit-animation: line_animation16 .5s ease-out .4s 1 normal forwards;
          animation: line_animation16 .5s ease-out .4s 1 normal forwards;
}

.slide__img__item__wrap.-step5 .-active-step .line5-1-2 {
  -webkit-animation: line_animation17 .5s ease-out .4s 1 normal forwards;
          animation: line_animation17 .5s ease-out .4s 1 normal forwards;
}

.slide__img__item__wrap.-step5 .-active-step .ribbon {
  -webkit-animation: line_animation_ribbon .7s linear 2s 1 normal forwards;
          animation: line_animation_ribbon .7s linear 2s 1 normal forwards;
}

.slide__img__item__wrap.-step5 .-active-step .line5-2-1 {
  -webkit-animation: line_animation18 .5s ease-out .8s 1 normal forwards;
          animation: line_animation18 .5s ease-out .8s 1 normal forwards;
}

.slide__img__item__wrap.-step5 .-active-step .line5-2-2 {
  -webkit-animation: line_animation19 .5s ease-out .8s 1 normal forwards;
          animation: line_animation19 .5s ease-out .8s 1 normal forwards;
}

.slide__img__item__wrap.-step5 .-active-step .line5-2-3 {
  -webkit-animation: line_animation20 .5s ease-out .8s 1 normal forwards;
          animation: line_animation20 .5s ease-out .8s 1 normal forwards;
}

.slide__img__item__wrap.-step5 .-active-step .line5-2-4 {
  -webkit-animation: line_animation21 .5s ease-out .8s 1 normal forwards;
          animation: line_animation21 .5s ease-out .8s 1 normal forwards;
}

.slide__img__item__wrap.-step5 .-active-step .line5-3-1 {
  -webkit-animation: line_animation22 .5s ease-out 1.2s 1 normal forwards;
          animation: line_animation22 .5s ease-out 1.2s 1 normal forwards;
}

.slide__img__item__wrap.-step5 .-active-step .line5-3-2 {
  -webkit-animation: line_animation23 .5s ease-out 1.2s 1 normal forwards;
          animation: line_animation23 .5s ease-out 1.2s 1 normal forwards;
}

.slide__img__item__wrap.-step5 .-active-step .line5-3-3 {
  -webkit-animation: line_animation24 .5s ease-out 1.2s 1 normal forwards;
          animation: line_animation24 .5s ease-out 1.2s 1 normal forwards;
}

@-webkit-keyframes line_animation16 {
  0% {
    width: 0;
  }
  100% {
    width: 83px;
  }
}

@keyframes line_animation16 {
  0% {
    width: 0;
  }
  100% {
    width: 83px;
  }
}

@-webkit-keyframes line_animation17 {
  0% {
    width: 0;
  }
  100% {
    width: 183px;
  }
}

@keyframes line_animation17 {
  0% {
    width: 0;
  }
  100% {
    width: 183px;
  }
}

@-webkit-keyframes line_animation18 {
  0% {
    width: 0;
  }
  100% {
    width: 40px;
  }
}

@keyframes line_animation18 {
  0% {
    width: 0;
  }
  100% {
    width: 40px;
  }
}

@-webkit-keyframes line_animation19 {
  0% {
    width: 0;
  }
  100% {
    width: 136px;
  }
}

@keyframes line_animation19 {
  0% {
    width: 0;
  }
  100% {
    width: 136px;
  }
}

@-webkit-keyframes line_animation20 {
  0% {
    width: 0;
  }
  100% {
    width: 100px;
  }
}

@keyframes line_animation20 {
  0% {
    width: 0;
  }
  100% {
    width: 100px;
  }
}

@-webkit-keyframes line_animation21 {
  0% {
    width: 0;
  }
  100% {
    width: 120px;
  }
}

@keyframes line_animation21 {
  0% {
    width: 0;
  }
  100% {
    width: 120px;
  }
}

@-webkit-keyframes line_animation22 {
  0% {
    width: 0;
  }
  100% {
    width: 70px;
  }
}

@keyframes line_animation22 {
  0% {
    width: 0;
  }
  100% {
    width: 70px;
  }
}

@-webkit-keyframes line_animation23 {
  0% {
    width: 0;
  }
  100% {
    width: 47px;
  }
}

@keyframes line_animation23 {
  0% {
    width: 0;
  }
  100% {
    width: 47px;
  }
}

@-webkit-keyframes line_animation24 {
  0% {
    width: 0;
  }
  100% {
    width: 118px;
  }
}

@keyframes line_animation24 {
  0% {
    width: 0;
  }
  100% {
    width: 118px;
  }
}

@-webkit-keyframes line_animation_ribbon {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes line_animation_ribbon {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
