@charset "UTF-8";
@-webkit-keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}
@keyframes slideUp {
  0% {
    height: auto;
  }
  100% {
    height: 0;
  }
}

.pt-10 {
  padding-top: 1rem;
}

.pt-20 {
  padding-top: 2rem;
}

.pt-30 {
  padding-top: 3rem;
}

.pt-40 {
  padding-top: 4rem;
}

.pt-56 {
  padding-top: 5.6rem;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-10 {
  margin-top: 1rem;
}

.mt-20 {
  margin-top: 2rem;
}

.mt-30 {
  margin-top: 3rem;
}

.mt-40 {
  margin-top: 4rem;
}

.mt-56 {
  margin-top: 5.6rem;
}

.mb-10 {
  margin-bottom: 1rem;
}

.mb-20 {
  margin-bottom: 2rem;
}

.mb-30 {
  margin-bottom: 3rem;
}

.mb-40 {
  margin-bottom: 4rem;
}

*::-webkit-scrollbar {
  display: none;
}

*:focus {
  outline: none;
}

ion-input {
  color: #222222 !important;
}

ion-input input {
  color: #222222 !important;
}

input {
  color: #222222 !important;
}

ion-content {
  --background: $lightgray2;
}

ion-router-link {
  color: #222222;
}

ion-router-link a {
  display: block;
  width: 100%;
  height: 100%;
}

ion-page {
  height: 100%;
}

button {
  cursor: pointer;
}

.bg-gray {
  background: #f8f8f8;
}

@media only screen and (max-width: 768px) {
  ion-content {
    --background: $white;
  }
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body, html {
  color: #222222;
  font-size: 62.5%;
  letter-spacing: .04em;
  background-color: #f8f8f8;
}

@media only screen and (max-width: 768px) {
  body, html {
    background-color: #ffffff;
  }
}

body .sp, html .sp {
  display: none;
}

@media only screen and (max-width: 768px) {
  body .sp, html .sp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

body .pc, html .pc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  body .pc, html .pc {
    display: none;
  }
}

body .max--textOverflow, html .max--textOverflow {
  display: block;
  width: 200px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inner {
  max-width: 1104px;
  min-height: 100vh;
  padding-right: 4rem;
  padding-left: 4rem;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .inner {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.inner--auth {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 480px;
  min-height: 503px;
  padding: 4rem;
  margin-top: 8rem;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
  border-radius: 8px;
}

@media only screen and (max-width: 768px) {
  .inner--auth {
    min-height: calc(100vh - 46px - 48px);
    padding-right: 2rem;
    padding-left: 2rem;
    margin-top: 0;
  }
}

@media only screen and (max-width: 768px) {
  .inner--auth--sp {
    padding-right: 0;
    padding-left: 0;
  }
}

.inner--auth--select {
  max-width: 1024px;
  padding-right: 4rem;
  padding-left: 4rem;
  margin-top: 6.4rem;
  margin-right: auto;
  margin-bottom: 11.5rem;
  margin-left: auto;
}

@media only screen and (max-width: 768px) {
  .inner--auth--select {
    padding-top: 4.4rem;
    padding-right: 0;
    padding-left: 0;
    margin-top: auto;
    margin-bottom: 2rem;
    background-color: #f8f8f8;
  }
}

.main__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 19.2rem;
}

@media only screen and (max-width: 768px) {
  .main__wrap {
    padding-top: 4rem;
    padding-bottom: 9.7rem;
  }
}

.content__wrap {
  position: relative;
  width: 76.5625%;
  padding: 4rem 5rem;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 8px;
}

@media only screen and (max-width: 768px) {
  .content__wrap {
    width: 100%;
    padding: 0;
    border-radius: 0;
  }
}

.content--box:not(:first-of-type) {
  margin-top: 4rem;
}

.content--box__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.content--box__title h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

.content--box__title p {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-size: 1.4rem;
}

.content--box__list {
  padding: 3.2rem 0;
  font-size: 1.2rem;
  text-align: center;
  background-color: #f8f8f8;
}

@media only screen and (max-width: 768px) {
  .content--box__list {
    padding: 2.5rem 0;
  }
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: .8rem 0 1rem;
  margin-top: auto;
  color: #ffffff;
  background-color: #cb0015;
}

@media only screen and (max-width: 768px) {
  .footer {
    display: none;
  }
}

.footer--copyright {
  font-size: 1.2rem;
  font-weight: 600;
}

/* 2021/02/25 nana XD6 */
.applying__container {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 32px);
  max-width: 1024px;
  margin: 80px auto 100px;
  border-radius: 8px;
}

@media only screen and (max-width: 768px) {
  .applying__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.applying__container__flex__title {
  display: block;
  margin-top: 40px;
  font-size: 2rem;
}

@media only screen and (max-width: 768px) {
  .applying__container__flex__title {
    font-size: 1.8rem;
  }
}

.applying__container__flex__status {
  display: inline-block;
  padding: 3px;
  margin: 10px 0 30px;
  color: #ffffff;
  font-size: 1rem;
  background: #cb0015;
  border: 1px solid #cb0015;
}

@media only screen and (max-width: 768px) {
  .applying__container__flex__status {
    font-size: 1.4rem;
  }
}

.applying__container__flex__status--management {
  background: #003686;
}

.applying__container__flex--width {
  width: 76.5%;
  padding: 0 50px;
  background: #ffffff;
}

@media only screen and (max-width: 768px) {
  .applying__container__flex--width {
    width: 100%;
  }
}

.applying__container__flex__accordion {
  margin-bottom: 30px;
}

.applying__container__flex__accordion--border {
  border: 1px solid #cccccc;
}

/* 2021/3/3 nana XD2・4 */
@media only screen and (max-width: 768px) {
  .recruitment__title {
    font-size: 1.4rem;
  }
}

.recruitment__chatNone {
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  margin-bottom: 1rem;
  background-color: #f8f8f8;
  -webkit-transition: .3s;
  transition: .3s;
}

.recruitment__chatNone__message {
  margin: 0 auto;
}

.recruitment__chatNone__message--pr {
  padding-right: 0;
}

.recruitment__status {
  color: #cb0015;
  background: #ffffff;
  border: 1px solid #cb0015;
}

.recruitment__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.recruitment__number {
  padding-top: 4px;
  margin-left: 10px;
  font-size: 1.4rem;
}

@media only screen and (max-width: 768px) {
  .recruitment__number {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 768px) {
  .applicationList__requests__title {
    font-size: 1.8rem;
  }
}

.applicationList__pb {
  padding-bottom: 40px;
}

.applicationList__bg {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 25px;
  background-color: #f8f8f8;
  cursor: pointer;
}

.applicationList__bg:not(:first-of-type) {
  margin-top: 1rem;
}

.applicationList__statusWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
}

.applicationList__name {
  padding-top: 3px;
  margin-left: 1rem;
  font-size: 1rem;
}

.applicationList__status {
  display: inline-block;
  padding: 3px 4px;
  color: #cb0015;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid #cb0015;
}

.applicationList__status--sinsei {
  color: #ffffff;
  background-color: #cb0015;
}

.applicationList__status--kanri {
  color: #ffffff;
  background-color: #003686;
  border: 1px solid #003686;
}

.applicationList__text {
  margin-top: 6px;
  font-size: 1.6rem;
  font-weight: 600;
}

.applicationList__icons {
  padding-top: 14px;
}

.applicationList__icons__img {
  width: 14px;
  height: 14px;
  margin-right: 2px;
}

.applicationList__icons__number {
  display: inline-block;
  color: #cb0015;
}

.complete {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 482px;
  padding: 7rem;
}

@media only screen and (max-width: 768px) {
  .complete {
    height: calc(100vh - 14rem);
    padding: 7rem 0;
  }
}

.complete__title {
  margin: 0;
  margin-bottom: 3.6rem;
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: .1em;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .complete__title {
    font-size: 2.8rem;
  }
}

.complete__desc {
  font-size: 1.6rem;
  line-height: 1.8;
  letter-spacing: 0;
  text-align: left;
}

.complete .complete__desc + .complete__desc {
  margin-top: 2.6rem;
}

.complete .complete__button {
  display: inline-block;
  width: 100%;
  height: 5.6rem;
  max-width: 31rem;
  margin: 4rem auto 0;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 5.6rem;
  background-color: #cb0015;
  border-radius: 50rem;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 480px) {
  .complete .complete__button {
    max-width: 100%;
  }
}

.complete .complete__button:hover {
  background-color: #e8253a;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  opacity: .7;
}

.display__none {
  display: none !important;
}

.active {
  display: block !important;
}

.auth--top {
  text-align: center;
}

.auth--top__logo {
  width: 150px;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.auth--top__text {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 300;
}

.tokkyo__title {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.2rem;
}

@media only screen and (max-width: 768px) {
  .tokkyo__title {
    font-size: 1.8rem;
  }
}

.tokkyo--state--applying {
  display: inline-block;
  padding: 3px 4px;
  margin-bottom: 3rem;
  color: #ffffff;
  font-size: 1rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: #cb0015;
}

.tokkyo--state--management {
  display: inline-block;
  padding: 3px 4px;
  margin-bottom: 3rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  background-color: #003686;
}

.common__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.common__form__title {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.common__form__title--gray--bg {
  padding: 1.2rem 1rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.8;
  background-color: #f8f8f8;
}

.common__form__title--gray--bg:not(:first-of-type) {
  margin-bottom: 1rem;
}

.common__title {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2;
}

.file__item {
  margin-right: .8rem;
  font-size: 1.6rem;
  list-style: none;
}

@media only screen and (max-width: 768px) {
  .file__item {
    font-size: 1.4rem;
  }
}

.file__item:first-of-type {
  margin-bottom: 1rem;
}

.file__item__link {
  color: #cb0015;
  font-size: 1.2rem;
  border-bottom: 1px solid #cb0015;
}

/* 2021/03/17 nana XD 101 */
.p-applicantContact__status {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.p-applicantContact__status--mt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
}

.p-applicantContact__title {
  font-size: 1.6rem;
  font-weight: normal;
}

.p-applicantContact__form {
  padding: 0 0 15px !important;
  border: none !important;
}

.p-applicantContact__form:first-of-type {
  margin-top: 1.5rem !important;
}

.p-applicantContact__form input[type="radio"] {
  width: 16px;
}

.p-applicantContact__form__title {
  margin-top: 0 !important;
  font-size: 1.6rem !important;
  font-weight: normal !important;
}

.p-applicantContact__textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 40px !important;
}

.p-applicantContact__btn {
  padding-top: 0 !important;
}

.p-applicantContact__btn--b {
  max-width: 33.4rem !important;
}

/* XD 100 */
.p-applicantReport {
  margin-bottom: 40px;
}

.p-applicantReport__reportTxt {
  padding: 15px 0 15px 15px;
  margin: 0;
  font-size: 1.6rem;
  font-weight: 500;
  background: #f8f8f8;
  border-bottom: 1px solid #ffffff;
}

.p-applicantReport__reportWrap {
  padding: 15px 0 0 15px;
  margin-bottom: 0 !important;
  background: #f8f8f8;
}

.p-applicantReport__reportWrap__img {
  width: 4rem !important;
  height: 4rem !important;
}

.p-applicantReport__reportWrap__text {
  margin-top: 6px;
}

.p-applicantReport__reportWrap--fw {
  font-weight: 500 !important;
}

.p-applicantReport__name {
  padding: 15px 0 15px 15px;
  background: #f8f8f8;
}

.p-applicantReport__name__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.p-applicantReport__name__flex p {
  font-size: 1.4rem;
}

@media only screen and (max-width: 768px) {
  .p-applicantReport__name__flex p {
    font-size: 1.2rem;
  }
}

.p-applicantReport__name__flex--mt {
  margin-top: 15px;
}

.p-applicantReport__name__flex--w {
  width: 200px;
  font-weight: 500;
  white-space: nowrap;
}

.p-applicantReport__name__flex--fw {
  width: 80%;
  font-weight: 300;
}

.mt-30 {
  margin-top: 3rem;
}

.complete--page {
  min-height: calc(480px - 80px);
}

.complete__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  max-width: 540px;
  margin: 0 auto;
}

.complete__title {
  margin-bottom: 4rem;
  font-size: 3.2rem;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .complete__title {
    font-size: 2.8rem;
  }
}

.complete__text {
  margin-bottom: 4rem;
  font-size: 1.6rem;
  line-height: 1.8;
  letter-spacing: .04em;
}

@media only screen and (max-width: 768px) {
  .complete__text {
    font-size: 1.6rem;
  }
}

ion-router-link::shadow {
  color: blue !important;
}

.pagination__box {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 4rem;
}

.pagination__box .topend {
  width: 80px;
  height: 36px;
}

@media only screen and (max-width: 768px) {
  .pagination__box .topend {
    width: 45px;
  }
}

.pagination__box #active {
  width: 34px;
  height: 34px;
  color: #cb0015;
  line-height: 34px;
  background-color: #ffffff;
  border: 1px #cb0015 solid;
}

.pagination--dot {
  margin-right: 1rem;
  color: #222222;
  line-height: 36px;
}

@media only screen and (max-width: 768px) {
  .pagination--dot {
    margin-right: .4rem;
  }
}

.pagination__item {
  display: block;
  width: 36px;
  height: 36px;
  color: #ffffff;
  font-size: 1.4rem;
  line-height: 36px;
  text-align: center;
  background-color: #cb0015;
}

.pagination__item:not(:last-of-type) {
  margin-right: 1rem;
}

@media only screen and (max-width: 768px) {
  .pagination__item:not(:last-of-type) {
    margin-right: .4rem;
  }
}

@media only screen and (max-width: 768px) {
  .pagination__item {
    font-size: 1rem;
  }
}

.validate__text {
  margin-top: -1rem;
  margin-bottom: 2rem;
  color: red;
}

.accordion__edit__text {
  position: relative;
  margin-left: 2rem;
  color: #cb0015;
  font-size: 1.2rem;
  font-weight: 600;
  -webkit-transition: .3s;
  transition: .3s;
}

.accordion__edit__text:hover {
  opacity: .7;
}

.accordion__edit__text:after {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: calc(100% - 16px);
  height: 2px;
  content: "";
  background-color: #cb0015;
}

.accordion__edit__text img {
  position: relative;
  top: 1px;
  margin-left: .5rem;
}
